<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<!--<script type="text/javascript" src="js/jq_ajax_config.js" ></script>-->
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/view_filter.js"></script>
		<script type="text/javascript" src="js/menu_const.js"></script>

		<style>
			.el-aside {
				color: white;
				width: auto !important;
			}
			
			.el-aside .el-menu-item:hover {
				background-color: rgb(81, 118, 148) !important;
			}
			
			.el-submenu__title:hover {
				background-color: rgb(81, 118, 148) !important;
			}
			
			h3 {
				margin-top: 16px;
			}
			
			.el-submenu__icon-arrow {
				color: white !important;
			}
			
			.el-submenu .el-menu-item {
				/* 防止多层级边框溢出 */
				min-width: 199px;
			}
			/* 切换效果 */
			
			.el-menu-vertical-demo:not(.el-menu--collapse) {
				width: 200px;
				min-height: 400px;
			}
			
			.el-menu--horizontal>.el-menu-item.is-active {
				border-bottom: none !important;
			}
		</style>
	</head>

	<body>
		<el-container id="indexVm">
			<el-container>
				<el-aside>
					<el-menu class="el-menu-vertical-demo" default-active="1" background-color="rgb(47,64,80)" active-text-color="#409eff" text-color="#fff" :collapse="cols">
						<el-menu-item>
							<i class="el-icon-menu" style="font-size: 24px;vertical-align: middle;"></i>
							<span>德召文汽修系统</span>
						</el-menu-item>
						<el-menu-item index="1" style="border-top: 1px solid black;" @click="toUrl('Main.html')">
							<div>
								<i class="el-icon-s-home"></i><span>主页</span>
							</div>
						</el-menu-item>
						<el-submenu v-for="(temp,i) in userfuns" v-if="temp.fpid==0" :index="i+1" :class="i">
							<template slot="title">
								<i class="el-icon-s-custom" style="color: white;"></i>
								<span>{{temp.fname}}</span>
							</template>
							<!--子项-->
							<el-menu-item v-for="(item,index) in userfuns" :index=i+1+"-"+(index+1) v-if="item.fpid==temp.fid" @click="To(item.fcode)">{{item.fname}}</el-menu-item>
						</el-submenu>
						</el-submenu>
						<!--填充侧边容器-->
						<div style="margin-top: 340px;"></div>
					</el-menu>

				</el-aside>
				<el-main>
					<!--上部分导航条-->
					<el-menu mode="horizontal">
						<el-menu-item index="1">
							<el-button type="text" v-if="cols==false" @click="cols=true">收起</el-button>
							<el-button type="text" v-if="cols==true" @click="cols=false">展开</el-button>
							<span style="margin-left: 940px;"></span>
							<el-dropdown>
								<el-avatar src="images/background3.jpg"></el-avatar>
								<el-dropdown-menu slot="dropdown">
									<el-dropdown-item>
										<a href="javascript:;" @click="dialogFormVisible = true">修改密码</a>
									</el-dropdown-item>
									<el-dropdown-item divided>
										<a href="javascript:;" @click="loginOut">退出登录</a>
									</el-dropdown-item>
								</el-dropdown-menu>
							</el-dropdown>
							<span style="margin-left: 30px;"></span>
							<el-popover placement="bottom" width="200" trigger="hover">
								<div>暂无新消息</div>
								<i class="el-icon-message" style="font-size: 22px;" slot="reference"></i>
							</el-popover>
						</el-menu-item>
					</el-menu>
					<el-dialog title="修改密码" :visible.sync="dialogFormVisible">
						<span id="" style="width: 10%;">旧密码: </span><el-input placeholder="请输入旧密码" v-model="pass.oldpwd" @blur="checkoldpwd" show-password style="width: 90%;"></el-input><br /><br />
						<span id="" style="width: 10%;">新密码: </span><el-input placeholder="请输入新密码" v-model="pass.newpwd" @blur="checknewpwd" show-password style="width: 90%;"></el-input><br /><br />
						<span id="" style="width: 10%;">确认密码:</span><el-input placeholder="请再次输入密码" v-model="pass.checkpwd" @blur="checkpwd" show-password style="width: 90%;"></el-input>
						<div slot="footer" class="dialog-footer">
							<el-button @click="dialogFormVisible = false">取 消</el-button>
							<el-button type="primary" @click="updatepwd">保 存</el-button>
						</div>
					</el-dialog>

					<!--主体内容-->
					<div id="cnt"></div>
				</el-main>
			</el-container>
		</el-container>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/totree.js"></script>
	<script>
		var indexVm = new Vue({
			el: '#indexVm',
			data: {
				updatePwd: false,
				dialogFormVisible: false,
				cols: false,
				sz: [],
				dialogVisible: false,
				dialogVisible1: false,
				radio: '1',
				checked: false,
				checked1: false,
				checked2: false,
				checked3: false,
				userfuns: {},
				users: {},
				pass: {
					oldpwd: '',
					newpwd: '',
					checkpwd: ''
				}

			},
			methods: {
				To(fcode) {
					$("#cnt").load(window.menuMapping[fcode]);
				},
				toUrl(url) {
					$("#cnt").load(url);
				},
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				},
				loginOut() {
					if(confirm('确定退出登录吗？')) {
						window.sessionStorage.clear();
						location.href = 'login.html';
					}
				},
				toTree(data, id, pid, name) {
					this.userfuns = window, toTreeData(data, id, pid, name);
				},
				checkoldpwd() {
					let _this = this;
					if(this.pass.oldpwd != this.users.pwd) {
						_this.$message.error('旧密码输入不正确！');
						_this.updatePwd = false;
					}else{
						_this.updatePwd = true;
					}
				},
				checknewpwd() {
					let _this = this;
					if(this.pass.newpwd == "") {
						_this.$message({
							message: '新密码不能为空',
							type: 'warning'
						});
						_this.updatePwd = false;
					}else{
						_this.updatePwd = true;
					}
				},
				checkpwd() {
					let _this = this;
					if(this.pass.checkpwd != this.pass.newpwd) {
						_this.$message({
							message: '两次密码输入不一致',
							type: 'warning'
						});
						_this.updatePwd = false;
					}else{
						_this.updatePwd = true;
					}
				},
				updatepwd(){
					let _this = this;
					if(_this.updatePwd){
						_this.users.pwd=_this.pass.newpwd;
						$.ajax(`http://127.0.0.1:8080/zkx/api/user/u`,{
							type:"put",
							dataType:"json",
							contentType:"application/json",
							data:JSON.stringify(_this.users),
							success(res){
								if(res>0){
									alert('修改成功，请重新登录');
									sessionStorage.clear();
									location.href='login.html';
								}
							}
						});
					}else{
						_this.$message.error('请正确填写表单内容！');
					}
				}
			},
			mounted() {
				let _this = this;
				this.To('sy');
				console.info(sessionStorage.getItem("user"));
				this.users = JSON.parse(sessionStorage.getItem("user"));

				$.getJSON(`http://127.0.0.1:8080/zkx/api/funs/${this.users.user}/${this.users.pwd}`, function(funs) {
					_this.userfuns = funs;
					localStorage.setItem("funs", JSON.stringify(_this.userfuns));
					console.info(JSON.stringify(_this.userfuns));
				})
			}
		});
	</script>

</html>