<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<!--<script type="text/javascript" src="js/jq_ajax_config.js" ></script>-->
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/view_filter.js"></script>
		<script type="text/javascript" src="js/menu_const.js" ></script>

		<style>
			.el-aside {
				color: white;
				width: auto !important;
			}
			
			.el-aside .el-menu-item:hover {
				background-color: rgb(81, 118, 148) !important;
			}
			
			.el-submenu__title:hover {
				background-color: rgb(81, 118, 148) !important;
			}
			
			h3 {
				margin-top: 16px;
			}
			
			.el-submenu__icon-arrow {
				color: white !important;
			}
			
			.el-submenu .el-menu-item {
				/* 防止多层级边框溢出 */
				min-width: 199px;
			}
			/* 切换效果 */
			
			.el-menu-vertical-demo:not(.el-menu--collapse) {
				width: 200px;
				min-height: 400px;
			}
			
			.el-menu--horizontal>.el-menu-item.is-active {
				border-bottom: none !important;
			}
		</style>
	</head>

	<body>
		<el-container id="indexVm">
			<el-container>
				<el-aside>
					<el-menu class="el-menu-vertical-demo" default-active="1" background-color="rgb(47,64,80)" active-text-color="#409eff" text-color="#fff" :collapse="cols">
						<el-menu-item>
							<i class="el-icon-menu" style="font-size: 24px;vertical-align: middle;"></i>
							<span>德召文汽修系统</span>
						</el-menu-item>
						<el-menu-item index="1" style="border-top: 1px solid black;" @click="To('Main.html')">
							<div>
								<i class="el-icon-s-home"></i><span>主页</span>
							</div>
						</el-menu-item>
						<el-submenu v-for="(temp,i) in userfuns" v-if="temp.fpid==0" :index=i+1 :class="i">
							<template slot="title">
								<i class="el-icon-s-custom" style="color: white;"></i>
								<span>{{temp.fname}}</span>
							</template>
							<!--子项-->
							<el-menu-item v-for="(item,index) in userfuns" v-if="item.fpid==temp.fid" @click="To(item.fcode)">{{item.fname}}</el-menu-item>
							<!--<el-menu-item index="7-2" @click="To('/dzw_ui/ui/sw/vip.html')">会员充值卡管理</el-menu-item>-->
						</el-submenu>
						</el-submenu>
						<!--填充侧边容器-->
						<div style="margin-top: 340px;"></div>
					</el-menu>

				</el-aside>
				<el-main>
					<!--上部分导航条-->
					<el-menu mode="horizontal">
						<el-menu-item index="1">
							<el-button type="text" v-if="cols==false" @click="cols=true">收起</el-button>
							<el-button type="text" v-if="cols==true" @click="cols=false">展开</el-button>
							<span style="margin-left: 940px;"></span>
							<el-dropdown>
								<el-avatar src="images/background3.jpg"></el-avatar>
								<el-dropdown-menu slot="dropdown">
									<el-dropdown-item>个人信息</el-dropdown-item>
									<el-dropdown-item>修改密码</el-dropdown-item>
									<el-dropdown-item divided>
										<a href="javascript:;" @click="loginOut">退出登录</a>
									</el-dropdown-item>
								</el-dropdown-menu>
							</el-dropdown>
							<span style="margin-left: 30px;"></span>
							<el-popover placement="bottom" width="200" trigger="hover">
								<div>暂无新消息</div>
								<i class="el-icon-message" style="font-size: 22px;" slot="reference"></i>
							</el-popover>
						</el-menu-item>
					</el-menu>

					<!--主体内容-->
					<div id="cnt"></div>
				</el-main>
			</el-container>
		</el-container>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/totree.js"></script>
	<script>
		var indexVm = new Vue({
			el: '#indexVm',
			data: {
				cols: false,
				sz: [],
				dialogVisible: false,
				dialogVisible1: false,
				radio: '1',
				checked: false,
				checked1: false,
				checked2: false,
				checked3: false,
				userfuns: []
			},
			methods: {
				To(fcode) {
					$("#cnt").load(window.menuMapping[fcode]);
				},
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				},
				loginOut() {
					if(confirm('确定退出登录吗？')) {
						window.sessionStorage.clear();
						location.href = 'login.html';
					}
				},
				toTree(data,id,pid,name){
					this.userfuns=window,toTreeData(data,id,pid,name);
				}
			},
			mounted() {
				let _this = this;
				this.To('Main.html');
				console.info(sessionStorage.getItem("user"));
				let users = JSON.parse(sessionStorage.getItem("user"));
				
				$.getJSON(`http://127.0.0.1:8080/zkx/api/funs/${users.user}/${users.pwd}`, function(funs) {
					_this.userfuns=funs;
					localStorage.setItem("funs", JSON.stringify(_this.userfuns));
					console.info(JSON.stringify(_this.userfuns));
				})
			}
		});
	</script>

</html>