<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
			}
			
			.bg-purple-dark {
				background: #FAF8F6;
			}
			
			.bg-purple {
				background: #FAF8F6;
			}
			
			.bg-purple-light {
				background: #FAF8F6;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FAF8F6;
			}
		</style>
	</head>

	<body>
		<div id="cheVm">

			<el-row>
				<el-col :span="12">
					<div class="grid-content bg-purple">
						<h1 style="margin-left: 10px;">       外勤车辆信息</h1>
					</div>
				</el-col>
				<p></p>
				<h></h>
				
				<el-button type="primary" plain @click="addBanzu">添加外勤车辆</el-button>
				
				
				<el-row>
					<el-col :span="24">
						<div class="grid-content bg-purple-dark">
							<template>				
						<el-table :data="vehicleInfo.list" border style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
								<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
									<el-button type="text" v-if="temp.value==0" @click="delOne(scope.row.kaid)">删除</el-button>
									<el-button type="text" v-if="temp.value==0" @click="queryBySid(scope.row.kaid)">修改</el-button>									
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo.pageSize">
						</template>
						</div>
					</el-col>
				</el-row>
				<el-dialog title="新增外勤车辆" :visible.sync="add" width="30%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
						<el-form-item label="车牌号">
							<el-input v-model="formLabelAlign.kano"></el-input>
						</el-form-item>
						<el-form-item label="品牌">
							<el-input v-model="formLabelAlign.kapp"></el-input>
						</el-form-item>
						<el-form-item label="车型">
							<el-input v-model="formLabelAlign.katype"></el-input>
						</el-form-item>
						<el-button type="text" @click="queryBanzuList(1,3)" style="width: 340px;margin-right: 40px;">归属班组
								<el-input v-model="formLabelAlign.bzname" placeholder="请选择"></el-input>
							</el-button>			
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="add = false">取 消</el-button>
   				 <el-button type="primary" @click="addall">保存</el-button>
  				</span>
			</el-dialog>
			
			<el-dialog title="修改外勤车辆" :visible.sync="modify" width="30%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" label-width="80px" :model="carlist">
						<el-form-item label="车牌号">
							<el-input v-model="carlist.kano"></el-input>
						</el-form-item>
						<el-form-item label="品牌">
							<el-input v-model="carlist.kapp"></el-input>
						</el-form-item>
						<el-form-item label="车型">
							<el-input v-model="carlist.katype"></el-input>
						</el-form-item>
						<el-form-item label="当前里程">
							<el-input v-model="carlist.kalc"></el-input>
						</el-form-item>
						<el-button type="text" @click="queryBanzuList(1,3)" style="width: 340px;margin-right: 40px;">归属班组
								<el-input v-model="carlist.bzname"></el-input>
							</el-button>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modify = false">取 消</el-button>
   				 <el-button type="primary" @click="modifyall">保存</el-button>
  				</span>
			</el-dialog>
			
			<el-dialog title="班组" :visible.sync="isShow3" style="width: 50%;margin-left: 400px;">
						<template>
							
							<el-table :data="queryBanzuListValue.list" border style="width: 100%">
								<el-table-column fixed prop="bzid" label="班组id">
								</el-table-column>
								<el-table-column prop="bzname" label="班组名称">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check2(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.queryBanzuListValue.pages*10">
							</el-pagination>
						</div>
					</el-dialog>

			
				<template>
					<el-tabs v-model="activeName" type="border-card">
						<el-tab-pane label="空闲车辆信息" name="first">
							<el-row>
								<el-col :span="24">
									<div class="grid-content bg-purple-dark">
										<template>
											<el-table :data="vehicleInfo2.list" border style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy2" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
								<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
									<!--<el-button type="text" v-if="temp.value==0" @click="delOne(scope.row.kaid)">删除</el-button>
									<el-button type="text" v-if="temp.value==0" @click="queryBySid(scope.row.kaid)">修改</el-button>									-->
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec2" @current-change="change2" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo2.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo2.pageSize">
									</template>									
									</div>
								</el-col>
							</el-row>
						</el-tab-pane>
						<el-tab-pane label="救援中的车辆" name="second">
							<el-row>
								<el-col :span="24">
									<div class="grid-content bg-purple-dark">
										<template>
											<el-table :data="vehicleInfo3.list" border style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy3" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
								<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>							
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec3" @current-change="change3" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo3.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo3.pageSize">
										</template>
										
									</div>
								</el-col>
							</el-row>
						</el-tab-pane>
						<el-tab-pane label="待收车" name="second22">
							<el-row>
								<el-col :span="24">
									<div class="grid-content bg-purple-dark">
										<template>
											<el-table :data="vehicleInfo4.list" border style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy4" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
								<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
									<el-button type="text" v-if="temp.value==0" @click="modifyKahceStarEqo(scope.row.kaid)">收车</el-button>									
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec4" @current-change="change4" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo4.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo4.pageSize">
										</template>
										
									</div>
								</el-col>
							</el-row>
						</el-tab-pane>
				</template>
		</div>
	</body>
	<script>
		var cheVm = new Vue({
			el: '#cheVm',
			data: {
				formLabelAlign:{
					kano:'',
					kapp:'',
					katype:'',
					/*kalc:'',*/
					bzid:'',
				},
				activeName: 'first',
				isShow3:false,
				bzname:'',
				add: false,
				modify: false,
				labelPosition:'right',
				queryBanzuListValue:{},
				piges: {},
				carlist: [],
				list: [],
				stsy: [{
					name: '车牌号',
					value: 'kano'
				}, {
					name: '品牌',
					value: 'kapp'
				}, {
					name: '车型',
					value: 'katype'
				}, {
					name: '当前里程',
					value: 'kalc'
				},
				{
					name: '归属班组',
					value: 'bzname'
				},
				{
					name: '操作',
					value: '0'
				}],
				stsy2: [{
					name: '车牌号',
					value: 'kano'
				}, {
					name: '品牌',
					value: 'kapp'
				}, {
					name: '车型',
					value: 'katype'
				}, {
					name: '当前里程',
					value: 'kalc'
				},
				{
					name: '归属班组',
					value: 'bzname'
				}],
				stsy3: [{
					name: '车牌号',
					value: 'kano'
				}, {
					name: '品牌',
					value: 'kapp'
				}, {
					name: '车型',
					value: 'katype'
				}, {
					name: '当前里程',
					value: 'kalc'
				},
				{
					name: '归属班组',
					value: 'bzname'
				}],
				stsy4: [{
					name: '车牌号',
					value: 'kano'
				}, {
					name: '品牌',
					value: 'kapp'
				}, {
					name: '车型',
					value: 'katype'
				}, {
					name: '当前里程',
					value: 'kalc'
				},
				{
					name: '归属班组',
					value: 'bzname'
				},
				{
					name: '操作',
					value: '0'
				}],
				vehicleInfo:[],
				vehicleInfo2:[],
				vehicleInfo3:[],
				vehicleInfo4:[],
			},
			methods: {
				addBanzu(){
					let _this = this;
					_this.add = true;
					

				},
				//删除方法
				delOne(kaid) {
					//alert(kaid)					
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://127.0.0.1:8080/zzy/api/kache/deleteKache/${kaid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.page(1,5);
								} else {
									alert("删除失败");
								}
							}
						});
					}
				},
				prev2(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*下一页发动机查询*/
				next2(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*当前页发动机查询*/
				current2(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check2(row) {
					this.formLabelAlign.bzname = row.bzname;
					this.isShow3 = false;
					this.formLabelAlign.bzid=row.bzid;
					this.carlist.bzname=row.bzname;
					this.carlist.bzid=row.bzid;
				},queryBanzuList(n, s) {
					let _this = this;
					_this.isShow3 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/banzu/queryBanzuAll/${n}/${s}`, function(pg) {
						_this.queryBanzuListValue = pg;
					});
				},
				
				//分页查询数据
				page(pageNum, pageSize) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/kache/queryKache/${pageNum}/${pageSize}`, function(pg) {
						_this.vehicleInfo = pg;
						_this.list = pg.list;
						/*alert(JSON.stringify(pg.list))*/
					});
				},
				
				//页数改变事件
				change(num) {
					let _this = this;
					this.page(num, _this.vehicleInfo.pageSize);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size);
				},
				//分页查询卡车状态为0
				queryKacheByStaro(pageNum, pageSize) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/kache/queryKacheByStaro/${pageNum}/${pageSize}`, function(pg) {
						_this.vehicleInfo2 = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},
				
				//页数改变事件
				change2(num) {
					let _this = this;
					this.queryKacheByStaro(num, _this.vehicleInfo2.pageSize);
				},
				//pageSize选择事件
				sizec2(size) {
					this.queryKacheByStaro(1, size);
				},
				//分页查询卡车状态为1
				queryKacheByStarqq(pageNum, pageSize) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/kache/queryKacheByStarl/${pageNum}/${pageSize}`, function(pg) {
						_this.vehicleInfo3 = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},				
				//页数改变事件
				change3(num) {
					let _this = this;
					this.queryKacheByStarqq(num, _this.vehicleInfo3.pageSize);
				},
				//pageSize选择事件
				sizec3(size) {
					this.queryKacheByStarqq(1, size);
				},
				//分页查询卡车状态为1
				queryKacheByStarc(pageNum, pageSize) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/kache/queryKacheByStarc/${pageNum}/${pageSize}`, function(pg) {
						_this.vehicleInfo4 = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},				
				//页数改变事件
				change4(num) {
					let _this = this;
					this.queryKacheByStarqq(num, _this.vehicleInfo4.pageSize);
				},
				//pageSize选择事件
				sizec4(size) {
					this.queryKacheByStarc(1, size);
				},
				//根据sid查询状态信息
				queryBySid(kaid){
					//alert(kaid)
					let _this = this;	
					_this.modify = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/kache/queryKacheByid/${kaid}`,function(pg) {
						_this.carlist = pg;
					});
				},
				//修改数据 
				modifyall() {
					let _this=this;
//					alert(JSON.stringify(_this.carlist))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/kache/modifyKache/{kache}",{
						type:'put',
						data:JSON.stringify(_this.carlist),
						contentType: 'application/json; charset=UTF-8',
						success(data){
							if(data=="ok"){
								alert("修改失败！");
							}else{							
								alert("修改成功！");
								_this.modify = false;
								_this.page(1,3);
								_this.queryKacheByStaro(1, 3);
								_this.queryKacheByStarqq(1, 3);
								_this.queryKacheByStarc(1,3);
							}
						}
					});
				},
				//修改状态
				
				modifyKahceStarEqo(kaid) {
					alert(kaid)
					let _this=this;
					//alert(JSON.stringify(kaid)
					if(window.confirm('是否确定收车？')) {
						$.getJSON(`http://127.0.0.1:8080/zzy/api/kache/modifyKahceStarEqo/${kaid}`, function(date) {
							if(date=="ok"){
								alert("收车失败！");
							}else{
								alert("收车成功！");
								_this.modify = false;
								_this.page(1,3);
								_this.queryKacheByStaro(1, 3);
								_this.queryKacheByStarqq(1, 3);
								_this.queryKacheByStarc(1,3);
							}
						
					});						
					}
				},
				//添加数据
				addall() {
					let _this=this;					
					/*alert(JSON.stringify(_this.formLabelAlign))*/
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/kache/addkache",{
						type:'post',
						dataType:"json",
						data:JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data){						
							if(data=="ok"){
								alert("新增失败！");
							}else{
								alert("新增成功！");
								_this.add = false;
								_this.page(1,5);
								
							}
						}
					});
				}
			},
			mounted() {
				this.page(1, 3);
				this.queryKacheByStaro(1, 3);
				this.queryKacheByStarqq(1, 3);
				this.queryKacheByStarc(1, 3);
			}
		});
	</script>

</html>