<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>技工星级</title>
		<style>
			/* 请为你的每个页面设置一个内边距 */
			
			#fish {
				padding-left: 5px;
				
			}
		</style>
	</head>

	<body>
		<!--绑定vue引擎，命名：页面名字+Vm-->
		<div id="fish">
			<el-row>
				<el-col :span="24">
					<template>
						<!--<el-button type="button" class="btn btn-success btn-block" id="generate-excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 将表格转换为Excel</el-button>-->
							<el-button type="primary" plain @click="add = true">添加数据</el-button>
							
						<el-table :data="vehicleInfo.list" border style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
									<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
									<el-button type="text" v-if="temp.value==0" @click="delOne(scope.row.sid)">删除</el-button>
									<el-button type="text" v-if="temp.value==0" @click="queryBySid(scope.row.sid)">修改</el-button>							
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo.pageSize">
					</template>
				
				</el-col>
			</el-row>
			<el-dialog title="新增等级" :visible.sync="add" width="30%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
						<!--<el-form-item label="等级编码">
							<el-input v-model="formLabelAlign.sid"></el-input>
						</el-form-item>-->
						<el-form-item label="等级名称">
							<el-input v-model="formLabelAlign.sname"></el-input>
						</el-form-item>
						<el-form-item label="工时费">
							<el-input v-model="formLabelAlign.ticheng"></el-input>
						</el-form-item>
						<!--<el-form-item label="时长">
							<el-input v-model="formLabelAlign.worktime"></el-input>
						</el-form-item>-->
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="add = false">取 消</el-button>
   				 <el-button type="primary" @click="addall">保存</el-button>
  				</span>
			</el-dialog>
			
			<el-dialog title="修改等级" :visible.sync="modify" width="30%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" label-width="80px" :model="carlist">
						<el-form-item label="等级编码">
							<el-input v-model="carlist.sid" readonly></el-input>
						</el-form-item>
						<el-form-item label="等级名称">
							<el-input v-model="carlist.sname"></el-input>
						</el-form-item>
						<el-form-item label="工时费">
							<el-input v-model="carlist.ticheng"></el-input>
						</el-form-item>
						<!--<el-form-item label="时长">
							<el-input v-model="carlist.worktime"></el-input>
						</el-form-item>-->
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modify = false">取 消</el-button>
   				 <el-button type="primary" @click="modifyall">保存</el-button>
  				</span>
			</el-dialog>
			
		</div>
	</body>
	<script>
		var fish = new Vue({
			el: '#fish',
			data: {
				formLabelAlign:{
					/*sid:'',*/
					sname:'',
					ticheng:'',
					worktime:'',
				},
				readonly: true,
				add: false,
				modify:false,
				piges: {},
				carlist: [],
				list: [],
				vehicleInfo:[],
				stsy: [{
					name: '等级编码',
					value: 'sid'
				}, {
					name: '等级名称',
					value: 'sname'
				}, {
					name: '工时费/小时',
					value: 'ticheng'
				}, {
					name: '操作',
					value: '0'
				}],
				
			},
			methods: {
				//删除方法
				delOne(sid) {
					//alert(sid)					
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://127.0.0.1:8080/zzy/api/class1/deleteStar/${sid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.page(1,5);
								} else {
									alert("删除失败");
								}
							}
						});
					}
					/*let _this = this;
					if(confirm("确认删除？")) {
						$.getJSON(`http://127.0.0.1:8080/zzy/api/class1/deleteStar/${sid}`,function(data) {
							alert("删除成功！");
							_this.page(1,5);
						});
					}*/
				},
				//分页查询
				page(n,s) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/class1/queryStarAll/${n}/${s}`,function(pg) {
						_this.vehicleInfo = pg;
						_this.list = pg.list;						
					});
				},
				//页数改变事件

				change(num) {
					let _this = this;
					this.page(num, _this.vehicleInfo.pageSize);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size);
				},
				//根据sid查询状态信息
				queryBySid(sid){
					//alert(sid)
					let _this = this;	
					_this.modify = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/class1/queryStarBySid/${sid}`,function(pg) {
						_this.carlist = pg;							
					});
				},
				//修改数据
				modifyall() {
					let _this=this;
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/class1/modifStar/{star}",{
						type:'put',
						data:JSON.stringify(_this.carlist),
						contentType: 'application/json; charset=UTF-8',
						success(data){
							if(data=="ok"){
								alert("修改失败！");
							}else{							
								alert("修改成功！");
								_this.modify = false;
								_this.page(1,5);
							}
						}
					});
				},
				//添加数据
				addall() {
					let _this=this;
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/class1/addStar/{star}",{
						type:'post',
						data:JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data){
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
								_this.add = false;
								_this.page(1,5);
								//location.reload();
							}
						}
					});
				}
			},
			mounted() {
				let _this = this;
				_this.page(1, 5);
			}
		});
	</script>

</html>