<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商品资料</title>
		<style>
			/* 请为你的每个页面设置一个内边距 */			
			#fish {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<!--绑定vue引擎，命名：页面名字+Vm-->
		<div id="fish">
			<el-row>
				  <el-col :span="24">
					  <el-form :model="cominfo" inline="true">
						<el-form-item label="商品名称：">
							<el-input type="text" v-model="proname" placeholder="支持模糊搜索"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="success" plain @click="page(1,5,proname)">查询</el-button>
							<el-button type="primary" plain @click="addSpzl">添加数据</el-button>
						</el-form-item>
					  </el-form>
				  </el-col>
				</el-row>
			<el-row>				
				<el-col :span="24">
					<template>
						<!--<el-button type="button" class="btn btn-success btn-block" id="generate-excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 将表格转换为Excel</el-button>-->				
						<el-table :data="carlist.list" style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
									<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
<!--									<el-button type="primary" plain v-if="temp.value==0" @click="delOne(scope.row.teamno)">删除</el-button><br/>
-->									<el-button type="text" v-if="temp.value==0" @click="queryBySid(scope.row.proid)">修改</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="carlist.total" :page-sizes="[1,2,3,4,5]" :page-size="carlist.pageSize">
					</template>
				</el-col>
			</el-row>
			<el-dialog title="新增商品资料" :visible.sync="add" width="60%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :rules="rules" :inline="true" label-width="80px" :model="formLabelAlign">
						<el-form-item label="商品名称" prop="proname">
							<el-input v-model="formLabelAlign.proname"></el-input>
						</el-form-item>
						<el-form-item label="商品品牌" prop="propp">
							<el-input v-model="formLabelAlign.propp"></el-input>
						</el-form-item>
						<el-form-item label="商品数量" prop="pronum">
							<el-input v-model="formLabelAlign.pronum"></el-input>
						</el-form-item>
						<el-form-item label="数量单位" prop="prodw">
							<el-input v-model="formLabelAlign.prodw"></el-input>
						</el-form-item>
						<el-form-item label="商品价格" prop="proprice">
							<el-input v-model="formLabelAlign.proprice"></el-input>
						</el-form-item>
						<el-form-item label="供应商" prop="ghname">
						<el-button type="text" @click="queryGonghuoList(1,3)" style="width: 210px;margin-right: 0px;margin-top: -10px;">
								<el-input v-model="formLabelAlign.ghname" placeholder="请选择供货商"></el-input>
							</el-button>
							</el-form-item>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="add = false">取 消</el-button>
   				 <el-button type="primary" @click="addall">保存</el-button>
  				</span>
			</el-dialog>

						<el-dialog title="供货商" :visible.sync="isShow3" style="width: 50%;margin-left: 400px;">
							<template>
							<el-table :data="queryGonghuoListValue.list" border style="width: 100%">
								<el-table-column fixed prop="ghid" label="班组id">
								</el-table-column>
								<el-table-column prop="ghname" label="班组名称">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check2(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.queryGonghuoListValue.pages*10">
							</el-pagination>
						</div>
					</el-dialog>

			<el-dialog title="修改商品资料" :visible.sync="modify" width="60%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :rules="rules" :inline="true" label-width="80px" :model="teams">
						<template>
						  <el-radio  v-model="teams.prostar" label="1">停用</el-radio>
						 <el-radio v-model="teams.prostar" label="0">通过</el-radio>
						</template><br />
						<el-form-item label="商品编码">
							<el-input v-model="teams.proid"></el-input>
						</el-form-item>
						<el-form-item label="商品名称" prop="proname">
							<el-input v-model="teams.proname"></el-input>
						</el-form-item>
						<el-form-item label="商品数量" prop="pronum">
							<el-input v-model="teams.pronum"></el-input>
						</el-form-item>
						<el-form-item label="商品品牌" prop="propp">
							<el-input v-model="teams.propp"></el-input>
						</el-form-item>
						<el-form-item label="数量单位" prop="prodw">
							<el-input v-model="teams.prodw"></el-input>
						</el-form-item>
						<el-form-item label="商品价格" prop="proprice">
							<el-input v-model="teams.proprice" ></el-input>
						</el-form-item><br />
						<el-form-item label="供应商" prop="ghname">
						<el-button type="text" @click="queryGonghuoList(1,3)" style="width: 205px;margin-right: 300px;margin-top: -10px;">
								<el-input v-model="teams.ghname" placeholder="请选择供货商"></el-input>
						</el-button>
						</el-form-item>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modify = false">取 消</el-button>
   				 <el-button type="primary" @click="updteam">保存</el-button>
  				</span>
			</el-dialog>
		</div>
	</body>
	<script>
		
		var fish = new Vue({
			el: '#fish',
			data: {
				formLabelAlign:{},
				proname:'',
				ghname:'',
				isShow3:false,
				add: false,
				modify:false,
				piges: {},
				queryGonghuoListValue:{},
				carlist: [],
				cominfo:{
					recorddate:null,
					status:null,
					recordid:null,
				},
				list: [],
				teams:{},
				stsy: [{
						name: '商品编码',
						value: 'proid'
					}, {
						name: '商品名称',
						value: 'proname'
					}, {
						name: '商品品牌',
						value: 'propp'
					},{
						name: '商品库存',
						value: 'pronum'
					},					
					{
						name: '数量单位',
						value: 'prodw'
					},
					{
						name: '厂商地址',
						value: 'ghaddress'
					},
					{
						name: '厂商名称',
						value: 'ghname'
					},
					{
						name: '商品价格',
						value: 'proprice'
					},
					{
						name: '操作',
						value: '0'
					}
				],
				vehicleInfo:[{
					prodw:'1111',
					proid:'222',
					proname:'333',
					pronum:'444',
					propp:'2222',
					ghaddress:'1111',
					ghname:'1111',
					proprice:'222',
					comstatus:''
				}],
				rules: {
					proname: [{
						required: true,
					    message: '请输入商品名称',
					    trigger: 'blur'
					}],
					pronum: [{
						required: true,
					    message: '请输入商品品牌',
					    trigger: 'blur'
					}],propp: [{
						required: true,
						message: '请输入商品数量',
						trigger: 'blur'
					}],
					prodw: [{
						required: true,
					    message: '请输入单位',
					    trigger: 'blur'
					    }],
					proprice: [{
						required: true,
					    message: '请输入商品价格',
					    trigger: 'blur'
					    },{
					      pattern:/^\d+$|^\d+[.]?\d+$/, message: '只能输入数字'
					}],
					ghname: [{
						required: true,
					    message: '请选择供货商',
					    trigger: 'blur'
					    }]
				},
			},
			methods: {
				prev2(cpage) {
					this.queryGonghuoList(cpage, 3);
				},
				/*下一页发动机查询*/
				next2(cpage) {
					this.queryGonghuoList(cpage, 3);
				},
				/*当前页发动机查询*/
				current2(cpage) {
					this.queryGonghuoList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check2(row) {
					this.formLabelAlign.ghname = row.ghname;
					this.isShow3 = false;
					this.formLabelAlign.ghid=row.ghid;
					this.teams.ghname=row.ghname;
					this.teams.ghid=row.ghid;
				},queryGonghuoList(n, s) {
					let _this = this;
					_this.isShow3 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/gonghuo/queryGonghuoList/${n}/${s}`, function(pg) {
						_this.queryGonghuoListValue = pg;
					});
				},
				addSpzl(){
					let _this = this;
					_this.add = true;
				},
				//下拉框查询供货商
				/*queryGonghuoList() {
					let _this = this;
					//alert(1)
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/gonghuo/queryGonghuoList`, function(pg) {
						_this.queryGonghuoListValue = pg;
						//alert(JSON.stringify(_this.queryBanzuListValue))
					});
				},*/
				page(pageNum, pageSize,proname) {
					let _this = this;
						if(proname==""){
						proname=null;
					}
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/product/queryProductName/${pageNum}/${pageSize}/${proname}`,function(pg) {
						_this.carlist = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},
				//页数改变事件

				change(num) {
					let _this = this;
					this.page(num, _this.carlist.pageSize,_this.proname);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size);
				},
				//添加数据
				addall() {
					let _this = this;
					//alert(JSON.stringify(_this.formLabelAlign))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/product/addProduct", {
						type: 'post',
						data: JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data) {
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
								_this.add = false;
								_this.page(1,5,null);
								_this.formLabelAlign={
								prodw:'',
								proname:'',
								pronum:'',
								propp:'',
								ghname:'',
								proprice:'',
								}
							}
						}
					});
				},
				//根据sid查询状态信息
				queryBySid(proid){
					//alert(proid)
					let _this = this;	
					_this.modify = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/product/queryProductById/${proid}`,function(pg) {
						_this.teams = pg;
					});
				},
				updteam(){
					//console.log(this.teams);
					let _this = this;
					//alert(JSON.stringify(_this.teams))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/product/modifyProduct", {
						type: 'put',
						data: JSON.stringify(_this.teams),
						contentType: 'application/json;charset=UTF-8',
						success(data) {
							if(data == "ok") {
								alert("修改失败！");							
							} else {
								alert("修改成功！");
								_this.modify = false;
								_this.page(1,5,null);
							}
						}
					});
				}
			},
			mounted() {
				let _this = this;
				_this.page(1, 5,null);
			}
		});
	</script>

</html>