<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商品资料</title>
		<style>
			/* 请为你的每个页面设置一个内边距 */			
			#fish {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<!--绑定vue引擎，命名：页面名字+Vm-->
		<div id="fish">
			<el-row>
				  <el-col :span="24">
					  <el-form :model="cominfo" inline="true">
						<el-form-item label="商品名称：">
							<el-input v-model="cominfo.recordid" placeholder="支持模糊搜索"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="success" plain @click="ck">查询</el-button>
							<el-button type="primary" plain @click="add = true">添加数据</el-button>
						</el-form-item>
					  </el-form>
				  </el-col>
				</el-row>
			<el-row>				
				<el-col :span="24">
					<template>
						<!--<el-button type="button" class="btn btn-success btn-block" id="generate-excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 将表格转换为Excel</el-button>-->				
						<el-table :data="carlist.list" style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
									<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
<!--									<el-button type="primary" plain v-if="temp.value==0" @click="delOne(scope.row.teamno)">删除</el-button><br/>
-->									<el-button type="text" v-if="temp.value==0" @click="queryBySid(scope.row.proid)">修改</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="carlist.total" :page-sizes="[1,2,3,4,5]" :page-size="carlist.pageSize">
					</template>
				</el-col>
			</el-row>
			<el-dialog title="新增商品资料" :visible.sync="add" width="60%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :inline="true" label-width="80px" :model="formLabelAlign">
						<el-form-item label="商品名称">
							<el-input v-model="formLabelAlign.proname"></el-input>
						</el-form-item>
						<el-form-item label="商品品牌">
							<el-input v-model="formLabelAlign.propp"></el-input>
						</el-form-item>
						<el-form-item label="商品库存">
							<el-input v-model="formLabelAlign.pronum"></el-input>
						</el-form-item>
						<el-form-item label="数量单位">
							<el-input v-model="formLabelAlign.prodw"></el-input>
						</el-form-item>
						<el-form-item label="商品价格">
							<el-input v-model="formLabelAlign.proprice"></el-input>
						</el-form-item>
						<el-form-item label="供应商">
							<el-select v-model="formLabelAlign.ghid" placeholder="请选择">
				             	<el-option label="aaa供应商" value="1"></el-option>
				             	<el-option label="bbb供应商" value="2"></el-option>
				          	</el-select>						
						</el-form-item>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="add = false">取 消</el-button>
   				 <el-button type="primary" @click="addall">保存</el-button>
  				</span>
			</el-dialog>

			<el-dialog title="修改商品资料" :visible.sync="modify" width="60%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :inline="true" label-width="80px" :model="teams">
						<template>
						  <el-radio  v-model="teams.prostar" label="1">停用</el-radio>
						 <el-radio v-model="teams.prostar" label="0">通过</el-radio>
						</template><br />
						<el-form-item label="商品编码">
							<el-input v-model="teams.proid"></el-input>
						</el-form-item>
						<el-form-item label="商品名称">
							<el-input v-model="teams.proname"></el-input>
						</el-form-item>
						<el-form-item label="商品库存">
							<el-input v-model="teams.pronum"></el-input>
						</el-form-item>
						<el-form-item label="商品品牌">
							<el-input v-model="teams.propp"></el-input>
						</el-form-item>
						<el-form-item label="数量单位">
							<el-input v-model="teams.prodw"></el-input>
						</el-form-item>
						<el-form-item label="供应商">							
						 <el-select v-model="teams.ghid" placeholder="请选择">
				              <el-option
				                v-for="item in options"
				                :key="item.value"
				                :label="item.label"
				                :value="item.value"
				                :disabled="item.disabled">
				              </el-option>
				          </el-select>
						</el-form-item>		
						<el-form-item label="商品价格">
							<el-input v-model="teams.proprice"></el-input>
						</el-form-item>
						
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modify = false">取 消</el-button>
   				 <el-button type="primary" @click="updteam">保存</el-button>
  				</span>
			</el-dialog>
		</div>
	</body>
	<script>
		
		var fish = new Vue({
			el: '#fish',
			data: {
				formLabelAlign:{},
				add: false,
				modify:false,
				piges: {},
				 
				carlist: [],
				cominfo:{
					recorddate:null,
					status:null,
					recordid:null,
				},
				list: [],
				teams:{},
				options: [{
				          value: '1',
				          label: '龙哥家开的',
				
				        }, {
				          value: '2',
				          label: '供货商2',
				
				        }, {
				          value: '3',
				          label: '供货商3',
				
				        }, {
				          value: '4',
				          label: '供货商4',
				
				        }, {
				          value: '5',
				          label: '供货商5',
				
				        }],
				        value: '归属班组',
				stsy: [{
						name: '商品编码',
						value: 'proid'
					}, {
						name: '商品名称',
						value: 'proname'
					}, {
						name: '商品品牌',
						value: 'propp'
					},{
						name: '商品库存',
						value: 'pronum'
					},					
					{
						name: '数量单位',
						value: 'prodw'
					},
					{
						name: '厂商地址',
						value: 'ghaddress'
					},
					{
						name: '厂商名称',
						value: 'ghname'
					},
					{
						name: '商品价格',
						value: 'proprice'
					},
					{
						name: '操作',
						value: '0'
					}
				],
				vehicleInfo:[{
					prodw:'1111',
					proid:'222',
					proname:'333',
					pronum:'444',
					propp:'2222',
					ghaddress:'1111',
					ghname:'1111',
					proprice:'222',
					comstatus:''
				}],
			},
			methods: {
/*				delOne(teamno) {
					let _this = this;
					if(confirm("确认删除？")) {
						jQuery.post("http://127.0.0.1:8080/api/team/del", {
							teamno: `${teamno}`
						}, function(data) {
							alert("删除成功！");
							location.reload();
						});
					}
				},*/
				page(pageNum, pageSize) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/product/queryProduct/${pageNum}/${pageSize}`,function(pg) {
						_this.carlist = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},
				//页数改变事件

				change(num) {
					let _this = this;
					this.page(num, _this.carlist.pageSize);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size);
				},
				//添加数据
				addall() {
					let _this = this;
					//alert(JSON.stringify(_this.formLabelAlign))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/product/addProduct", {
						type: 'post',
						data: JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data) {
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
								_this.add = false;
								_this.page(1,5);
							}
						}
					});
				},
				//根据sid查询状态信息
				queryBySid(proid){
					//alert(proid)
					let _this = this;	
					_this.modify = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/product/queryProductById/${proid}`,function(pg) {
						_this.teams = pg;
						var a=["龙哥家开的","供应商2","供应商3","供应商4","供应商5"];
						_this.teams.ghid= a[pg.ghid-1];
					});
				},
				updteam(){
					//console.log(this.teams);
					let _this = this;
					//alert(JSON.stringify(_this.teams))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/product/modifyProduct", {
						type: 'put',
						data: JSON.stringify(_this.teams),
						contentType: 'application/json;charset=UTF-8',
						success(data) {
							if(data == "ok") {
								alert("修改失败！");							
							} else {
								alert("修改成功！");
								_this.modify = false;
								_this.page(1,5);
							}
						}
					});
				}
			},
			mounted() {
				let _this = this;
				_this.page(1, 5);
			}
		});
	</script>

</html>