<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商品资料</title>
		<style>
			/* 请为你的每个页面设置一个内边距 */			
			#fish {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<!--绑定vue引擎，命名：页面名字+Vm-->
		<div id="fish">
			<el-row>
				  <el-col :span="24">
					  <el-form :model="cominfo" inline="true">
						<el-form-item label="班组名称：">
							<el-input type="text" v-model="bzname" placeholder="支持模糊搜索"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="success" plain @click="page(1,2,bzname)">查询</el-button>
							<el-button type="primary" plain @click="addbz = true">添加班组</el-button>
						<el-button type="primary" plain @click="SelectValue">添加技工</el-button>
						</el-form-item>
					  </el-form>
				  </el-col>
				</el-row>
				
			<el-row>				
				<el-col :span="24">
					<template>
						<!--<el-button type="button" class="btn btn-success btn-block" id="generate-excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 将表格转换为Excel</el-button>-->				
						<el-table :data="carlist.list" style="width: 100%">
							<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
									<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
									<el-button type="text" v-if="temp.value==0" @click="jgpage(1,2,scope.row.bzid)">查看</el-button>
									<el-button type="text" v-if="temp.value==0" @click="delOne(scope.row.bzid)">删除</el-button>
									<el-button type="text" v-if="temp.value==0" @click="queryBySid(scope.row.bzid)">修改</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,prev, pager, next, jumper" :total="carlist.total" :page-size="carlist.pageSize">
					</template>
				</el-col>
			</el-row>
			<br />
			<hr />
			<br />
			<el-row>				
				<el-col :span="24">
					<template>
						<!--<el-button type="button" class="btn btn-success btn-block" id="generate-excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> 将表格转换为Excel</el-button>-->				
						<el-table :data="vehicleInfo.list" style="width: 100%">
							<el-table-column v-for="(temp,index) in stsyjg" :label="temp.name" align="center" :resizable="false">
								<template slot-scope="scope">
									<span v-if="temp.value!=0">{{scope.row[temp.value]}}</span>
									<el-button type="text" v-if="temp.value==0" @click="delJigong(scope.row.jid)">删除</el-button><br />
									<el-button type="text" v-if="temp.value==0" @click="queryJigongByid(scope.row.jid)">修改</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination background prev-text="上一页"  next-text="下一页" @size-change="jgsizec" @current-change="jgchange" layout="total,prev, pager, next, jumper" :total="vehicleInfo.total" :page-size="carlist.pageSize">
					</template>
				</el-col>
			</el-row>
			<el-dialog title="新增班组" :visible.sync="addbz" width="30%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :rules="rules" label-width="80px" :model="formLabelAlign">
						<el-form-item label="班组名称" prop="bzname">
							<el-input v-model="formLabelAlign.bzname"></el-input>
						</el-form-item>
						<el-form-item label="维修类型" prop="bztype">
							<el-input v-model="formLabelAlign.bztype"></el-input>
						</el-form-item>
						<!--<el-form-item label="班组费用">
							<el-input v-model="formLabelAlign.bzcost"></el-input>
						</el-form-item>-->
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="addbz = false">取 消</el-button>
   				 <el-button type="primary" @click="addall">保存</el-button>
  				</span>
			</el-dialog>
			<el-dialog title="修改班组" :visible.sync="modifybz" width="30%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" label-width="80px" :model="teams">
						<el-form-item label="班组名称">
							<el-input v-model="teams.bzname"></el-input>
						</el-form-item>
						<el-form-item label="维修类型">
							<el-input v-model="teams.bztype"></el-input>
						</el-form-item>
						<!--<el-form-item label="班组费用">
							<el-input v-model="teams.bzcost"></el-input>
						</el-form-item>-->
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modifybz = false">取 消</el-button>
   				 <el-button type="primary" @click="modifybanzu">保存</el-button>
  				</span>
			</el-dialog>
			
			
			<el-dialog title="新增班组技工" :visible.sync="addjg" width="60%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :rules="rules2" :inline="true" label-width="80px" :model="addjgvalue">
						<el-form-item label="技工名称" style="margin-left: 90px;" prop="jname">
							<el-input v-model="addjgvalue.jname"></el-input>
						</el-form-item>
						<el-form-item label="性别" style="margin-right: 200px;">
						<template >
						  <el-radio  v-model="addjgvalue.jsex" label="男">男</el-radio>
						 <el-radio v-model="addjgvalue.jsex" label="女">女</el-radio>
						</template>
						</el-form-item><br />
						<el-form-item label="电话" prop="jphone">
							<el-input v-model="addjgvalue.jphone"></el-input>
						</el-form-item>
						<el-form-item label="地址" prop="jaddress">
							<el-input v-model="addjgvalue.jaddress"></el-input>
						</el-form-item>
						<el-form-item label="用户名" prop="truename">
							<el-input v-model="addjgvalue.truename"></el-input>
						</el-form-item>
						<el-form-item label="身份证" prop="jidcard">
							<el-input v-model="addjgvalue.jidcard"></el-input>
						</el-form-item>
						<el-form-item label="工作时长" prop="worktime">
							<el-input v-model="addjgvalue.worktime"></el-input>
						</el-form-item>
						<el-button type="text" @click="queryStarList(1,3)" style="width: 230px;margin-right: 68px;margin-top: -11px;">
							<el-form-item label="星级状态" prop="sname">
								<el-input v-model="modifyjgvalue.sname" placeholder="请选择"></el-input>
								</el-form-item>
							</el-button><br />
						<el-button type="text" @click="queryDepartmentList(1,3)" prop="depname" style="width: 230px;margin-right: 63px;margin-top: -20px;">
								<el-form-item label="员工部门" prop="depname">
								<el-input v-model="addjgvalue.depname" placeholder="请选择"></el-input>
								</el-form-item>
							</el-button>
						<el-button type="text" @click="queryBanzuList(1,3)" prop="bzname" style="width: 230px;margin-right: 68px;margin-top: -20px;">
								<el-form-item label="归属班组" prop="bzname">
								<el-input v-model="addjgvalue.bzname" placeholder="请选择"></el-input>
								</el-form-item>
							</el-button>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="addjg = false">取 消</el-button>
   				 <el-button type="primary" @click="addjigong">保存</el-button>
  				</span>
			</el-dialog>

			<el-dialog title="部门" :visible.sync="isShow2" style="width: 50%;margin-left: 400px;">
						<template>
							
							<el-table :data="queryDepartmentListValue.list" border style="width: 100%">
								<!--<el-table-column fixed prop="depid" label="部门id">
								</el-table-column>-->
								<el-table-column prop="depname" align="center" label="部门名称">
								</el-table-column>
								<el-table-column label="操作" align="center">
									<template slot-scope="scope">
										<el-button @click="check(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.queryDepartmentListValue.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
					
					<el-dialog title="班组" :visible.sync="isShow3" style="width: 50%;margin-left: 400px;">
						<template>
							
							<el-table :data="queryBanzuListValue.list" border style="width: 100%">
								<!--<el-table-column fixed prop="bzid" label="班组id">
								</el-table-column>-->
								<el-table-column prop="bzname" align="center" label="班组名称">
								</el-table-column>
								<el-table-column label="操作" align="center">
									<template slot-scope="scope">
										<el-button @click="check2(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.queryBanzuListValue.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
					
					<el-dialog title="星级状态" :visible.sync="isShow4" style="width: 50%;margin-left: 400px;">
						<template>
							
							<el-table :data="queryStarListValue.list" border style="width: 100%">
								<!--<el-table-column fixed prop="sid" label="星级id">
								</el-table-column>-->
								<el-table-column prop="sname" align="center" label="星级名称">
								</el-table-column>
								<el-table-column label="操作" align="center">
									<template slot-scope="scope">
										<el-button @click="check3(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current3" @prev-click="prev3" @next-click="next3" :total="this.queryStarListValue.pages*10">
							</el-pagination>
						</div>
					</el-dialog>

			<el-dialog title="修改班组技工" :visible.sync="modifyjg" width="60%" :before-close="handleClose">
				<div>
					<el-form :label-position="labelPosition" :rules="rules2" :inline="true" label-width="80px" :model="modifyjgvalue">
						<el-form-item label="技工名称" prop="jname">
							<el-input v-model="modifyjgvalue.jname"></el-input>
						</el-form-item>
						<el-form-item label="性别" style="margin-right: 100px;">
						<template >
						  <el-radio  v-model="modifyjgvalue.jsex" label="男">男</el-radio>
						 <el-radio v-model="modifyjgvalue.jsex" label="女">女</el-radio>
						</template>
						</el-form-item><br />
						<el-form-item label="电话" prop="jphone">
							<el-input v-model="modifyjgvalue.jphone"></el-input>
						</el-form-item>
						<el-form-item label="地址" prop="jaddress">
							<el-input v-model="modifyjgvalue.jaddress"></el-input>
						</el-form-item>
						<el-form-item label="用户名" prop="truename">
							<el-input v-model="modifyjgvalue.truename"></el-input>
						</el-form-item>
						<el-form-item label="身份证" prop="jidcard">
							<el-input v-model="modifyjgvalue.jidcard"></el-input>
						</el-form-item>
						<el-form-item label="工作时长" prop="worktime">
							<el-input v-model="modifyjgvalue.worktime"></el-input>
						</el-form-item>
						<el-button type="text" @click="queryStarList(1,3)" style="width: 230px;margin-right: 68px;margin-top: -11px;">
							<el-form-item label="星级状态" prop="sname">
								<el-input v-model="modifyjgvalue.sname" placeholder="请选择"></el-input>
								</el-form-item>
							</el-button><br />
						<el-button type="text" @click="queryDepartmentList(1,3)" prop="depname" style="width: 230px;margin-right: 63px;margin-top: -20px;">
								<el-form-item label="员工部门" prop="depname">
								<el-input v-model="modifyjgvalue.depname" placeholder="请选择"></el-input>
								</el-form-item>
							</el-button>
						<el-button type="text" @click="queryBanzuList(1,3)" prop="bzname" style="width: 230px;margin-right: 68px;margin-top: -20px;">
								<el-form-item label="归属班组" prop="bzname">
								<el-input v-model="modifyjgvalue.bzname" placeholder="请选择"></el-input>
								</el-form-item>
							</el-button>
						<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="text" @click="queryStarList(1,3)" style="width: 207px;margin-right: 70px;margin-top: -11px;">星级状态&nbsp;
								<el-input v-model="modifyjgvalue.sname"></el-input>
							</el-button><br />	
						<el-button type="text" @click="queryDepartmentList(1,3)" style="width: 207px;margin-right: 60px;">员工部门&nbsp;&nbsp;
								<el-input v-model="modifyjgvalue.depname"></el-input>
							</el-button>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<el-button type="text" @click="queryBanzuList(1,3)" style="width: 207px;margin-right: 40px;">归属班组&nbsp;&nbsp;
								<el-input v-model="modifyjgvalue.bzname"></el-input>
							</el-button>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="modifyjg = false">取 消</el-button>
   				 <el-button type="primary" @click="modifyjigong">保存</el-button>
  				</span>
			</el-dialog>

		</div>
	</body>
	<script>
		
		var fish = new Vue({
			el: '#fish',
			data: {
				formLabelAlign:{},
				piges: {},
				department:{},
				labelPosition:'right',
				jiid:'',
				radio: '男',
				isShow2:false,
				isShow3:false,
				isShow4:false,
				truename:'',
				depname:'',
				bzname:'',
				sname:'',
				addbz: false,
				addjg: false,
				addteam:false,
				modifybz:false,
				modifyjg:false,
				addjgvalue:{
					jsex:'男',
				},
				department:{},
				queryDepartmentListValue:{},
				queryBanzuListValue:{},
				queryStarListValue:{},
				modifyjgvalue:{},
				carlist: [],
				cominfo:{
					recorddate:null,
					status:null,
					recordid:null,
				},
				rules: {
					bzname: [{
						required: true,
						message: '请输入班组名称',
						trigger: 'blur'
					}],
					bztype: [{
						required: true,
						message: '请输入维修类型',
						trigger: 'blur'
					}]
				},
				rules2: {
					jname: [{
						required: true,
						message: '请输入技工姓名',
						trigger: 'blur'
					}],
					jphone: [{
						required: true,
				    message: '请输入手机号码',
				    trigger: 'blur'
				  },
				  {validator:function(rule,value,callback){
				      if(/^1[34578]\d{9}$/.test(value) == false){
				        callback(new Error("请输入正确的手机号"));
				      }else{
				        callback();
				      }
				    }, trigger: 'blur'}
					],jaddress: [{
						required: true,
						message: '请输入正确的地址',
						trigger: 'blur'
					}],
					truename: [{
						required: true,
					    message: '请输入用户名',
					    trigger: 'blur'
					    },{
					    min: 2,
					    max: 5,
					    message: '长度在 2 到 5 个字符'
					    },{
					    pattern: /^[\u4E00-\u9FA5]+$/,
					    message: '用户名只能为中文'
					}],jidcard: [{
						required: true,
					    message: '请输入身份证ID',
					    trigger: 'blur'
					    },{
					      pattern:/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '你的身份证格式不正确'
					    }],
					worktime: [{
						 required: true,
					    message: '请输入工时',
					    trigger: 'blur'
					    },{
					      pattern:/^\d+$|^\d+[.]?\d+$/, message: '只能输入数字'
					  }],/*sname: [{
						required: true,
						message: '请输入等级名称',
						trigger: 'blur'
					}],
					depname: [{
						required: true,
						message: '请输入部门名称',
						trigger: 'blur'
					}],bzname: [{
						required: true,
						message: '请输入班组',
						trigger: 'blur'
					}],*/
				},
				
				list: [],
				teams:{},
			
				stsy: [{
							name: '班组名称',
						value: 'bzname'
					}, {
						name: '维修类型',
						value: 'bztype'
					}, 
/*					{
						name: '班组费用',
						value: 'bzcost'
					},*/
					{
						name: '操作',
						value: '0'
					}
				],
				stsyjg: [{
						name: '技工编号',
						value: 'jid'
					}, {
						name: '技工',
						value: 'jname'
					},{
						name: '归属班组',
						value: 'bzname'
					}, 
					{
						name: '性别',
						value: 'jsex'
					},
					{
						name: '电话',
						value: 'jphone'
					},
					{
						name: '地址',
						value: 'jaddress'
					},
					{
						name: '用户名',
						value: 'truename'
					},
					{
						name: '身份证',
						value: 'jidcard'
					},
					{
						name: '星级',
						value: 'sname'
					},
					{
						name: '类型',
						value: 'depname'
					},
					
					{
						name: '操作',
						value: '0'
					}
				],
				
				vehicleInfo:[{
					teamno:'1111',
					teamname:'222',
					number:'333',
					artname:'444',
					sex:'男',
					phone:'1111',
					site:'1111',
					logname:'222',
					idcard:'333',
					classno:'444',
					typeg:'22',
					brands:'111',
					comstatus:''
				}],
			},
			methods: {
				prev1(cpage) {
					this.queryDepartmentList(cpage, 3);
				},
				/*下一页发动机查询*/
				next1(cpage) {
					this.queryDepartmentList(cpage, 3);
				},
				/*当前页发动机查询*/
				current1(cpage) {
					this.queryDepartmentList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check(row) {
					this.addjgvalue.depname = row.depname;
					this.isShow2 = false;
					this.addjgvalue.depid=row.depid;
					this.modifyjgvalue.depname=row.depname;
					this.modifyjgvalue.depid=row.depid;
				},queryDepartmentList(n, s) {
					let _this = this;
					_this.isShow2 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/select/queryDepartment/${n}/${s}`, function(pg) {
						_this.queryDepartmentListValue = pg;
					});
				},
				
				prev2(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*下一页发动机查询*/
				next2(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*当前页发动机查询*/
				current2(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check2(row) {
					this.addjgvalue.bzname = row.bzname;
					this.isShow3 = false;
					this.addjgvalue.bzid=row.bzid;
					this.modifyjgvalue.bzname=row.bzname;
					this.modifyjgvalue.bzid=row.bzid;
				},queryBanzuList(n, s) {
					let _this = this;
					_this.isShow3 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/banzu/queryBanzuAll/${n}/${s}`, function(pg) {
						_this.queryBanzuListValue = pg;
					});
				},
				
				prev3(cpage) {
					this.queryStarList(cpage, 3);
				},
				/*下一页发动机查询*/
				next3(cpage) {
					this.queryStarList(cpage, 3);
				},
				/*当前页发动机查询*/
				current3(cpage) {
					this.queryStarList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check3(row) {
					this.addjgvalue.sname = row.sname;
					this.isShow4 = false;
					this.addjgvalue.sid=row.sid;
					this.modifyjgvalue.sname=row.sname;
					this.modifyjgvalue.sid=row.sid;
				},queryStarList(n, s) {
					let _this = this;
					_this.isShow4 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/class1/queryStarAll/${n}/${s}`, function(pg) {
						_this.queryStarListValue = pg;
					});
				},
				
				//查询班组信息
				SelectValue(){
					let _this = this;
					_this.addjg = true;
					
				},
				
				//下拉框查询星级状态
				/*queryStarList() {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/class1/queryStarList`, function(pg) {
						_this.queryStarListValue = pg;
					});
				},*/
				//删除技工
				delJigong(jid) {
					//alert(jid)					
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://127.0.0.1:8080/zzy/api/jigong/deleteJigong/${jid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.jgpage(1,5,null);
								} else {
									alert("删除失败");
								}
							}
						});
					}
				},
				//删除班组
				delOne(bzid) {
					alert(bzid)					
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://127.0.0.1:8080/zzy/api/banzu/deleteBanzu/${bzid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.page(1,5);
								} else {
									alert("删除失败");
								}
							}
						});
					}
				},
				//查询班组信息
				page(n, s,bzname) {	
					let _this = this;
					if(bzname==""){
						bzname=null;
					}
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/banzu/queryBanzuAll/${n}/${2}/${bzname}`,function(pg) {
						_this.carlist = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},
				//页数改变事件

				change(num) {
					let _this = this;
					this.page(num, _this.carlist.pageSize,_this.bzname);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size,_this.bzname);
				},
				//查询技工信息
				jgpage(pageNum, pageSize,bzid='0') {
				
					//alert(bzid)
					this.jiid=bzid;
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/jigong/queryJigong/${pageNum}/${pageSize}/${bzid}`,function(pg) {
						_this.vehicleInfo = pg;
						_this.list = pg.list;
						//alert(JSON.stringify(pg.list))
					});
				},
				//页数改变事件
				jgchange(num) {
					let _this = this;
					this.jgpage(num, _this.vehicleInfo.pageSize,this.jiid);
				},
				//pageSize选择事件
				jgsizec(size) {
					let _this = this;
					this.jgpage(1, size);
				},
				//添加班组数据
				addall() {
					let _this = this;
					//alert(JSON.stringify(_this.formLabelAlign))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/banzu/addBanzu", {
						type: 'post',
						data: JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data) {
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
								_this.addbz = false;
								_this.page(1,2);
								_this.formLabelAlign={
									bzname:'',
									bztype:'',
								}
							}
						}
					});
				},
				//添加技工数据
				addjigong() {
					let _this = this;
					//alert(JSON.stringify(_this.addjgvalue))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/jigong/addjigong", {
						type: 'post',
						data: JSON.stringify(_this.addjgvalue),
						contentType: 'application/json; charset=UTF-8',
						success(data) {
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
								_this.addjg = false;
								_this.jgpage(1,2);
								_this.addjgvalue={
									jname:'',
									jphone:'',
									jaddress:'',
									truename:'',
									jidcard:'',
									worktime:'',
									sname:'',
									depname:'',
									bzname:'',
								}
							}
						}
					});
				},
				//根据班组bzid查询班组信息
				queryBySid(bzid){
					//alert(bzid)
					let _this = this;	
					_this.modifybz = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/banzu/queryBanzuByBid/${bzid}`,function(pg) {
						_this.teams = pg;
					});
				},
				
				//根据技工jid查询技工信息
				queryJigongByid(jid){
					let _this = this;	
	
					_this.modifyjg = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zzy/api/jigong/queryJigongById/${jid}`,function(pg) {
						_this.modifyjgvalue = pg;
					});
				},
				//修改技工信息
				modifyjigong(){
					//console.log(this.modifyjgvalue);
					let _this = this;
					//alert(JSON.stringify(_this.modifyjgvalue))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/jigong/modifyJigong", {
						type: 'put',
						data: JSON.stringify(_this.modifyjgvalue),
						contentType: 'application/json;charset=UTF-8',
						success(data) {
							if(data == "ok") {
								alert("修改失败！");							
							} else {
								alert("修改成功！");
								_this.modifyjg = false;
								_this.jgpage(1,2);
								
							}
						}
					});
				},
				//修改班组信息
				modifybanzu(){
					//console.log(this.teams);
					let _this = this;
					//alert(JSON.stringify(_this.teams))
					jQuery.ajax("http://127.0.0.1:8080/zzy/api/banzu/modifyBanzu", {
						type: 'put',
						data: JSON.stringify(_this.teams),
						contentType: 'application/json;charset=UTF-8',
						success(data) {
							if(data == "ok") {
								alert("修改失败！");							
							} else {
								alert("修改成功！");
								_this.modifybz = false;
								_this.page(1,2);
								_this.page(num, _this.carlist.pageSize);
							}
						}
					});
				}
			},
			mounted() {
				let _this = this;
				_this.page(1, 5,null);
				_this.jgpage(1, 2);
			}
		});
	</script>

</html>