<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<br />
<div id="app" >
		<template>
		 <el-input type="text" style="width: 300px;margin-left: 0px;" placeholder="根据姓名模糊查询" v-model="username" >
	</template>
	&nbsp;&nbsp;&nbsp;
	 <el-button type="primary"  plain   @click="page(1,3,username)">查询</el-button>
        <br />
        <br />
        
	<el-row >
				<el-col :span="24">
    <el-table      :data="vehicleInfo.list"   stripe style="width: 100%"   >
     					<el-table-column  label="部门" style="color:#B3D8FF ;">
							<template slot-scope="temp">
									{{temp.row.user.depid  |changSex}}
							</template>
						</el-table-column>
						<el-table-column prop="rid" label="职位" style="color:#B3D8FF ;">
							<template slot-scope="temp">
									{{temp.row.user.rid  |changSex2}}
							</template>
						</el-table-column>
						<el-table-column prop="user.uid" label="员工编号" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="user.username" label="姓名" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="txl" label="电话" style="color:#B3D8FF ;">
							<template slot-scope="temp">
								<p v-for="(temp1,i) in temp.row.txl">
									{{temp1.phone}}
										</p>
							</template>	
						</el-table-column>
						<el-table-column prop="txl" label="邮箱" style="color:#B3D8FF ;">
							<template slot-scope="temp">
								<p v-for="(temp2,i) in temp.row.txl">
									{{temp2.email}}
										</p>
							</template>	
						</el-table-column>
    </el-table>
  <el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="vehicleInfo.total" :page-sizes="[1,2,3,4,5]" :page-size="vehicleInfo.pages" >
  </el-col>	
			</el-row>
</div>
	</body>
	<script>var app = new Vue({
			el: '#app',
			data: {
				username:'',
				formLabelAlign:{
					user:{
						
					},
					txl:[]
				},
				add: false,
				modify:false,
				piges: {},
				carlist: [],
				list: [],
				vehicleInfo:[],
				stsy: [{
					name: '员工编号',
					value: 'uid'
				},{
					name: '部门',
					value: 'depid'
				}, {
					name: '职位',
					value: 'rid'
				}, {
					name: '员工姓名',
					value: 'username'
				}, {
					name: '性别',
					value: 'sex'
				}, {
					name: '居住地址',
					value: 'address'
				}, {
					name: '入职时间',
					value: 'comedate'
				}, {
					name: '操作',
					value: '0'
				}],
        options: [{
          value: '1',
          label: '维修部',

        }, {
          value: '2',
          label: '人事部',

        }, {
          value: '3',
          label: '客服部',

        }, {
          value: '4',
          label: '财务部',

        }, {
          value: '5',
          label: '仓库部',

        }, {
          value: '6',
          label: '系统部',

        }],
        value: '员工部门'
      ,
        options1: [{
          value: '1',
          label: '总经理',

        }, {
          value: '2',
          label: '前台经理',

        }, {
          value: '3',
          label: '售后经理',

        }, {
          value: '4',
          label: '仓库管理员',

        }, {
          value: '5',
          label: '人事经理',

        }, {
          value: '6',
          label: '前台顾问',

        }],
        value1: '员工职位'
			}
			,filters: {
     changSex(val) {
					var a=["维修部","人事部","客服部","财务部","仓库部","系统部"];
					return  a[val-1];
				},changSex2(val) {
					var a=["总经理","前台经理","售后经理","仓库管理员","人事经理","前台顾问"];
					return  a[val-1];
				}
   },
			methods: { 
				stringToDate(dateStr,separator){
     if(!separator){
            separator="-";
     }
     var dateArr = dateStr.split(separator);
     var year = parseInt(dateArr[0]);
     var month;                     
     if(dateArr[1].indexOf("0") == 0){
         month = parseInt(dateArr[1].substring(1));
     }else{
          month = parseInt(dateArr[1]);
     }
     var day = parseInt(dateArr[2]);
     var date = new Date(year,month -1,day);
     return date;
 },
				delOne(uid) {
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://localhost:8080/zxp/api/user/delete/${uid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.page(1, 3);
								} else {
									alert("删除失败");
								}
							}
						});
					} 
				},
				/* formatRole: function(row, column) {
                return row.ud_status == '1' ? "维修部" : row.ud_status == '2' ? "人事部": row.ud_status == '3' ? "客服部": row.ud_status == '4' ? "财务部": row.ud_status == '5' ? "仓库部": row.ud_status == '6' ? "系统部";
            },*/
				page(n,s,name) {
					let _this = this;
						if(name==""){
						name=null;
					}
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/txl/queryTxlAll/${n}/${s}/${name}`,function(pg) {
						_this.vehicleInfo = pg;
						_this.list = pg.list;
					});
				},
				//页数改变事件

				change(num) {
					let _this = this;
					this.page(num, _this.vehicleInfo.pageSize,_this.username);
				},
				//pageSize选择事件
				sizec(size) {
					let _this=this;
					this.page(1, size);
				},
				//添加数据
				addall() {
					let _this=this;
					jQuery.ajax("http://127.0.0.1:8080/zxp/api/user/add",{
						type:'post',
						data:JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data){
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
									_this.add = false;
									_this.page(1, 3);
							}
						}
					});
				},updatea(uid) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/zxp/api/user/selectByIdt/${uid}`,
						function(data) {
							_this. formLabelAlign= data;
						}
					);
				},
				updates() {
					let _this = this;
					alert(JSON.stringify(_this.formLabelAlign));
					$.ajax("http://localhost:8080/zxp/api/user/updatetxl", {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.formLabelAlign),
						dataType: "json",
						success(msg) {
							if(msg.code == "200") {
								alert('保存成功');
									_this. modify= false;
									_this.page(1, 3);
							} else {
								alert('保存失败');
							}
						}
					});
				},update(uid) {
					let _this = this;
					_this.modify = true;
					var a=["维修部","人事部","客服部","财务部","仓库部","系统部"];
					var aa=["总经理","前台经理","售后经理","仓库管理员","人事经理","前台顾问"];
					$.getJSON(`http://127.0.0.1:8080/zxp/api/user/selectById/${uid}`,
						function(data) {
							_this. formLabelAlign= data;
							_this. formLabelAlign.depid= a[data.depid-1];
							_this. formLabelAlign.rid= aa[data.rid-1];
						}
					);
				},
				updates() {
					let _this = this;
					$.ajax("http://localhost:8080/zxp/api/user/update", {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.formLabelAlign),
						dataType: "json",
						success(msg) {
							if(msg.code == "200") {
								alert('保存成功');
									_this. modify= false;
									_this.page(1, 3);
							} else {
								alert('保存失败');
							}
						}
					});
				}
			},
			mounted() {
				let _this = this;
				_this.page(1, 3,null);
			}
		});
	</script>
</html>
