<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#app{
				
				padding-left: 5px;
				padding-top: 20px;
			}
		</style>
	</head>
	<body>
<div id="app">
	<template>
		<el-input type="text" style="width: 300px;" placeholder="根据姓名模糊查询" v-model="name" >

	</template>
	<el-button type="primary" plain @click="page(1,3,name)">查询</el-button>
	 <el-button type="primary"  plain  @click="add">添加离职</el-button>
	  <el-button type="primary" plain   @click="dcbb">导出</el-button>
	<br />
	<br />
<el-dialog title="离职登记" :visible.sync="isShow2" style="width: 70%;margin-left: 400px;">
						<template>
							<div style="margin-left: -80px;">
								<el-button type="text"  style="width: 200px;">员工姓名：
									<el-input v-model="username"></el-input>
							</el-button>
							<br />
								<el-button type="text"  style="width: 200px;">离职原因：
									<el-input v-model="leave.content"></el-input>
								</el-button>
								<br />
								<el-button type="primary" @click="addall" style="margin-left: 150px;">保存</el-button>
							</div>
							<el-table :data="user.list" border style="width: 100%">
								<el-table-column fixed prop="uid" label="员工编号">
								</el-table-column>
								<el-table-column prop="username" label="员工姓名">
								</el-table-column>
								<el-table-column prop="sex" label="性别">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.user.pages*10">
							</el-pagination>
						</div>
					</el-dialog>    
    
    <el-row >
				<el-col :span="24">
				<template>
    <el-table      :data="vehicleInfo.list"    >
     					<el-table-column  prop="depname" label="部门" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="rname" label="职位" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="uid" label="员工编号" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="username" label="姓名" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="sex" label="性别" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="leavedate" label="离职日期" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="content" label="离职原因" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column label="操作" style="color:#B3D8FF ;"  width="175">
							<template slot-scope="scope">
								<el-button  type="text"   @click="updateUser(vehicleInfo.list[scope.$index].uid)">回滚</el-button>
							</template>
						</el-table-column>
    </el-table>
  </template>
  <el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,prev, pager, next, jumper" :total="vehicleInfo.total"  :page-size="this.vehicleInfo.pages" >
  </el-col>	
			</el-row>
    
    
    
    
	
	
	
	
	
	
	
	

	
	
	
	
</div>
	</body>
	<script>var app = new Vue({
			el: '#app',
			data: {
				name:'',
				username:'',
				content:'',
				user:{
					
				},leave:{
						
				},
				formLabelAlign:{
					user:{
						
					},
					leave:{
						
					}
				},
				isShow2: false,
				modify:false,
				piges: {},
				carlist: [],
				list: [],
				vehicleInfo:[],
			}
			,filters: {
   },
			methods: { 
				delOne(uid) {
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://localhost:8080/zxp/api/user/delete/${uid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.page(1, 3);
								} else {
									alert("删除失败");
								}
							}
						});
					} 
				},	add(){
					let _this = this;
					_this.isShow2= true;
					_this.username="";
					_this.queryBanzuList(1,3);
					
				},prev1(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*下一页发动机查询*/
				next1(cpage) {
					if(cpage>this.user.pages){
						cpage=this.user.pages;
					}else{
						this.queryBanzuList(cpage, 3);
					}
				},
				/*当前页发动机查询*/
				current1(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check(row) {
					this.username = row.username;
				},queryBanzuList(n, s) {
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/leave/findUser/${n}/${s}`, function(pg) {
						_this.user = pg;
					});
				},
				page(n,s,name) {
					let _this = this;
						if(name==""){
						name=null;
					}
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/leave/queryLeaAll/${n}/${s}/${name}`,function(pg) {
						_this.vehicleInfo = pg;
						_this.list = pg.list;
					});
				},
				//页数改变事件

				change(num) {
					let _this = this;
					this.page(num, _this.vehicleInfo.pageSize,_this.name);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size,_this.name);
				},
				//添加数据
				addall() {
					let _this=this;
					_this.formLabelAlign.username=_this.username;
					_this.formLabelAlign.content=_this.leave.content;
					jQuery.ajax("http://127.0.0.1:8080/zxp/api/leave/add",{
						type:'post',
						data:JSON.stringify(_this.formLabelAlign),
						contentType: 'application/json; charset=UTF-8',
						success(data){
							if(data=="ok"){
								alert("离职失败！");
							}else{							
								alert("离职成功！");
								_this.leave.content="";
									_this.isShow2 = false;
									_this.page(1, 3,null);
							}
						}
					});
				},updatea(uid) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/zxp/api/user/selectByIdt/${uid}`,
						function(data) {
							_this. formLabelAlign= data;
						}
					);
				},dcbb(){
					$.getJSON(`http://127.0.0.1:8080/zxp/api/leave/daochukhzl`,
						function(data) {
							if(data.code == "200") {
								alert(data.msg);
							} else {
								alert(data.msg);
							}
						}
					);
				},
				updateUser(uid) {
					let _this=this;
					if(window.confirm('是否确定回滚？')) {
						$.getJSON(`http://127.0.0.1:8080/zxp/api/leave/modifyUser/${uid}`, function(date) {
							if(date=="ok"){
								alert("回滚失败！");
							}else{
								alert("回滚成功！");
								_this.page(1,3,null);
							}
						
					});	
					}}
			},
			mounted() {
				let _this = this;
				_this.page(1, 3,null);
			}
		});
	</script>
</html>
	