<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<link rel="stylesheet" href="../../css/theme.css" />
		
		<style type="text/css">
			.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
		</style>
	</head>
	<body>
<div id="app">
	<div class="row" style="margin-top: 20px;">
	&nbsp;&nbsp;
	</el-input>
	<el-input type="text" style="width: 400px;" placeholder="按姓名模糊查询"  v-model="username" >
	</el-input>
		<el-button type="primary"  plain @click="page(1,3,username)">查询</el-button>
	 <el-button type="primary"  plain  @click="add">添加员工</el-button>
	</div>
	<el-divider></el-divider>
	
	
	
	
	
			<el-dialog title="部门" :visible.sync="isShow2" style="width: 50%;margin-left: 400px;">
						<template>
							
							<el-table :data="queryBanzuListValue.list" border style="width: 100%">
								<el-table-column fixed prop="depid" label="部门id">
								</el-table-column>
								<el-table-column prop="depname" label="部门名称">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.vehicleInfo.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
					
					<el-dialog title="职位" :visible.sync="isShow3" style="width: 50%;margin-left: 400px;">
						<template>
							<el-table :data="queryStarListValue.list" border style="width: 100%">
								<el-table-column fixed prop="rid" label="职位id">
								</el-table-column>
								<el-table-column prop="rname" label="职位名称">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check2(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.vehicleInfo.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
					
			<el-row>
				<el-col :span="24">
			<el-table  :data="vehicleInfo.list">
						<el-table-column prop="uid" label="员工编号" style="color:#B3D8FF ;">	
						</el-table-column>
						<el-table-column  label="部门"prop="depname"  style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="rname" label="职位" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="username" label="员工姓名" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="sex" label="性别" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="address" label="居住地址" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column prop="comedate" label="入职时间" style="color:#B3D8FF ;">
						</el-table-column>
						<el-table-column label="操作" style="color:#B3D8FF ;"  width="175">
							<template slot-scope="scope">
								<el-button  type="text"   @click="update(vehicleInfo.list[scope.$index].uid)">编辑</el-button>
								<el-button type="text"    @click="delOne(vehicleInfo.list[scope.$index].uid)">删除</el-button>
							</template>
						</el-table-column>
						
					</el-table>
					<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,prev, pager, next, jumper" :total="vehicleInfo.total" :page-size="this.vehicleInfo.pages" >
			</el-col>	
			</el-row>
	
	
	   
       		
   <el-dialog title="添加员工入职信息" :visible.sync="addd" width="72%" :before-close="handleClose" >
   	<span style="position: relative;left: -63px;">员工编号：</span><el-input type="text" style="width: 200px;margin-left: -60px;" placeholder="" id="uid" maxlength="20" v-model="finduid.uid" :disabled="true" />&nbsp;&nbsp;&nbsp;
   	员工姓名：<el-input type="text" style="width: 200px;" placeholder="" id="name" maxlength="20" v-model="user.username" />&nbsp;&nbsp;&nbsp;
	员工性别：
	<template>
  <el-radio v-model="user.sex" label="男">男</el-radio>
  <el-radio v-model="user.sex" label="女">女</el-radio>
</template>
		<br /><br />
		<span style="position: relative;left: 5px;">登录账号：&nbsp;</span>
		<el-input type="text" style="width: 200px;" placeholder=""  maxlength="20" v-model="user.user" />&nbsp;&nbsp;&nbsp; 
		登录密码：
		<el-input type="password" style="width: 200px;" placeholder=""  maxlength="20" v-model="user.pwd" />&nbsp;&nbsp;&nbsp; 
		居住地址：
		<el-input type="text" style="width: 200px;" placeholder="" id="address" maxlength="20" v-model="user.address" />&nbsp;&nbsp;&nbsp; 
		<br /><br />
		<span style="position: relative;">入职时间：&nbsp;</span>
	<el-date-picker v-model="user.comedate" type="date" placeholder="请选择入职日期" id="rtime" style="width: 200px;">
	</el-date-picker>&nbsp; &nbsp;
	<el-button type="text" @click="queryBanzuList(1,3)" style="width: 200px;">员工部门：
									<el-input v-model="depname"></el-input>
								</el-button>
          &nbsp;&nbsp;&nbsp; 
		<el-button type="text" @click="queryStarList(1,3)" style="width: 200px;margin-left: 130px;position: relative;left: -60px;">员工职位：
									<el-input v-model="rname"></el-input>
								</el-button>
          </el-select>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
		<br /><br />
		<!--联系方式：
		<el-input type="text" style="width: 200px;" placeholder=""  maxlength="20" v-model="formLabelAlign.phone" />&nbsp;&nbsp;&nbsp; 
		邮箱地址：
		<el-input type="text" style="width: 200px;" placeholder="" id="address" maxlength="20" v-model="formLabelAlign.email" />&nbsp;&nbsp;&nbsp; -->
			<!--<el-button type="primary" @click="addAddress">添加明细</el-button>-->
		<!--<table class="table table-bordered table-hover">
									<thead>
										<tr style="background-color:#EBEBEB">
											<th>序号</th>
											<th>电子邮箱</th>
											<th>联系方式</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(temp,index) in formLabelAlign.txl">
											<td>{{index+1}}</td>
											<td><input v-model="temp.phone" type="text" /></td>
											<td><input v-model="temp.email" type="text" /></td>
											<td><span @click="removeAddress(index)" class="glyphicon glyphicon-remove"></span></td>
										</tr>
									</tbody>
								</table>-->
		<br />
		<br />
		<span slot="footer" class="dialog-footer" style="position: relative;left: -400px;">
   				 <el-button @click="add = false">取 消</el-button>
   				 <el-button type="primary" @click="addall">保存</el-button>
  				</span>
			</el-dialog>

	<el-dialog title="职工信息修改" :visible.sync="modify" width="72%" :before-close="handleClose">
				<span style="position: relative;left: -63px;">员工编号：</span><el-input type="text" style="width: 200px;margin-left: -60px;" placeholder="" id="uid" maxlength="20" v-model="formLabelAlign.user.uid"/>&nbsp;&nbsp;&nbsp;
   	员工姓名：<el-input type="text" style="width: 200px;" placeholder="" id="name" maxlength="20" v-model="formLabelAlign.user.username" />&nbsp;&nbsp;&nbsp;
	员工性别：
	<template>
  <el-radio v-model="formLabelAlign.user.sex" label="男">男</el-radio>
  <el-radio v-model="formLabelAlign.user.sex" label="女">女</el-radio>
</template>
		<br /><br />
		<span style="position: relative;left: 5px;">登录账号：&nbsp;</span>
		<el-input type="text" style="width: 200px;" placeholder=""  maxlength="20" v-model="formLabelAlign.user.user" />&nbsp;&nbsp;&nbsp; 
		登录密码：
		<el-input type="password" style="width: 200px;" placeholder=""  maxlength="20" v-model="formLabelAlign.user.pwd" />&nbsp;&nbsp;&nbsp; 
		居住地址：
		<el-input type="text" style="width: 200px;" placeholder="" id="address" maxlength="20" v-model="formLabelAlign.user.address" />&nbsp;&nbsp;&nbsp; 
		<br /><br />
		<span style="position: relative;">入职时间：&nbsp;</span>
	<el-date-picker v-model="formLabelAlign.user.comedate" type="date" placeholder="请选择入职日期" id="rtime" style="width: 200px;">
	</el-date-picker>&nbsp; &nbsp;
	<el-button type="text" @click="queryBanzuList(1,3)" style="width: 200px;">员工部门：
								<el-input v-model="formLabelAlign.department.depname"></el-input>
								</el-button>
          &nbsp;&nbsp;&nbsp; 
		<el-button type="text" @click="queryStarList(1,3)" style="width: 200px;margin-left: 130px;position: relative;left: -60px;">员工职位：
									<el-input v-model="formLabelAlign.role.rname"></el-input>
								</el-button>
          </el-select>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
		<br /><br />
		<!--联系方式：
		<el-input type="text" style="width: 200px;" placeholder=""  maxlength="20" v-model="formLabelAlign.phone" />&nbsp;&nbsp;&nbsp; 
		邮箱地址：
		<el-input type="text" style="width: 200px;" placeholder="" id="address" maxlength="20" v-model="formLabelAlign.email" />&nbsp;&nbsp;&nbsp; -->
			<!--<el-button type="primary" @click="addAddress">添加明细</el-button>
		<table class="table table-bordered table-hover">
									<thead>
										<tr style="background-color:#EBEBEB">
											<th>序号</th>
											<th>电子邮箱</th>
											<th>联系方式</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(temp,index) in formLabelAlign.txl">
											<td>{{index+1}}</td>
											<td><input v-model="temp.phone" type="text" /></td>
											<td><input v-model="temp.email" type="text" /></td>
											<td><span @click="removeAddress(index)" class="glyphicon glyphicon-remove"></span></td>
										</tr>
									</tbody>
								</table>-->
		<br />
		<br />
		<span slot="footer" class="dialog-footer" style="position: relative;left: -400px;">
   				 <el-button @click="update = false">取 消</el-button>
   				 <el-button type="primary" @click="updates">保存</el-button>
  				</span>
			</el-dialog>

</div>
	</body>
	<script>var app = new Vue({
			el: '#app',
			data: {
				username:'',
				depname:'',
				rname:'',
				user:{
					uid:'',
					depid:'',
					rid:'',
					username:'',
					address:'',
					comedate:'',
					user:'',
					pwd:'',
					phone:'',
					email:'',
					sex: '',
				},
				formLabelAlign:{
					user:{
						
					},role:{
						
					},
					department:{
						
					}
				},
				ad:[{
					
				}],
				fadongjis: {},
				isShow2: false,
				isShow3: false,
				queryBanzuListValue:{},
				queryStarListValue:{},
				modify:false,
				piges: {},
				carlist: [],
				list: [],
				addd:false,
				vehicleInfo:[],
				finduid:{},
			}
			,filters: {
   },
			methods: { 
				find(){
					let _this = this;
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/user/finduid`, function(pg) {
						_this.finduid = pg;
					});
 },prev3(cpage) {
					this.client(cpage, 3,this.username);
				},next3(cpage) {
					this.page(cpage, 3,this.username);
				},
				current3(cpage) {
					this.page(cpage, 3,this.username);
				},	add(){
					let _this = this;
					_this.addd= true;
					_this.find();
					
				},prev1(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*下一页发动机查询*/
				next1(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*当前页发动机查询*/
				current1(cpage) {
					this.queryBanzuList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check(row) {
					this.depname = row.depname;
					this.isShow2 = false;
					this.user.depid=row.depid;
					this.formLabelAlign.department.depname=row.depname;
					this.formLabelAlign.department.depid=row.depid;
				},queryBanzuList(n, s) {
					let _this = this;
					_this.isShow2 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/user/queryDepartment/${n}/${s}`, function(pg) {
						_this.queryBanzuListValue = pg;
					});
				},prev2(cpage) {
					this.queryStarList(cpage, 3);
				},
				/*下一页发动机查询*/
				next2(cpage) {
					this.queryStarList(cpage, 3);
				},
				/*当前页发动机查询*/
				current2(cpage) {
					this.queryStarList(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check2(row) {
					this.rname = row.rname;
					this.isShow3 = false;
					this.user.rid=row.rid;
					this.formLabelAlign.role.rname=row.rname;
					this.formLabelAlign.role.rid=row.rid;
				},
				queryStarList(n, s) {
					let _this = this;
					_this.isShow3 = true;
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/user/queryRole/${n}/${s}`, function(pg) {
						_this.queryStarListValue = pg;
					});
				},
				delOne(uid) {
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						$.ajax(`http://localhost:8080/zxp/api/user/delete/${uid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.page(1, 3,null);
								} else {
									alert("删除失败");
								}
							}
						});
					} 
				},addAddress() {
					this.formLabelAlign.txl.push({
						phone: '',
						email: ''
					});
				},removeAddress(index) {
					this.formLabelAlign.txl.splice(index, 1);
				},
				/* formatRole: function(row, column) {
                return row.ud_status == '1' ? "维修部" : row.ud_status == '2' ? "人事部": row.ud_status == '3' ? "客服部": row.ud_status == '4' ? "财务部": row.ud_status == '5' ? "仓库部": row.ud_status == '6' ? "系统部";
            },*/
				page(n,s,name) {
					let _this = this;
					if(name==""){
						name=null;
					}
					jQuery.getJSON(`http://127.0.0.1:8080/zxp/api/user/queryUserAll/${n}/${s}/${name}`,function(pg) {
						_this.vehicleInfo = pg;
						_this.list = pg.list;
					});
				},
				//页数改变事件
change(num) {
					let _this = this;
					this.page(num, _this.vehicleInfo.pageSize,_this.username);
				},
				//pageSize选择事件
				sizec(size) {
					this.page(1, size,_this.username);
				},
				//添加数据
				addall() {
					let _this=this;
					_this.user.uid=_this.finduid.uid;
			jQuery.ajax("http://127.0.0.1:8080/zxp/api/user/add1",{
						type:'post',
					data:JSON.stringify(_this.user),
						contentType: 'application/json; charset=UTF-8',
						success(data){
							if(data=="ok"){
								alert("新增失败！");
							}else{							
								alert("新增成功！");
									_this.addd = false;
									_this.page(1, 3,null);
							}
						}
					});
				},updatea(uid) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/zxp/api/user/selectByIdt/${uid}`,
						function(data) {
							_this. formLabelAlign= data;
						}
					);
				},
				update(uid) {
					let _this = this;
					_this.modify = true;
					$.getJSON(`http://127.0.0.1:8080/zxp/api/user/selectById/${uid}`,
						function(data) {
							_this. formLabelAlign= data;
						}
					);
				},
				updates() {
					let _this = this;
					_this. formLabelAlign.user.rid=_this. formLabelAlign.role.rid;
					_this. formLabelAlign.user.depid=_this. formLabelAlign.department.depid;
					$.ajax("http://localhost:8080/zxp/api/user/update", {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.formLabelAlign),
						dataType: "json",
						success(msg) {
							if(msg.code == "200") {
								alert('保存成功');
									_this. modify= false;
									_this.page(1, 3,null);
							} else {
								alert('保存失败');
							}
						}
					});
				}
			},
			mounted() {
				let _this = this;
				_this.page(1, 3,null);
			}
		});
	</script>
<link rel="stylesheet" href="../../css/theme.css" />

</html>
