<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#oneVm{
				padding: 5px 0 0 5px;
			}
			#xz{
				color: red;
			}
			#xz:hover{
				text-decoration: underline red;
			}
			body{
				padding-right: 0 !important;
			}
		</style>
	</head>
	<body>
		<div id="oneVm">
			<el-row>
			  <el-col :span="24">
				  <el-form :rules="rules" :model="minfo" ref="minfo">
					<el-form-item  label="维修项目：">
						<template>
							<el-select v-model="wxs1" multiple>
								 <el-option v-for="item in wxs1" :label="item" :value="item">
								</el-option> 
							  </el-select>
						</template>
						<span style="margin-left: 10px;"></span>
						<el-button type="danger" plain size="small" @click="open">选择项目</el-button>
					</el-form-item>
					<el-form-item prop="bzid" label="维修班组">
						<template>
							<el-select v-model="minfo.bzid" @change="selectGet">
								<el-option-group v-for="(temp,index) in ar" :label=`${temp.bzname}${k}${temp.bzcost}元小时`>
								  <el-option :lable="temp.bzcost" :value="temp.bzid"></el-option>
								</el-option-group>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item prop="guzhanginfo" label="故障描述：">
						<el-input v-model="minfo.guzhanginfo" type="textarea"></el-input>
					</el-form-item>
					<el-form-item prop="guzhangyuanyin" label="故障原因：">
						<el-input v-model="minfo.guzhangyuanyin" type="textarea"></el-input>
					</el-form-item>
				  </el-form>
			  </el-col>
			</el-row>
		</div>
	</body>
	<script>
		var oneVm=new Vue({
			el:'#oneVm',
			data:{
				k:'  ',
				wxs1:[],
				fwcod:[],
				minfo: {
					guzhanginfo:'',
					guzhangyuanyin:'',
					bzid:''
					},
				ar:{},
				arts:{},
				//表单基础验证
				rules:{
					bzid:[{required: true, message:'请选择维修班组', trigger: 'change'}],
					guzhanginfo:[{required: true, message:'请输入故障描述', trigger: 'blur'}],
					guzhangyuanyin:[{required: true, message:'请输入故障原因', trigger: 'blur'}]
				}
			},
			mounted(){
				let _this=this;
				jQuery.getJSON('http://localhost:8080/api/fzx/selectBz', function(data) {
					_this.arts = data;
				});
				jQuery.getJSON('http://localhost:8080/api/fzx/selectBzz', function(data) {
					_this.ar = data;
				});
			},
			methods:{
				open(){
					orderVm.adds=true;
				},
				selectGet(val){
			    	//传进来的val是select组件选中的value值，也就是一个fruitEnName
			      	var obj = {}
			      	obj = this.ar.find(function(item){
			        return item.bzid === val
			      })
			      //obj 就是被选中的那个对象，也就能拿到label值了。
			      var gsf=obj.bzcost+"元小时";
			      sessionStorage.setItem("gsf",gsf);
			    }
			}
		});
	</script>
</html>
