<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#oneVm{
				padding: 5px 0 0 5px;
			}
			#xz{
				color: red;
			}
			#xz:hover{
				text-decoration: underline red;
			}
			body{
				padding-right: 0 !important;
			}
		</style>
	</head>
	<body>
		<div id="oneVm">
			<el-row>
			  <el-col :span="24">
				  <el-form :rules="rules" :model="minfo" ref="minfo">
					<el-form-item  label="维修项目：">
						<template>
							<el-select v-model="wxs1" multiple>
								 <el-option v-for="item in wxs1" :label="item" :value="item">
								</el-option> 
							  </el-select>
						</template>
						<span style="margin-left: 10px;"></span>
						<el-button type="danger" plain size="small" @click="open">选择项目</el-button>
					</el-form-item>
					
					<el-form-item  label="维修材料：">
						<template>
							<el-select v-model="wxs2" multiple>
								 <el-option v-for="item in wxs2" :label="item" :value="item">
								</el-option> 
							  </el-select>
						</template>
						<span style="margin-left: 10px;"></span>
						<el-button type="danger" plain size="small" @click="openn">选择材料</el-button>
					</el-form-item>
					
					<el-form-item prop="bzid" label="维修班组：">
						<template>
							<el-button type="text" @click="querykc(1,3)" style="width: 220px; margin-top: -15px; margin-left: -100px;">
								<el-input v-model="minfo.bzid"></el-input>
							</el-button>
						</template>
					</el-form-item>
					
					<el-form-item prop="guzhanginfo" label="故障描述：">
						<el-input v-model="minfo.guzhanginfo" type="textarea"></el-input>
					</el-form-item>
					<el-form-item prop="guzhangyuanyin" label="故障原因：">
						<el-input v-model="minfo.guzhangyuanyin" type="textarea"></el-input>
					</el-form-item>
				  </el-form>
			  </el-col>
			</el-row>
			
			<el-dialog title="维修班组" :visible.sync="isShow1" style="width: 50%;margin-left: 400px;">
						<template>
							<el-table :data="ar.list" border style="width: 100%">
								<el-table-column fixed prop="bzid" label="班组id">
								</el-table-column>
								<el-table-column prop="bzname" label="班组名字">
								</el-table-column>
								<el-table-column prop="ticheng" label="工时费">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check1(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.ar.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
			
		</div>
	</body>
	<script>
		var oneVm=new Vue({
			el:'#oneVm',
			data:{
				isShow1:false,
				k:'  ',
				wxs1:[],
				wxs2:[],
				fwcod:[],
				proid:[],
				minfo: {
					guzhanginfo:'',
					guzhangyuanyin:'',
					bzid:'',
				},
				ar:[],
				arts:{},
				//表单基础验证
				rules:{
					bzid:[{required: true, message:'请选择维修班组', trigger: 'change'}],
					guzhanginfo:[{required: true, message:'请输入故障描述', trigger: 'blur'}],
					guzhangyuanyin:[{required: true, message:'请输入故障原因', trigger: 'blur'}]
				}
			},
			mounted(){
				let _this=this;
				jQuery.getJSON('http://localhost:8080/api/fzx/selectBz', function(data) {
					_this.arts = data;
				});
			},
			methods:{
				open(){
					orderVm.adds=true;
				},
				openn(){
					orderVm.addss=true;
				},
				/*选择后回填数据*/
				check1(row) {
					this.isShow1 = false;
					this.minfo.bzid=row.bzid;
					var gsf=row.ticheng+"元小时";
			      	sessionStorage.setItem("gsf",gsf);
				},
				querykc(num,size){
					let _this=this;
					_this.isShow1 = true;
					jQuery.getJSON(`http://localhost:8080/api/fzx/selectBzz/${num}/${size}`,(data)=>{
						_this.ar = data;
					});
				},prev1(page) {
					this.querykc(page, 3);
				},
				
				next1(page) {
					this.querykc(page, 3);
				},
				
				current1(page) {
					this.querykc(page, 3);
				}
			}
		});
	</script>
</html>
