<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			#addsVm{
				padding: 5px 0 0 5px;
			}
			.el-dialog__body{
				padding-top: 0 !important;
				padding-left: 5px !important;
			}
			body{
				padding-right: 0 !important;
			}
		</style>
	</head>
	<body>
		<div id="addsVm">
			<el-row>
			  <el-col :span="18">
				<template>
					<el-table :data="minfo" border>
						<el-table-column v-for="(temp,index) in ms" :label="temp.name" align="center" :resizable="false">
							<template slot-scope="scope">
								<span v-if="temp.values!=0">{{scope.row[temp.values]}}</span>
								 <span v-if="temp.values==0">
									<template>
										<el-checkbox-group v-model="checked">
											<!-- 空格为了不让lable显示 -->
											<el-checkbox :label="scope.row">&nbsp;</el-checkbox>
										</el-checkbox-group>
									  </template>
								</span> 
							  </template>
						</el-table-column>
					</el-table>
				</template>
			  </el-col>
			</el-row>
		</div>
	</body>
	<script>
		var addsVm=new Vue({
			el:'#addsVm',
			data:{
				minfo:[],
				ms:[{name:'选择',values:'0'},{name:'项目类型',values:'xid'},{name:'项目编码',values:'fwcod'},
				{name:'项目名称',values:'fwname'},{name:'售价按',values:'fwprice'},{name:'会员价',values:'vipprice'}],
				checked:[]
			},
			methods:{
				
			},
			mounted(){
				let _this=this;
				let xid=sessionStorage.getItem("ywid");
				jQuery.getJSON(`http://localhost:8080/api/fzx/selectFw/${xid}`,(data)=>{
					_this.minfo=data;
				});
			}
		});
	</script>
</html>
