<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#addsVmm{
				padding: 5px 0 0 5px;
			}
			.el-dialog__body{
				padding-top: 0 !important;
				padding-left: 5px !important;
			}
			body{
				padding-right: 0 !important;
			}
		</style>
	</head>
	<body>
		<div id="addsVmm">
			<el-row>
			  <el-col :span="24">
				<template>
					<el-table :data="minfo" border>
						<el-table-column label="选择" align="center" :resizable="false">
							<template slot-scope="scope">
									<template>
										<el-checkbox-group v-model="checked">
											<!-- 空格为了不让lable显示 -->
											<el-checkbox :label="scope.row">&nbsp;</el-checkbox>
										</el-checkbox-group>
									 </template>
							  </template>
						</el-table-column>
						<el-table-column label="材料编码" prop="proid" align="center" :resizable="false">
							
						</el-table-column>
						<el-table-column label="材料名称" prop="proname" align="center" :resizable="false">
							
						</el-table-column>
						<el-table-column label="单价" prop="proprice" align="center" :resizable="false">
							
						</el-table-column>
						<el-table-column label="数量" align="center" :resizable="false">
							<template slot-scope="scope">
									<template>
										<el-input-number size="mini" :min="1" :max="10" v-model="scope.row.num"></el-input-number>
									</template>
							  </template>
						</el-table-column>
					</el-table>
				</template>
			  </el-col>
			</el-row>
		</div>
	</body>
	<script>
		var addsVmm=new Vue({
			el:'#addsVmm',
			data:{
				minfo:[],
				checked:[],
				nums:[],
				checkedNums:[]
			},
			methods:{
				
			},
			mounted(){
				let _this=this;
				jQuery.getJSON(`http://localhost:8080/api/fzx/selectcl`,(data)=>{
					_this.minfo=data;
					$.each(data, function(obj) {
						_this.nums.push({num:0})
					});
				});
			}
		});
	</script>
</html>
