<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#comVm{
				padding: 5px 0 0 5px;
				
			}
			.el-tabs__nav-wrap::after{
				content: none !important;
			}
			.el-tabs__header {
				margin: 0 !important;
				height: 10px !important;
			}
			.el-radio{
				margin-right: 0 !important;
			}
		</style>
	</head>
	<body>
		<div id="comVm">
			<el-card>
				<el-row>
				  <el-col :span="24">
					  <el-form :model="cominfo" inline="true">
						<el-form-item label="开单日期：">
							<template>
								<el-date-picker style="width: 170px;" :editable="false" placeholder="请选择日期" v-model="cominfo.recorddate" format="yyyy年MM月dd日" value-format="yyyy-MM-dd"></el-date-picker>
							</template>
						</el-form-item>
						<el-form-item label="竣工状态：">
							<template>
								<el-select v-model="cominfo.status" style="width: 150px;" clearable >
								  <el-option label="维修中" :value="0"></el-option>
								  <el-option label="已竣工" :value="1"></el-option>
								  <el-option label="返工中" :value="2"></el-option>
								</el-select>
							</template>
						</el-form-item>
						<el-form-item label="维修单号：">
							<el-input v-model="cominfo.recordid" placeholder="支持模糊搜索"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="success" @click="ck">查询</el-button>
							<el-button type="primary" @click="reset">清空</el-button>
						</el-form-item>
					  </el-form>
				  </el-col>
				</el-row>
				<el-row>
				  <el-col :span="24">
					  <template>
						  <el-table :data="fzxweixiuadd" border >
							<el-table-column v-for="(temp,index) in ms" :label="temp.name" align="center">
								<template slot-scope="scope">
									<span v-if="temp.values!='status'">{{scope.row[temp.values]}}</span>
									<span v-if="temp.values=='status'">
										<el-button v-if="scope.row.status==1" type="success" disabled>已竣工</el-button>
										<el-button v-if="scope.row.status==0" type="info" @click="jg(scope.row.recordid,scope.row.yujidate,scope.row.recorddate)">维修中</el-button>
										<el-button v-if="scope.row.status==2" type="danger"@click="jg(scope.row.recordid,scope.row.yujidate,scope.row.recorddate)">返工中</el-button>
									</span>
								</template>
							</el-table-column>
						  </el-table>
					  </template>
				  </el-col>
				</el-row>
				<el-row>
					<br>
				  <el-col :span="24" offset="6">
					  <template>
					 <el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="pages.total" :page-sizes="[3,6,9]" :page-size="pages.pageSize">
					  </template>
				  </el-col>
				</el-row>
			</el-card>
			
			<el-card>
				<el-row>
				  <el-col :span="24">
					 <h4 style="float: left;">竣工记录</h4>
				  </el-col>
				</el-row>
				<el-row>
				  <el-col :span="24">
					  <template>
						  <el-table :data="fzxjgrecord" border >
							<el-table-column v-for="(temp,index) in jgr" :label="temp.name" align="center">
								<template slot-scope="scope">
									<span v-if="temp.values!='jgstatus'">{{scope.row[temp.values]}}</span>
									<span v-if="temp.values=='jgstatus'">
										<span v-if="scope.row.jgstatus==1">合格</span>
										<span v-if="scope.row.jgstatus==2">不合格</span>
									</span>
								</template>
							</el-table-column>
						  </el-table>
					  </template>
				  </el-col>
				</el-row>
				<el-row>
					<br>
				  <el-col :span="24" offset="6">
					  <template>
					 <el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizecsizec" @current-change="changechange" layout="total,sizes,prev, pager, next, jumper" :total="pagespages.total" :page-sizes="[3,6,9]" :page-size="pagespages.pageSize">
					  </template>
				  </el-col>
				</el-row>
			</el-card>
			
			<el-dialog title="竣工检验" :visible.sync="cs">
				<div>
					<el-row>
					  <el-col :span="24">
						<template>
							<el-radio-group v-model="hg"  @change="tabs">
							  <el-radio label="1" border >合格</el-radio>
							  <el-radio label="2" border >不合格</el-radio>
							</el-radio-group>
							<hr>
							  <el-tabs v-model="hg">
								<el-tab-pane name="1">
									<!-- 合格 -->
									<el-form :model="jgrecord" inline="true" :rules="ruls4" ref="jgrecord">
									  <el-form-item label="预计完工">
										<a style="color: hotpink;font-size: 16px;">{{edate}}</a>
									  </el-form-item>
									  <el-form-item label="实际完工">
										<a style="color:chocolate;font-size: 16px;">{{today}}</a>
									</el-form-item>
									<br>
									<a v-if="wg" style="color: red;font-size: 14px;">已超过预计完工时间，请填写误工原因和处罚金额</a>
									<div style="margin-top: 15px;" v-if="wg">
										<el-form-item label="误工原因" prop="yuanyin">
											<el-input v-model="jgrecord.yuanyin" style="width: 200px;" type="textarea"></el-input>
										</el-form-item>
										<br>
										<el-form-item label="处罚金额" prop="chufa">
											<el-input v-model="jgrecord.chufa" oninput="this.value=this.value.replace(/[^\d]/g,'')" style="width: 200px;"></el-input>
										</el-form-item>
									</div>
									<el-form-item label="质检员：" prop="checkperson">
										<el-input v-model="jgrecord.checkperson"></el-input>
									</el-form-item>
									</el-form>
								</el-tab-pane>
								<el-tab-pane name="2">
									<!-- 不合格 -->
									<el-form :model="jgrecord" inline="true">
										<el-form-item label="已返工：">
											<a style="color: red;">{{fgct}}</a><span style="margin-left: 5px;">次</span>
										</el-form-item>
										<br>
										<div>
									  <el-form-item label="返工原因：">
										<el-input v-model="jgrecord.yuanyin" style="width: 200px;" type="textarea"></el-input>
									  </el-form-item>
									  <br>
									  <el-form-item label="责任人：">
										<el-input v-model="jgrecord.checkperson"></el-input>
									  </el-form-item>
									  <br>
									  <el-form-item label="处罚金额：">
										<el-input v-model="jgrecord.chufa" oninput="this.value=this.value.replace(/[^\d]/g,'')" style="width: 200px;"></el-input>
									  </el-form-item>
									</div>
									</el-form>
								</el-tab-pane>
							  </el-tabs>
						</template>
						
					  </el-col>
					</el-row>
				</div>
				<span slot="footer" class="dialog-footer">
					<el-button @click="cs = false">取 消</el-button>
					<el-button type="primary" @click="comjg">确 定</el-button>
				</span>
			</el-dialog>
		</div>
	</body>
	<script>
		var comVm=new Vue({
			el:'#comVm',
			data:{
				cs:false,
				fgct:'',
				cominfo:{
					recorddate:null,
					status:null,
					recordid:null,
				},
				jgrecord:{
					recordid:'',
					//误工原因
					yuanyin:'',
					//处罚金额，
					chufa:'',
					//质检员
					checkperson:''
				},
				hg:'1',
				//显示行
				ms:[{name:'维修单号',values:'recordid'},{name:'车牌号',values:'carno'},{name:'业务类型',values:'yewutype'},{name:'单据类型',values:'danjutype'},{name:'开单时间',values:'recorddate'},{name:'预计完工',values:'yujidate'},{name:'竣工状态',values:'status'}],
				fzxweixiuadd:[],
				jgr:[{name:'维修单号',values:'recordid'},{name:'实际完工时间',values:'shijidate'},{name:'误工原因',values:'yuanyin'},{name:'处罚金额',values:'chufa'},{name:'质检员',values:'checkperson'},{name:'竣工状态',values:'jgstatus'}],
				fzxjgrecord:[],
				pages:{},
				pagespages:{},
				edate:'',
				today:'',
				wg:true,
				dqdate:'',
				ruls4:{
					yuanyin:[{required: true, message:'请填写误工原因', trigger: 'blur'}],
					chufa:[{required: true, message:'请填写处罚金额', trigger: 'blur'}],
					checkperson:[{required: true, message:'请填写质检人员姓名', trigger: 'blur'}]
				}
			},
			methods:{
				tabs(i){
					let _this=this;
					if(i==2){
						if(this.$refs['jgrecord']!=undefined){
							this.$refs['jgrecord'].resetFields();
						}
						//查询返工次数
						jQuery.getJSON(`http://localhost:8080/api/fzx/selectJgcs/${this.jgrecord.recordid}`,function(data){
							if(data!='0'){
								_this.fgct=data.zicount;
							}else{
								_this.fgct="0";
							};
						});
					}

				},
				//竣工模态框调用....
				jg(recordid,edate,dqdate){
					this.dqdate=dqdate;
					//移除校验结果
					if(this.$refs['jgrecord']!=undefined){
						this.$refs['jgrecord'].resetFields();
					}
					this.jgrecord.recordid=recordid;
					this.edate=edate;
					this.today = new Date().toLocaleString('chinese',{hour12:false});
					var date1Str = new Date(Date.parse(edate));
					var date2Str = new Date(Date.parse(this.today));
					//当前时间>预计完工，true:超过
					this.wg=date2Str>date1Str;
					this.cs=true;
				},
				//竣工检查
				comjg(){
					let _this=this;
					this.$refs['jgrecord'].validate((valid)=>{
						if(valid){
							this.$confirm('确认竣工？', '警告', {
								confirmButtonText: '确定',
								cancelButtonText: '取消',
								type: 'warning',
							}).then(()=>{
								if(this.hg=='1'){
										let status= this.fzxweixiuadd.status=this.hg;
										let recordid= this.fzxweixiuadd.recordid=this.jgrecord.recordid;
										let _this=this;
										//结束时间
					        			let date1 = new Date();    
					        			//_this.dqdate开单时间
					        			let date2 = date1.getTime() - new Date(_this.dqdate).getTime();   //时间差的毫秒数  
					       				let leave1=date2%(8760*3600*1000);	//计算天数后剩余的毫秒数
					        			let bztime=Math.floor(leave1/(3600*1000))+1;//相差多少小时
					        			alert(bztime);
										_this.jgrecord.recordid= _this.fzxweixiuadd.recordid=_this.jgrecord.recordid;
										_this.jgrecord.jgstatus= _this.fzxweixiuadd.status=_this.hg;
										jQuery.ajax({
											url: `http://localhost:8080/api/fzx/updatejg/${status}/${bztime}/${recordid}`,
											type: 'put',
											dataType: 'json',
											contentType: 'application/json',
											success(data) {
												if(data.code == "200"){
													jQuery.ajax({
														url: 'http://localhost:8080/api/fzx/addjg',
														type: 'post',
														dataType: 'json',
														contentType: 'application/json',
														data: JSON.stringify(_this.jgrecord),
														success(data) {
																_this.$message({
																	type: 'success',
																	message: '竣工完成！'
																});
														}
													})
												}
												_this.cs=false;
												indexVm.toUrl('ui/fzx/completionTest.html');
											},
											error() {			
															
											}
										})
									
								}else{
										let _this=this;
										let status= this.fzxweixiuadd.status=this.hg;
										let recordid= this.fzxweixiuadd.recordid=this.jgrecord.recordid;
										//结束时间
					        			let date1 = new Date();    
					        			//_this.dqdate开单时间
					        			let date2 = date1.getTime() - new Date(_this.dqdate).getTime();   //时间差的毫秒数  
					       				let leave1=date2%(8760*3600*1000);	//计算天数后剩余的毫秒数
					        			let bztime=Math.floor(leave1/(3600*1000));//相差多少小时
										_this.jgrecord.recordid= _this.fzxweixiuadd.recordid=_this.jgrecord.recordid;
										_this.jgrecord.jgstatus= _this.fzxweixiuadd.status=_this.hg;
											jQuery.ajax({
											url: `http://localhost:8080/api/fzx/updatejg/${status}/${bztime}/${recordid}`,
											type: 'put',
											dataType: 'json',
											contentType: 'application/json',
											success(data) {
												if(data.code == "200"){
													jQuery.ajax({
														url: 'http://localhost:8080/api/fzx/addjg',
														type: 'post',
														dataType: 'json',
														contentType: 'application/json',
														data: JSON.stringify(_this.jgrecord),
														success(data) {
																_this.$message({
																	type: 'success',
																	message: '返工完成！'
																});
														}
													})
												}
												
												
												_this.cs=false;
												indexVm.toUrl('ui/fzx/completionTest.html');
											},
											error() {			
															
											}
										})
								}

							});
						}else{
							return false;
						}
					});
				},
				ck(){
					if(this.cominfo.recorddate==''){this.cominfo.recorddate=null};
					if(this.cominfo.status==''){this.cominfo.status=null};
					if(this.cominfo.recordid==''){this.cominfo.recordid=null};
					this.page(1,3,this.cominfo.recorddate,this.cominfo.status,this.cominfo.recordid);
				},
				reset(){
					this.cominfo.recorddate=null;
					this.cominfo.status='';
					this.cominfo.recordid='';
				},
				page(num,size,recorddate,status,recordid){
					let _this=this;
					jQuery.getJSON(`http://localhost:8080/api/fzx/selectFwAll/${num}/${size}/${recorddate}/${status}/${recordid}`,function(pg) {
						_this.pages = pg;
						_this.fzxweixiuadd = pg.list;
					});
				},
				change(num){
					this.page(num,this.pages.pageSize,this.cominfo.recorddate,this.cominfo.status,this.cominfo.recordid);
				},
				sizec(size){
					this.page(1,size,this.cominfo.recorddate,this.cominfo.status,this.cominfo.recordid);
				},
				changechange(n){
					this.pagepage(n,this.pagespages.pageSize);
				},
				sizecsizec(s){
					this.pagepage(1,s);
				},
				pagepage(n,s){
					let _this=this;
					jQuery.getJSON(`http://localhost:8080/api/fzx/selectJgAll/${n}/${s}`,function(data) {
						_this.pagespages=data;
						_this.fzxjgrecord = data.list;
					});
				},
			},
			mounted(){
				let _this=this;
				_this.page(1,3,_this.cominfo.recorddate,_this.cominfo.status,_this.cominfo.recordid);
				_this.pagepage(1,3);	
			}
		});
	</script>
</html>
