<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#orderVm{
				padding: 5px 0 0 5px;
			}
			.kg{
				margin: 0 25px;
			}
			.tt{
				color: rgb(30, 190, 137);
			}
			.el-table__header tr,.el-table__header th {
				padding: 0;
				height: 40px;
			}
		</style>
	</head>
	<body>
		<div id="orderVm">
			<el-row>
			  <el-col :span="24">
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<el-link :underline="false">维修单号</el-link>
						<el-link type="danger" :underline="false">{{fzxweixiuadd.recordid}}</el-link>
						<span style="margin-left: 600px;"></span>
						<template v-if="fzxweixiuadd.jiuyuanfy!=0">
							<el-popover placement="top-start" title="温馨提示" width="200" trigger="hover">
								<p style="color: red;"><a v-if="fy">该费用是救援车的里程费用</a><a v-if="!fy">该费用是救援车的里程费用</a></p>
							<a v-if="lc" style="color: coral; font-size: 14px; font-weight: bold;" slot="reference">救援费用：￥<span style="color: red;">{{fzxweixiuadd.jiuyuanfy}}</span>元</a>
						  </el-popover>
						</template>
						<span style="margin-left: 50px;"></span>
						<el-button type="success" @click="addwx">添加维修单</el-button>
					</div>
					<div>
						<el-row>
						  <el-col :span="24">
							  <el-form :inline="true" :rules="rus2" :model="fzxweixiuadd" ref="fzxweixiuadd">
								  <el-form-item v-if="xde">
									<a>车牌号码：</a><a class="tt" v-if="pickinfo[0]!=undefined">{{pickinfo[0].carno}}</a><span class="kg"></span> 
									<a>车主姓名：</a><a class="tt" v-if="pickinfo[0]!=undefined">{{pickinfo[0].driver}}</a><span class="kg"></span> 
									<a>车辆型号：</a><a class="tt" v-if="pickinfo[0]!=undefined">{{pickinfo[0].carxinghao}}</a><span class="kg"></span> 
									<a>车辆品牌：</a><a class="tt" v-if="pickinfo[0]!=undefined">{{pickinfo[0].carpp}}</a><span class="kg"></span> 
									<a>发动机品牌：</a><a class="tt" v-if="pickinfo[0]!=undefined">{{pickinfo[0].fadongjipp}}</a><span class="kg"></span> 
									<a>联系电话：</a><a class="tt" v-if="pickinfo[0]!=undefined">{{pickinfo[0].kphone}}</a><span class="kg"></span> 
								  </el-form-item>
								<br>
								<span class="kg"></span>
								<el-form-item label="单据类型" prop="danjutype">
									<template>
										<el-select v-model="fzxweixiuadd.danjutype" placeholder="请选择" size="small" style="width: 120px;">
										  <el-option v-for="(temp,index) in dj" :label="temp.name" :value="temp.name" :key="temp.name"></el-option>
										</el-select>
									  </template>
								</el-form-item>
								<span class="kg"></span>
								<el-form-item label="服务顾问" prop="fuwugw">
									<template>
										<el-select v-model="fzxweixiuadd.fuwugw" placeholder="请选择" size="small" style="width: 120px;">
										  <el-option v-for="(temp,index) in cs" :label="temp.username" :value="temp.username" :key="temp.username"></el-option>
										</el-select>
									  </template>
								</el-form-item>
								<span class="kg"></span>
								<el-form-item label="业务类别" prop="yewutype">
									<template>
										<el-button type="text" @click="querykc(1,3)" style="width: 120px; margin-top: -10px;">
											<el-input v-model="fzxweixiuadd.yewutype"></el-input>
										</el-button>
									  </template>
								</el-form-item>
								
								
								<span class="kg"></span>
								<el-form-item label="结算方式" prop="clearing">
									<template>
										<el-select v-model="fzxweixiuadd.clearing" placeholder="请选择" size="small" style="width: 120px;">
										  <el-option label="现结" value="现结"></el-option>
										  <el-option label="挂账" value="挂账"></el-option>
										  <el-option label="返修" value="返修"></el-option>
										</el-select>
									  </template>
								</el-form-item>
								<br><br>
								<span class="kg"></span>
								<el-form-item v-if="lc" label="救援卡车牌号："prop="kano">
									<template> <el-input v-model="fzxweixiuadd.kano" :disabled="true" type="text" size="small" style="width: 170px;"></el-input></template>
								</el-form-item>
								<span class="kg"></span>
								<el-form-item label="施工班次：" prop="shigongbc">
									<template>
										<el-select v-model="fzxweixiuadd.shigongbc" placeholder="请选择" size="small" style="width: 120px;">
										  <el-option label="白天" value="白天"></el-option>
										  <el-option label="晚上" value="晚上"></el-option>
										</el-select>
									  </template>
								</el-form-item>
								<span class="kg"></span>
								<el-form-item label="预计完工："prop="yujidate">
									<template>
										<el-date-picker
									      v-model="fzxweixiuadd.yujidate"
									      align="right"
									      type="date"
									      placeholder="选择日期"
									      :picker-options="pickerOptions1">
									    </el-date-picker>
									</template>
								</el-form-item>
								<br><br>
								<el-form-item label="备注说明" prop="beizhu">
									<template><el-input v-model="fzxweixiuadd.beizhu" type="textarea" style="width: 300px;"></el-input></template>
								</el-form-item>
								<el-form-item v-if="lc" label="接车里程数：">
									<template><el-input v-model="fzxweixiuadd.licheng" oninput="this.value=this.value.replace(/[^\d]/g,'')" size="small" placeholder="单位：km"></el-input> </template>
								</el-form-item>
							  </el-form>
							  <el-form>
								<el-form-item>
									<el-tabs type="border-card" v-model="tabs" @tab-click="tabck">				
										<el-tab-pane label="维修项目" name="1">
											<template>
												<el-row>
												  <el-col :span="24">
													  <el-button type="warning" @click="addone=true">添加维修项目</el-button>
													  <span style="margin-left: 840px;"></span>
												  </el-col>
												</el-row>
												<div style="margin-top: 5px;"></div>
												<el-row>
												  <el-col :span="24">
													  <template>
														  <el-table :data="fzxweixiuadd.fzxweixiuxm" border empty-text="请添加维修项目">
															<el-table-column v-for="(temp,index) in ms" :label="temp.name" :align="'center'" :resizable="false" :key="temp.name">
																<template slot-scope="scope">
																	<span v-if="temp.values!=0">{{scope.row[temp.values]}}</span>
																	<span v-if="temp.values==0">
										  								 <el-button type="danger" icon="el-icon-delete" @click="del(scope.$index,fzxweixiuadd.fzxweixiuxm)">删除</el-button>
																	</span>
																  </template>
															</el-table-column>
														  </el-table>
													  </template>
												  </el-col>
												</el-row>
											</template>
										</el-tab-pane>
										<el-tab-pane label="维修材料" name="3">
											<template>
												<el-row>
												  <el-col :span="24">
													  <template>
														  <el-table :data="fzxweixiuadd.fzxweixiucl" border empty-text="请添加维修材料">
															<el-table-column v-for="(temp,index) in cl" :label="temp.name" :align="'center'" :resizable="false" :key="temp.name">
																<template slot-scope="scope">
																	<span v-if="temp.values!=0">{{scope.row[temp.values]}}</span>
																	<span v-if="temp.values==0">
										  								 <el-button type="danger" icon="el-icon-delete" @click="dell(scope.$index,fzxweixiuadd.fzxweixiucl)">删除</el-button>
																	</span>
																  </template>
															</el-table-column>
														  </el-table>
													  </template>
												  </el-col>
												</el-row>
											</template>
										</el-tab-pane>
										<el-tab-pane label="结算信息" name="2">
											<el-row>
												  <el-col :span="24">
													  <template>
														  <el-table :data="jsxx" border empty-text="请先添加维修项目">
															<el-table-column label="项目总价" :align="'center'" >
																	<template slot-scope="scope">
																	<span>{{jg}}</span>
																  </template>
															</el-table-column>
															<el-table-column label="材料总价" :align="'center'" >
																	<template slot-scope="scope">
																	<span>{{cljg}}</span>
																  </template>
															</el-table-column>
															<el-table-column label="人工工时费" :align="'center'" >
																	<template slot-scope="scope">
																	<span>{{gsf}}</span>
																  </template>
															</el-table-column>
															<el-table-column label="救援费用" :align="'center'" >
																	<template slot-scope="scope">
																	<span>{{fzxweixiuadd.jiuyuanfy}}</span>
																  </template>
															</el-table-column>
														  </el-table>
													  </template>
												  </el-col>
												</el-row>
										</el-tab-pane>
									  </el-tabs>
								</el-form-item>
							  </el-form>
						  </el-col>
						</el-row>
					</div>
				</el-card>
			  </el-col>
			</el-row>
			<!--模态框-->
			<el-dialog @opened="oo" title="添加维修项目" :visible.sync="addone">
				<el-dialog width="930px" @opened="ss"  title="选择维修项目" :visible.sync="adds" append-to-body>
					<div id="sont"></div>
					<div slot="footer" class="dialog-footer">
						<el-button @click="scc">确认</el-button>
					  </div>
				</el-dialog>
				<el-dialog width="930px" @opened="sss"  title="选择维修材料" :visible.sync="addss" append-to-body>
					<div id="sontt"></div>
					<div slot="footer" class="dialog-footer">
						<el-button @click="sccc">确认</el-button>
					  </div>
				</el-dialog>
				<div id="ocnt"></div>
				<div slot="footer" class="dialog-footer">
				  <el-button @click="addone = false">取 消</el-button>
				  <el-button type="primary" @click="save1">确定</el-button>
				</div>
			  </el-dialog>
			  
			  <el-dialog title="业务类别" :visible.sync="isShow1" style="width: 50%;margin-left: 400px;">
						<template>
							<el-table :data="bs.list" border style="width: 100%">
								<el-table-column fixed prop="xid" label="业务类别id">
								</el-table-column>
								<el-table-column prop="xname" label="业务类别">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check1(scope.row)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.bs.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
			  
		</div>
	</body>
	<script>
		
		var orderVm =new Vue({
			el:'#orderVm',
			data:{
				isShow1:false,
				ywid:'',
				today:'',
				xde:false,
				fy:true,
				lc:false,
				d:true,
				checked:false,
				addone:false,
				adds:false,
				addss:false,
				pickinfo:{},
				cs:[],
				dj:[{name:'商业单据'},{name:'金融单据'}],
				bs:[],
				ms:[{name:'项目编码',values:'fwcod'},{name:'项目名称',values:'fwname'},{name:'优惠前单价',values:'fwprice'},{name:'优惠后单价',values:'vipprice'},{name:'故障描述',values:'guzhanginfo'},{name:'故障原因',values:'guzhangyuanyin'},{name:'维修班组',values:'bzid'},{name:'操作',values:'0'}],
				cl:[{name:'材料编码',values:'proid'},{name:'材料名称',values:'proname'},{name:'材料单价',values:'proprice'},{name:'材料数量',values:'num'},{name:'故障描述',values:'guzhanginfo'},{name:'故障原因',values:'guzhangyuanyin'},{name:'维修班组',values:'bzid'},{name:'操作',values:'0'}],
				fzxweixiuadd:{
					recordid:'',
					carno:'',
					fuwugw:'',
					yewutype:'',
					shigongbc:'',
					beizhu:'',
					bzid: '',
					yujidate: '',
					guzhanginfo:'',
					guzhangyuanyin:'',
					danjutype:'',
					licheng:'0',
					kano:'',
					jiuyuanfy:'0',
					fzxweixiuxm:[],//添加维修项目
					fzxweixiucl:[]//添加维修材料
				},
				jg:'0',
				cljg:'0',
				gsf:'0',
				tabs:'1',
				jsxx:[{}],
				//表单基础验证
				rus2:{
					yewutype:[{required: true, message:'请选择业务类别', trigger: 'change'}],
					danjutype:[{required: true, message:'请选择单据类型', trigger: 'change'}],
					beizhu:[{required: true, message:'请填写备注说明', trigger: 'blur'}],
					yujidate:[{required: true, message:'请填写预计时间', trigger: 'blur'}],
					fuwugw:[{required: true, message:'请选择服务顾问', trigger: 'change'}],
					shigongbc:[{required: true, message:'请选择班次', trigger: 'change'}],
				},
				pickerOptions1: {
		        disabledDate(time) {
		            return time.getTime() < Date.now();
		        }
		    },
			},
			methods:{
				oo(){
					$("#ocnt").load('ui/fzx/addOne.html');
				},
				tabck(){
					let _this=this;
					if(_this.tabs==2){
						//救援费用
						_this.fzxweixiuadd.jiuyuanfy=parseInt(_this.fzxweixiuadd.licheng) * parseInt(3);
					}
				},
				//添加维修项目确定
				save1(){
					let _this=this;
					oneVm.$refs['minfo'].validate((valid)=>{
						if(valid){
							//选择维修项目判断
							if(oneVm.fwcod[0]==undefined){
								this.$message({
									type:'error',
									message:'请至少选择一项维修项目'
								});
								return;
							}
							let cd= oneVm.fwcod;
							let cdd= oneVm.proid;
							for(let i=0;i<cd.length;i++){
								cd[i].guzhanginfo = oneVm.minfo.guzhanginfo;
								cd[i].guzhangyuanyin = oneVm.minfo.guzhangyuanyin;
								//cd[i].bzname = oneVm.minfo.bzname;
								cd[i].bzid = oneVm.minfo.bzid;
								//cd[i].bzcost = oneVm.minfo.bzcost;
								//计算项目总价格
								_this.jg = parseInt(_this.jg) + parseInt(cd[i].fwprice);
							}
							for(let i=0;i<cdd.length;i++){
								cdd[i].guzhanginfo = oneVm.minfo.guzhanginfo;
								cdd[i].guzhangyuanyin = oneVm.minfo.guzhangyuanyin;
								cdd[i].bzid = oneVm.minfo.bzid;
								_this.cljg = parseInt(_this.cljg) + parseInt(cdd[i].proprice);
							}
							_this.addone=false;
							_this.fzxweixiuadd.fzxweixiuxm=cd;
							_this.fzxweixiuadd.fzxweixiucl=cdd;
							//工时费
							_this.gsf=sessionStorage.getItem("gsf");
						}else{
							return false;
						}
					});
				},
				ss(){
					$("#sont").load("ui/fzx/addS.html");
				},
				sss(){
					$("#sontt").load("ui/fzx/addSS.html");
				},
				//选择维修项目确定框
				scc(){
					let c= addsVm.checked;
					//每次添加前清空数组
					oneVm.wxs1=[];
					addsVm.checked=[];
					for(let i=0;i<c.length;i++){
						//添加维修项目名到多选框,数组绑定
						oneVm.wxs1.push(c[i].fwname);
					}
					//主体数据
					oneVm.fwcod=c;
					this.adds=false;
				},
				sccc(){
					//选中的材料列表
					let checkedCls= addsVmm.checked;
					//alert(JSON.stringify(checkedCls));
					//选中的材料列表对应的计数列表
					/*let checkedNums= addsVmm.checkedNums;
					//下标数组
					let indexs=[];
					checkedCls.forEach(function(index,checkObj){
						indexs.push(checkObj.);
					})
					checkedNums.forEach(function(index,checkNum){
						
					})*/
					//每次添加前清空数组
					oneVm.wxs2=[];
					addsVmm.checked=[];
					addsVmm.checkedNums=[];
					for(let i=0;i<checkedCls.length;i++){
						//添加product名到多选框,数组绑定
						oneVm.wxs2.push(checkedCls[i].proname);
					}
					//主体数据
					oneVm.proid=checkedCls;
					this.addss=false;
				},
				del(index, rows){
					rows.splice(index, 1);
				},
				dell(index, rows){
					rows.splice(index, 1);
				},
				//新增接车 
				addwx(){
					let _this=this;
					_this.fzxweixiuadd.carno=sessionStorage.getItem("carno");
					_this.fzxweixiuadd.guzhanginfo=oneVm.minfo.guzhanginfo;
					_this.fzxweixiuadd.guzhangyuanyin=oneVm.minfo.guzhangyuanyin;
					_this.fzxweixiuadd.bzid=oneVm.minfo.bzid;
					orderVm.$refs['fzxweixiuadd'].validate((valid)=>{
						if(valid){
							//验证维修项目
							if(_this.fzxweixiuadd.fzxweixiuxm[0]==undefined){
								this.$message({
									type:'error',
									message:'请至少选择一项维修项目'
								});
								return;
							}

							this.$confirm('确认添加? 添加后不可撤销', '警告', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning',
							}).then(() => {
								jQuery.ajax({
									url: 'http://localhost:8080/api/fzx/insertweixiu',
									type: 'post',
									dataType: 'json',
									contentType: 'application/json',
									data: JSON.stringify(_this.fzxweixiuadd),
									success(data) {
										if(data.code == "200"){
											_this.$message({
												type: 'success',
												message: '新增成功!'
											});
											let kano= _this.fzxweixiuadd.kano;
											jQuery.ajax({
														url: `http://localhost:8080/api/fzx/updatekc/${kano}`,
														type: 'put',
														dataType: 'json',
														contentType: 'application/json',
												});
										}
											
										//重新加载页面
										indexVm.toUrl('ui/fzx/maintenanceOrder.html');
									},
									error() {
										_this.$message({
											type: 'error',
											message: '未知错误!'
										});
									}
								})
        					});
						}else{
							return false;
						}
					});
				},
				/*选择后回填数据*/
				check1(row) {
					this.isShow1 = false;
					this.fzxweixiuadd.yewutype=row.xname;
					let ywid=this.ywid=row.xid;
					sessionStorage.setItem("ywid",ywid);
				},
				querykc(num,size){
					let _this=this;
					_this.isShow1 = true;
					jQuery.getJSON(`http://localhost:8080/api/fzx/selectFwlb/${num}/${size}`,(data)=>{
						_this.bs = data;
					});
				},prev1(page) {
					this.querykc(page, 3);
				},
				
				next1(page) {
					this.querykc(page, 3);
				},
				
				current1(page) {
					this.querykc(page, 3);
				}
			},
			mounted(){
				let _this=this;
				_this.fzxweixiuadd.recordid = new Date().getTime();
				jQuery.getJSON('http://localhost:8080/api/fzx/selectgw',(data)=>{
						_this.cs = data;
				});


				let d=sessionStorage.getItem("d");
				if(d=='1'){
					//获取之后清除缓存
					sessionStorage.removeItem("d");
					//显示里程数
					_this.lc=true;
					_this.fy=false;
					_this.xde=true;
					let carno=sessionStorage.getItem("carno");
					let carnoo=sessionStorage.getItem("carnoo");
					_this.fzxweixiuadd.kano=carnoo;
					jQuery.getJSON(`http://localhost:8080/api/fzx/selectAll/${carno}`,(data)=>{
						_this.pickinfo = data;
					});
					//_this.fzxweixiuadd.mrecord.ordertype='救援';
					//如果为救援开单，成功后需修改该车状态，结算同样
					
				}else{
					_this.xde=true;
					let carno=sessionStorage.getItem("carno");
					jQuery.getJSON(`http://localhost:8080/api/fzx/selectAll/${carno}`,(data)=>{
						_this.pickinfo = data;
					});
				}
				//sessionStorage.removeItem("carno");
			}
		});
	</script>
</html>
