<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>车型档案</title>
	</head>

	<body>
		<div id="chexingapp" style="width: 100%;">

			<el-row>

				<el-col :span="6">

					<el-row>
						<el-button type="primary" @click="pingpaiadd" plain>增加品牌</el-button>
						<!--<el><input type="text" v-model="pname" placeholder="按名称或字母查询" style=" height:30px;" /></el>-->
						<el-input v-model="pname" placeholder="按名称或字母查询" style="width: 150px;"></el-input>
						<el-button type="primary" plain @click="cx()">查询</el-button>
					</el-row>
					<div class="grid-content bg-purple">
						<template>
							<el-table :data="pingpai" style="width: 100%">
								<el-table-column prop="pid" label="编码">
								</el-table-column>
								<el-table-column prop="pname" label="品牌名称">
								</el-table-column>
								<el-table-column prop="pzimu" label="首字母">
								</el-table-column>
								<el-table-column fixed="right" label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="pingpaiupdate(pingpai[scope.$index].pid)" type="text" size="small">编辑</el-button>
										<el-button type="text" @click="del(pingpai[scope.$index].pid)" size="small">删除</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>

					</div>
				</el-col>
				<el-col :span="18">

					<el-row>
						<el-button type="primary" @click="danganadd" plain>增加车型</el-button>
						<!--<el-button type="primary" plain>照片</el-button>-->
						<!--<el><input type="text" v-model="carname" placeholder="请输入内容" style=" height:30px;" /></el>-->
						<el-input v-model="carname" placeholder="请输入内容" style="width: 150px;"></el-input>
						<el-button type="primary" plain @click="chaxundangan()">查询</el-button>
					</el-row>
					<div class="grid-content bg-purple-light">
						<template>
							<el-table :data="chexing.list" style="width: 100%">
								<el-table-column prop="danganid" label="车牌编号">
								</el-table-column>
								<el-table-column prop="carid" label="车型ID">
								</el-table-column>
								<el-table-column prop="carname" label="车型名称">
								</el-table-column>
								<el-table-column prop="fadongjiid" label="发动机品牌">
								</el-table-column>
								<el-table-column prop="cankaoprice" label="参考价格">
								</el-table-column>
								<el-table-column prop="carniankuan" label="车辆年款">
								</el-table-column>
								<el-table-column prop="gonglv" label="功率">
								</el-table-column>
								<el-table-column prop="jinkouguochan" label="进口国产">
								</el-table-column>
								<el-table-column fixed="right" label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="danganupdate(chexing.list[scope.$index].danganid)" type="text" size="small">编辑</el-button>
										<el-button type="text" size="small" @click="chexingdel(chexing.list[scope.$index].danganid)">删除</el-button>
									</template>
								</el-table-column>
							</el-table>
							<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="chexing.total" :page-sizes="[1,2,3,4,5]" :page-size="chexing.pageSize">
						</template>
					</div>
				</el-col>
			</el-row>
			<el-dialog title="新增品牌" width="850px" :visible.sync="pingpaixinzeng">
				<div id="cnt2">
					<el-form label-width="80px">
						<!--<el-form-item label="品牌编号：">
							<el-input v-model="ping.pid" readonly></el-input>
						</el-form-item>-->
						<el-row>
							<el-col>
								<el-button type="text">
									<el-form-item label="品牌名称" prop="pname">
										<el-input v-model="ping.pname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col>
								<el-button type="text">
									<el-form-item label="品牌首字母" prop="pzimu">
										<el-input v-model="ping.pzimu"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<!--<el-form-item label="品牌名称">
							<el-input v-model="ping.pname"></el-input>
						</el-form-item>
						<el-form-item label="品牌首字母">
							<el-input v-model="ping.pzimu"></el-input>
						</el-form-item>-->
					</el-form>
					<span slot="footer" class="dialog-footer">
   				 	<el-button @click="pingpaixinzeng = false">取 消</el-button>
   				 	<el-button type="primary" @click="addpingpai">保存</el-button>
  				</span>
				</div>
			</el-dialog>

			<el-dialog title="修改品牌" width="850px" :visible.sync="pingpaixiugai">
				<div id="cnt2">
					<el-form label-width="80px">
						<el-row>
							<el-col>
								<el-button type="text">
									<el-form-item label="品牌编号" prop="pid">
										<el-input v-model="ping.pid" readonly></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col>
								<el-button type="text">
									<el-form-item label="品牌名称" prop="pname">
										<el-input v-model="ping.pname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col>
								<el-button type="text">
									<el-form-item label="品牌首字母" prop="pzimu">
										<el-input v-model="ping.pzimu"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<!--
						<el-form-item label="品牌编号">
							<el-input v-model="ping.pid" readonly></el-input>
						</el-form-item>
						<el-form-item label="品牌名称">
							<el-input v-model="ping.pname"></el-input>
						</el-form-item>
						<el-form-item label="品牌首字母">
							<el-input v-model="ping.pzimu"></el-input>
						</el-form-item>-->
					</el-form>
					<span slot="footer" class="dialog-footer">
   				 	<el-button @click="pingpaixiugai = false">取 消</el-button>
   				 	<el-button type="primary" @click="updatepingpai" >保存</el-button>
  				</span>
				</div>
			</el-dialog>

			<el-dialog title="车型定义" width="850px" :visible.sync="danganxinzeng">
				<div id="cnt2">
					<el-form label-width="80px">
						<!--<el-form-item label="车牌编号：">
						<el-input v-model="cardangan.danganid" readonly></el-input>
					</el-form-item>-->
						<el-row>
							<el-col :span="10">
								<el-button type="text">
									<el-form-item label="车辆名称" prop="carname">
										<el-input v-model="cardangan.carname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="10">
								<el-button type="text">
									<el-form-item label="参考价格" prop="cankaoprice">
										<el-input v-model="cardangan.cankaoprice"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="车辆年款" prop="carniankuan">
										<el-input v-model="cardangan.carniankuan"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="10">
								<el-button type="text">
									<el-form-item label="功率" prop="gonglv">
										<el-input v-model="cardangan.gonglv"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="进口国家" prop="jinkouguochan">
										<el-input v-model="cardangan.jinkouguochan"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="xid"><label>车牌品牌</label>
									<el-select v-model="cardangan.carid" placeholder="请选择">
										<el-option v-for="(t,i) in addpingpaai" :value="t.pid">
											{{t.pname}}
										</el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item prop="xid"><label>发动机型号</label>
									<el-select v-model="cardangan.fadongjiid" placeholder="请选择">
										<el-option v-for="(t,i) in addfadongji" :value="t.fadongjiid">
											{{t.fadongjiname}}
										</el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>

					</el-form>
					<span slot="footer" class="dialog-footer">
   				 	<el-button @click="danganxinzeng = false">取 消</el-button>
   				 	<el-button type="primary" @click="addchexingdangan">保存</el-button>
  				</span>
				</div>
			</el-dialog>

			<el-dialog title="车型更新" width="850px" :visible.sync="danganxiugai">
				<div id="cnt2">
					<el-form label-width="80px">
						<el-row>
							<el-col :span="10">
								<el-button type="text">
									<el-form-item label="车牌编号" prop="danganid">
										<el-input v-model="cardangan.danganid" readonly></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="参考价格" prop="cankaoprice">
										<el-input v-model="cardangan.cankaoprice"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="10">
								<el-button type="text">
									<el-form-item label="车辆名称" prop="carname">
										<el-input v-model="cardangan.carname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="车辆年款" prop="carniankuan">
										<el-input v-model="cardangan.carniankuan"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="10">
								<el-button type="text">
									<el-form-item label="功率" prop="gonglv">
										<el-input v-model="cardangan.gonglv"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="进口国家" prop="jinkouguochan">
										<el-input v-model="cardangan.jinkouguochan"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-form-item prop="xid"><label>车牌品牌</label>
									<el-select v-model="cardangan.carid" placeholder="请选择">
										<el-option v-for="(t,i) in addpingpaai" :value="t.pid">
											{{t.pname}}
										</el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="12">
								<el-form-item prop="xid"><label>发动机型号</label>
									<el-select v-model="cardangan.fadongjiid" placeholder="请选择">
										<el-option v-for="(t,i) in addfadongji" :value="t.fadongjiid">
											{{t.fadongjiname}}
										</el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>
						<!--<el-form-item label="车牌编号：">
							<el-input v-model="cardangan.danganid" readonly></el-input>
						</el-form-item>-->
						<!--<el-form-item label="车辆名称">
							<el-input v-model="cardangan.carname"></el-input>
						</el-form-item>
						<el-form-item label="参考价格">
							<el-input v-model="cardangan.cankaoprice"></el-input>
						</el-form-item>
						<el-form-item label="车辆年款">
							<el-input v-model="cardangan.carniankuan"></el-input>
						</el-form-item>-->
						<!--<el-form-item label="功率">
							<el-input v-model="cardangan.gonglv"></el-input>
						</el-form-item>
						<el-form-item label="进口国家">
							<el-input v-model="cardangan.jinkouguochan"></el-input>
						</el-form-item>-->
						<!--<el-form-item label="车牌品牌">
							<el-select placeholder="请选择" v-model="cardangan.carid">
								<el-option v-for="(t,i) in addpingpaai" :value="t.pid">
									{{t.pname}}
								</el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="发动机型号">
							<el-select placeholder="请选择" v-model="cardangan.fadongjiid">
								<el-option v-for="(t,i) in addfadongji" :value="t.fadongjiid">
									{{t.fadongjiname}}
								</el-option>
							</el-select>
						</el-form-item>-->

					</el-form>
					<span slot="footer" class="dialog-footer">
   				 	<el-button @click="danganxiugai = false">取 消</el-button>
   				 	<el-button type="primary" @click="updatechexingdangan">保存</el-button>
  				</span>
				</div>
			</el-dialog>

		</div>
	</body>
	<script>
		var chexingapp = new Vue({
			el: '#chexingapp',
			data: {
				ping: {
					pid: 0,
					pname: '',
					pzimu: '',
					pdate: new Date().toLocaleDateString()
				},
				cardangan: {
					danganid: 0,
					carid: '',
					carname: '',
					fadongjiid: '',
					cankaoprice: '',
					carniankuan: '',
					gonglv: 0,
					jinkouguochan: ''
				},
				addpingpaai: [],
				addfadongji: [],
				pname: '',
				carname: '',
				pingpai: [],
				chexing: [],
				danganxiugai: false,
				danganxinzeng: false,
				pingpaixinzeng: false,
				pingpaixiugai: false
			},
			methods: {
				chaxundangan() {
					let _this = this;
					if(_this.carname == '') {
						_this.carname = null;
					}
					_this.Chexingchaxun(_this.carname, 1, 5);
				},
				Chexingchaxun(carname, n, s) {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/ljl/dangan/All/chexing/byname/${carname}/${n}/${s}`,
						function(data) {
							_this.chexing = data;
						}
					);
				},
				chexingdel(danganid) {
					let _this = this;
					this.$confirm('是否移除该车辆?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://localhost:8080/api/ljl/dangan/chexingdel/${danganid}`, {
							type: "delete",
							dataType: "json",
							success(data) {
								_this.$message({
									type: 'success',
									message: data.msg
								});
								_this.info(1, 5);
							}
						});
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				updatechexingdangan() {
					let _this = this;
					$.ajax({
						url: 'http://localhost:8080/api/ljl/dangan/chexing/update',
						type: 'put',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.cardangan),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.info(1, 5);
							_this.qingkongchexing();
							_this.danganxiugai = false;
						},
						error() {
							alert("未知错误！");
						}
					});
				},
				danganupdate(danganid) {
					let _this = this;
					_this.danganxiugai = true;
					//alert(danganid)
					_this.selecttypeid();
					$.getJSON(
						`http://localhost:8080/api/ljl/dangan/All/Dangan/Byid/${danganid}`,
						function(data) {
							_this.cardangan = data;
						}
					);
				},
				selecttypeid() {
					let _this = this;
					$.getJSON(
						`http://localhost:8080/api/ljl/dangan/selectdangan/fadongji`,
						function(data) {
							_this.addfadongji = data.list;
							$.getJSON(
								`http://localhost:8080/api/ljl/dangan/selectdangan/danganpingpai`,
								function(rs) {
									_this.addpingpaai = rs.list;
								}
							);
						}
					);
				},
				danganadd() {
					let _this = this;
					_this.danganxinzeng = true;
					_this.selecttypeid();
					/*$.getJSON(
						`http://localhost:8080/api/ljl/dangan/danganadd/IdMax`,
						function(data) {
							_this.cardangan.danganid = data + 1;
						}
					);*/
				},
				addchexingdangan() {
					let _this = this;
					$.ajax({
						url: 'http://localhost:8080/api/ljl/dangan/chexingdangan/add',
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.cardangan),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.info(1, 5);
							_this.qingkongchexing();
							_this.danganxinzeng = false;
						},
						error() {
							alert("未知错误！");
						}
					});
				},
				qingkongchexing() {
					this.cardangan = {
						danganid: 0,
						carid: '',
						carname: '',
						fadongjiid: '',
						cankaoprice: '',
						carniankuan: '',
						gonglv: 0,
						jinkouguochan: ''
					}
				},
				qingkongping() {
					this.ping = {
						pid: '',
						pname: '',
						pzimu: '',
						pdate: new Date().toLocaleDateString()
					}
				},
				cx() {
					let _this = this;
					if(_this.pname == '') {
						_this.pname = null;
					}
					$.getJSON(`http://localhost:8080/api/ljl/dangan/All/pingpai/byname/${_this.pname}`,
						function(data) {
							_this.pingpai = data;

						}
					);
				},
				info(n, s) {
					let _this = this;
					$.getJSON(
						`http://localhost:8080/api/ljl/dangan/All/Dang/${n}/${s}`,
						function(rs) {
							_this.chexing = rs;
						}
					);
				},
				change(num) {
					let _this = this;
					this.info(num, _this.chexing.pageSize);
				},
				sizec(size) {
					this.info(1, size);
				},
				pingpaiadd() {
					let _this = this;
					_this.pingpaixinzeng = true;
					/*$.getJSON(
						`http://localhost:8080/api/ljl/dangan/pingpaiadd/IdMax`,
						function(data) {
							/*if(data=='null'){
								alert(1)
								_this.ping.pid = 1;
							}else{
								alert(data)
							}
							_this.ping.pid = data + 1;
						}
					);*/
				},
				del(pid) {
					//alert(pid)
					let _this = this;

					this.$confirm('是否移除该品牌并移除该品牌所有车辆?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.post(`http://localhost:8080/api/ljl/dangan/All/pingpai/${pid}`,
							function(data) {
								_this.$message({
									message: data.msg,
									type: 'success'
								});
								_this.pingpaichaxun();
								_this.info(1, 5);
							}
						);
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				pingpaiupdate(pid) {
					let _this = this;
					_this.pingpaixiugai = true;
					$.getJSON(
						`http://localhost:8080/api/ljl/dangan/All/Pingpai/Byid/${pid}`,
						function(data) {
							_this.ping = data;
						}
					);

				},
				updatepingpai() {
					let _this = this;
					$.ajax({
						url: 'http://localhost:8080/api/ljl/dangan/pingpai/update',
						type: 'put',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.ping),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.pingpaichaxun();
							_this.qingkongping();
							_this.pingpaixiugai = false;
						},
						error() {
							alert("未知错误！");
						}
					});
				},
				addpingpai() {
					let _this = this;
					$.ajax({
						url: 'http://localhost:8080/api/ljl/dangan/pingpai/add',
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.ping),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.pingpaichaxun();
							_this.qingkongping();
							_this.pingpaixinzeng = false;
						},
						error() {
							alert("未知错误！");
						}
					});
				},
				pingpaichaxun() {
					let _this = this;
					$.getJSON(
						`http://localhost:8080/api/ljl/dangan/All/Pingpai`,
						function(data) {
							_this.pingpai = data;
						}
					);
				}

			},
			mounted() {
				let _this = this;
				_this.info(1, 5);
				_this.pingpaichaxun();
			}
		});
	</script>

</html>