
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#weixiu {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<div id="weixiu">
			<el-row>
				<el-col :span="24">
					<template>
						<el-row>
							<!--<el><label>分类编号</label><input type="text" v-model="fadongji.fadongjiid" placeholder="请输入内容" style=" height:30px;" /></el>-->
							<!--<el><label>分类名称</label><input type="text" v-model="fadongjiname" placeholder="按名称查询" style=" height:30px;" /></el>-->
							<el-input v-model="fadongjiname" placeholder="支持模糊搜索" style="width: 150px;"></el-input>
							<el-button type="primary" plain @click="cx">查询</el-button>
							<el-button type="primary" plain @click="bmxl">增加</el-button>
							<!--<el-button type="primary" plain>保存</el-button>-->
							<!--<el-button type="primary" plain>导出</el-button>-->
						</el-row>
						<el-row>
							<el-table :data="wx.list" border style="width: 100%">
								<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
									<template slot-scope="scope">
										<span v-if='temp.value!=0'>{{scope.row[temp.value]}}</span>
									</template>
								</el-table-column>
								<el-table-column fixed="right" label="操作" width="200px">
									<template slot-scope="scope">
										<el-button size="small" @click="update(wx.list[scope.$index].fadongjiid)">编辑</el-button>
										<el-button size="small" @click="del(wx.list[scope.$index].fadongjiid)">删除</el-button>
									</template>
								</el-table-column>
							</el-table>
							<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="wx.total" :page-sizes="[1,2,3,4,5]" :page-size="wx.pageSize">
						</el-row>
					</template>
				</el-col>
			</el-row>
			<el-dialog title="新增发动机品牌" width="700px" :visible.sync="xinzengfadongji">
				<el-form :model="fadongji" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<el-row>
						<el-col>
							<el-button type="text">
								<el-form-item label="发动机名称：" prop="fadongjiname">
									<el-input v-model="fadongji.fadongjiname"></el-input>
								</el-form-item>
							</el-button>
						</el-col>
						<el-col>
							<el-button type="text">
								<el-form-item label="发动机品牌：" prop="fadongjipp">
									<el-input v-model="fadongji.fadongjipp"></el-input>
								</el-form-item>
							</el-button>
						</el-col>
					</el-row>
					<el-form-item>
						<el-button @click="qx">取 消</el-button>
						<el-button type="primary" @click="add">保存</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			<el-dialog title="修改发动机信息" width="700px" :visible.sync="xiugaifadongji">
				<el-form :model="fadongji" :rules="rules" label-width="100px" class="demo-ruleForm" ref="ruleForm">
					<el-row>
						<el-col>
							<el-button type="text">
								<el-form-item label="发动机编号：" prop="fadongjiid">
									<el-input v-model="fadongji.fadongjiid" readonly></el-input>
								</el-form-item>
							</el-button>
						</el-col>

						<el-col>
							<el-button type="text">
								<el-form-item label="发动机名称：" prop="fadongjiname">
									<el-input v-model="fadongji.fadongjiname"></el-input>
								</el-form-item>
							</el-button>
						</el-col>

						<el-col>
							<el-button type="text">
								<el-form-item label="发动机品牌：" prop="fadongjipp">
									<el-input v-model="fadongji.fadongjipp"></el-input>
								</el-form-item>
							</el-button>
						</el-col>
					</el-row>
					<el-form-item>
						<el-button @click="qx">取 消</el-button>
						<el-button type="primary" @click="updates">保存</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
		</div>
	</body>
	<script>
		var weixiu = new Vue({
			el: '#weixiu',
			data: {
				fadongjilist: [],
				fadongji: {
					fadongjiid: 0,
					fadongjiname: '',
					fadongjipp: '',
					scdate: new Date().toLocaleDateString()
				},
				xinzengfadongji: false,
				xiugaifadongji: false,
				wx: [],
				stsy: [{
						name: '发动机编号',
						value: 'fadongjiid'
					},
					{
						name: '所属企业名称',
						value: 'fadongjiname'
					},
					{
						name: '发动机品牌',
						value: 'fadongjipp'
					}
				],
				fadongjiname: '',
				rules:{
					fadongjiname: [{
						required: true,
						message: '请输入发动机名称',
						trigger: 'blur'
					}],
					fadongjipp: [{
						required: true,
						message: '请输入发动机品牌',
						trigger: 'blur'
					}]
				}
			},
			methods: {
				qingkong() {
					this.fadongji = {
						fadongjiid: '',
						fadongjiname: '',
						fadongjipp: '',
						scdate: new Date().toLocaleDateString()
					}
				},
				bmxl() {
					let _this = this;
					this.xinzengfadongji = true;
				},
				qx() {
					this.xinzengfadongji = false;
					this.xiugaifadongji = false;
				},
				add() {
					let _this = this;
					$.ajax("http://localhost:8080/api/ljl/fdj/add", {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.fadongji),
						dataType: "json",
						success(msg) {
							if(msg.code == "200") {
								alert('保存成功');
								_this.xinzengfadongji = false;
								_this.qingkong();
								_this.pageinfo(1, 5);
							} else {
								alert('保存失败');
							}
						}
					});
				},
				update(fadongjiid) {
					let _this = this;
					_this.xiugaifadongji = true;
					$.getJSON(`http://127.0.0.1:8080/api/ljl/fdj/selectById/${fadongjiid}`,
						function(data) {
							_this.fadongji = data;
						}
					);
				},
				updates() {
					let _this = this;
					$.ajax("http://localhost:8080/api/ljl/fdj/update", {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.fadongji),
						dataType: "json",
						success(msg) {
							if(msg.code == "200") {
								alert('保存成功');
								_this.xiugaifadongji = false;
								_this.qingkong();
								_this.pageinfo(1, 5);
							} else {
								alert('保存失败');
							}
						}
					});
				},
				del(fadongjiid) {
					let _this = this;
					if(window.confirm('是否确定删除？')) {
						//alert(1)
						$.ajax(`http://localhost:8080/api/ljl/fdj/delete/${fadongjiid}`, {
							type: "delete",
							dataType: "json",
							success(msg) {
								if(msg.code == "200") {
									alert("删除成功");
									_this.pageinfo(1, 5);
								} else {
									alert("删除失败");
								}
							}
						});
					} else {
						alert(2)
					}
				},
				cx() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/ljl/fdj/selectLikeName/${_this.fadongjiname}`,
						function(data) {
							_this.wx = data;

						}
					);
				},
				change(num) {
					let _this = this;
					this.pageinfo(num, _this.wx.pageSize);
				},
				//pageSize选择事件
				sizec(size) {
					this.pageinfo(1, size);
				},
				pageinfo(sum, size) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/ljl/fdj/All/${sum}/${size}`,
						function(data) {
							_this.wx = data;
							//alert(data)
						}
					);
				},
				handleClose(done) {
					this.$confirm('是否关闭?')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				}
			},
			mounted() {
				let _this = this;
				_this.pageinfo(1, 5);
			}
		});
	</script>