<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>供货单位</title>
	</head>

	<body>
		<div id="gonghuoapp" style="width: 100%;">
			<el-row>
				<!--<el-button type="primary" @click="addfl = true">增加供货单位</el-button>-->
				<el-input v-model="ghname" placeholder="支持模糊搜索" style="width: 150px;"></el-input>
				<el-button type="primary" @click="chaxun" plain>查询</el-button>
				<el-button type="primary" @click="addcs = true">增加厂商</el-button>
				<!--<el-button type="primary" plain>导出</el-button>-->
				<!--<el-button type="primary" plain>照片</el-button>
				<el-button type="primary" plain>联系人</el-button>
				<el-button type="primary" plain>字段设置</el-button>-->
			</el-row>
			<el-row>
				<!--<el-col :span="6">
					<div class="grid-content bg-purple">
						<template>
							<el-table :data="gonghuodanwei" style="width: 100%">
								<el-table-column prop="name" label="供货单位" width="180">
								</el-table-column>
								<el-table-column fixed="right" label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="handleClick(scope.row)" type="text" size="small">编辑</el-button>
										<el-button type="text" size="small">删除</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>

					</div>
				</el-col>-->
				<el-col>
					<!--<el-col :span="18">-->
					<div class="grid-content bg-purple-light">
						<template>
							<el-table :data="gonghuo.list" style="width: 100%;margin-bottom: 20px;" row-key="id" border default-expand-all :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
								<el-table-column prop="ghid" label="厂商代码" width="180">
								</el-table-column>
								<el-table-column prop="ghname" label="厂商名称" width="180">`````````
								</el-table-column>
								<el-table-column prop="ghaddress" label="供货地址">
								</el-table-column>
								<el-table-column prop="ghphone" label="联系电话">
								</el-table-column>
								<el-table-column prop="ghemail" label="邮箱">
								</el-table-column>
								<el-table-column fixed="right" label="操作" width="200px">
									<template slot-scope="scope">
										<el-button size="small" @click="update(gonghuo.list[scope.$index].ghid)">编辑</el-button>
										<el-button size="small" @click="del(gonghuo.list[scope.$index].ghid)">删除</el-button>
									</template>
								</el-table-column>
								<!--<el-table-column prop="qk" label="经营情况">
								</el-table-column>
								<el-table-column prop="wangzhi" label="网址">
								</el-table-column>
								<el-table-column prop="kaihuhang" label="开户行">
								</el-table-column>
								<el-table-column prop="zhanghao" label="银行账号">
								</el-table-column>-->
							</el-table>
							<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="gonghuo.total" :page-sizes="[3,6,9]" :page-size="gonghuo.pageSize">
						</template>
					</div>
				</el-col>
			</el-row>
			<el-dialog title="添加供货单位" :visible.sync="addcs" width="40%">
				<div>
					<el-form label-width="80px" :rules="rules" :model="guohuoadd">
						<el-row>
							<el-col :span="11">
								<el-button type="text">
									<el-form-item label="单位名称" prop="ghname">
										<el-input v-model="guohuoadd.ghname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="11" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="单位地址" prop="ghaddress">
										<el-input v-model="guohuoadd.ghaddress"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-button type="text">
									<el-form-item label="联系电话" prop="ghphone">
										<el-input v-model="guohuoadd.ghphone"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="11" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="邮箱" prop="ghemail">
										<el-input v-model="guohuoadd.ghemail"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="addcs = false">取 消</el-button>
   				 <el-button type="primary" @click="adddanwei">保存</el-button>
  				</span>
			</el-dialog>
			<el-dialog title="修改供货单位" :visible.sync="updatecs" width="40%">
				<div>
					<el-form label-width="80px" :rules="rules" :model="guohuoadd">
						<el-row>
							<el-col :span="11">
								<el-button type="text">
									<el-form-item label="单位编号" prop="ghid">
										<el-input v-model="guohuoadd.ghid" readonly></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-button type="text">
									<el-form-item label="单位名称" prop="ghname">
										<el-input v-model="guohuoadd.ghname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="11" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="单位地址" prop="ghaddress">
										<el-input v-model="guohuoadd.ghaddress"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="11">
								<el-button type="text">
									<el-form-item label="联系电话" prop="ghphone">
										<el-input v-model="guohuoadd.ghphone"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="11" style="margin-left: 40px;">
								<el-button type="text">
									<el-form-item label="邮箱" prop="ghemail">
										<el-input v-model="guohuoadd.ghemail"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<span slot="footer" class="dialog-footer">
   				 <el-button @click="updatecs = false">取 消</el-button>
   				 <el-button type="primary" @click="updatedanwei">保存</el-button>
  				</span>
			</el-dialog>

		</div>
	</body>
	<script>
		var gonghuoapp = new Vue({
			el: '#gonghuoapp',
			data: {
				updatecs: false,
				addcs: false,
				guohuoadd: {
					ghname:'',
					ghaddress:'',
					ghphone:'',
					ghemail:''
				},
				gonghuo: [],
				ghname:'',
				changshang: [],
				rules:{
					ghname: [{
						required: true,
						message: '请输入单位名称',
						trigger: 'blur'
					}],
					ghaddress: [{
						required: true,
						message: '请输入地址',
						trigger: 'blur'
					}],
					ghphone: [{
						required: true,
						message: '请输入联系电话',
						trigger: 'blur'
					}],
					ghemail: [{
						required: true,
						message: '请输入邮箱',
						trigger: 'blur'
					}]
				}
			},
			methods: {
				chaxun() {
					let _this = this;
					if(_this.ghname == '') {
						_this.ghname = null;
					}
					_this.selectByname(_this.ghname, 1, 5);
				},
				adddanwei() {
					let _this = this;
					$.ajax({
						url: 'http://localhost:8080/api/ljl/ghdw/gonghuodanwei/add',
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.guohuoadd),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.pageinfo(1, 5);
							_this.qingkong();
							_this.addcs = false;
						},
						error() {
							alert("未知错误！");
						}
					});
				},
				selectByname(ghname, n, s) {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/ljl/ghdw/All/danwei/byname/${ghname}/${n}/${s}`,
						function(data) {
							_this.gonghuo = data;
						}
					);
				},
				del(ghid) {
					let _this = this;
					this.$confirm('是否移除该单位?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://localhost:8080/api/ljl/ghdw/danweidel/${ghid}`, {
							type: "delete",
							dataType: "json",
							success(data) {
								_this.$message({
									type: 'success',
									message: data.msg
								});
								_this.pageinfo(1, 5);
							}
						});
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				updatedanwei() {
					let _this = this;
					$.ajax({
						url: 'http://localhost:8080/api/ljl/ghdw/updatedanwei',
						type: 'put',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.guohuoadd),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.pageinfo(1, 5);
							_this.qingkong();
							_this.updatecs = false;
						},
						error() {
							alert("未知错误！");
						}
					});
				},
				qingkong() {
					this.guohuoadd = {
						ghid: '',
						ghname: '',
						ghaddress: '',
						ghphone: '',
						ghemail: ''
					}
				},
				update(ghid){
					let _this = this;
					_this.updatecs = true;
					$.getJSON(`http://127.0.0.1:8080/api/ljl/ghdw//gonghuo/selectByid/${ghid}`,
						function(data) {
							_this.guohuoadd = data;
							//alert(data)
						}
					);
				},
				pageinfo(n, s) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/ljl/ghdw/gonghuo/All/${n}/${s}`,
						function(data) {
							_this.gonghuo = data;
							//alert(data)
						}
					);
				},
				change(num) {
					let _this = this;
					this.pageinfo(num, _this.gonghuo.pageSize);
				},
				//pageSize选择事件
				sizec(size) {
					this.pageinfo(1, size);
				},
			},
			mounted() {
				let _this = this;
				_this.pageinfo(1, 5);
			}
		});
	</script>

</html>