<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>项目维修</title>
		<style>
			#weixiu {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<div id="weixiu">
			<el-row>
				<el-col :span="24">
					<template>
						<el-row>
							<!--<el><input type="text" v-model="xname" placeholder="请输入内容" style=" height:30px;" /></el>-->
							<el-input v-model="xname" placeholder="请输入内容" style="width: 150px;"></el-input>
							<el-button type="primary" plain @click="cx()">查询</el-button>
							<el-button type="primary" plain @click="weiliuleibiexinzeng">项目类别增加</el-button>
							<el-button type="primary" plain @click="weixiuleibieziji">项目类别子级增加</el-button>
							<el-button type="primary" plain @click="addwx">维修项目增加</el-button>
							<!--<el-button type="primary" plain @click="bmxl">增加</el-button>-->

							<!--<el-button type="primary" plain>调价</el-button>-->
							<!--<el-button type="primary" plain>保存</el-button>-->
							<el-button type="primary" plain>导出</el-button>
						</el-row>
						<el-row>
							<el-col :span="6">
								<label>维修项目类别</label>
								<!--el-button type="primary" plain @click="chaxunxiangmu">查询选中维修类型项目</el-button-->
								<template>
									<el-tree :data="datas" show-checkbox node-key="id" ref="tree" @node-click="chaxunxiangmu()" highlight-current>
									</el-tree>
								</template>
							</el-col>
							<el-col :span="18">

								<el-table :data="weixiu.list" border style="width: 100%">
									<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
										<template slot-scope="scope">
											<span v-if='temp.value!=0'>{{scope.row[temp.value]}}</span>
										</template>
									</el-table-column>
									<el-table-column fixed="right" label="操作" width="200px">
										<template slot-scope="scope">
											<!--<el-button size="small" @click="bmxp">编辑</el-button>-->
											<el-button size="small" @click="updatewx(weixiu.list[scope.$index].fwcod)">编辑</el-button>
											<el-button size="small" @click="del(weixiu.list[scope.$index].fwcod)">删除</el-button>
										</template>
									</el-table-column>
								</el-table>
								<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="weixiu.total" :page-sizes="[1,2,3,4,5]" :page-size="weixiu.pageSize">

							</el-col>
						</el-row>
					</template>
				</el-col>
			</el-row>
			<el-dialog title="新增维修类别" width="600px" :visible.sync="weixiuleibie">
				<el-form label-width="80px">
					<!--<el-form-item label="项目编号：">
						<el-input v-model="xiangmutype.xid" readonly></el-input>
					</el-form-item>-->

					<el-row>
						<el-col>
							<el-button type="text">
								<el-form-item label="类别名称" prop="xname">
									<el-input v-model="xiangmutype.xname"></el-input>
								</el-form-item>
							</el-button>
						</el-col>
					</el-row>

					<!--<el-form-item label="类别名称：">
						<el-input v-model="xiangmutype.xname"></el-input>
					</el-form-item>-->
					<!--<el-form-item label="父级编号：">
						<el-input v-model="xiangmutype.xfid" readonly></el-input>
					</el-form-item>-->
				</el-form>
				<span slot="footer" class="dialog-footer">
   				 	<el-button @click="weixiuleibie = false">取 消</el-button>
   				 	<el-button type="primary" @click="xinzengfuji">保存</el-button>
  				</span>
			</el-dialog>

			<el-dialog title="新增子级维修类别" width="600px" :visible.sync="weixiuleibiezi">
				<el-form label-width="80px">
					<!--<el-form-item label="项目编号：">
						<el-input v-model="xiangmutype.xid" readonly></el-input>
					</el-form-item>-->

					<el-row>
						<el-col :span="24">
							<el-button type="text">
								<el-form-item label="类别名称" prop="xname">
									<el-input v-model="xiangmutype.xname"></el-input>
								</el-form-item>
							</el-button>
						</el-col>
					<!--<el-form-item label="类别名称：">
						<el-input v-model="xiangmutype.xname"></el-input>
					</el-form-item>-->
						<el-col :span="21">
							<el-form-item prop="xfid"><label>所属上级</label>
								<el-select v-model="xiangmutype.xfid" placeholder="请选择上一级">
									<el-option v-for="(t,i) in weixiutype" :value="t.xid">
										{{t.xname}}
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
					</el-row>
					<!--<el-form-item label="父级编号：">
						<!--<el-input v-model="xiangmutype.xfid"></el-input>
						<el-select placeholder="请选择" v-model="xiangmutype.xfid">
							<el-option v-for="(t,i) in weixiutype" :value="t.xid">
								<label></label>{{t.xname}}
							</el-option>
						</el-select>
					</el-form-item>-->
				</el-form>
				<span slot="footer" class="dialog-footer">
   				 	<el-button @click="weixiuleibiezi = false">取 消</el-button>
   				 	<el-button type="primary" @click="xinzengziji">保存</el-button>
  				</span>
			</el-dialog>

			<el-dialog title="新增维修项目" width="600px" :visible.sync="xinzengweixiu" :before-close="handleClose">
				<div id="cnt2">

				</div>
			</el-dialog>
			<el-dialog title="修改维修项目" width="600px" :visible.sync="xiugaiweixiu" :before-close="handleClose">
				<div id="cnt2">

				</div>
			</el-dialog>
		</div>
	</body>
	<script>
		var weixiu = new Vue({
			el: '#weixiu',
			data: {
				xiangmutype: {
					xid: 0,
					xname: '',
					xfid: 0
				},
				datas: [],
				weixiuleibiezi: false,
				weixiuleibie: false,
				xinzengweixiu: false,
				xiugaiweixiu: false,
				defaultProps: {
					children: 'children',
					label: 'label'
				},
				weixiutype: [],
				weixiu: [],
				stsy: [{
						name: '项目类别',
						value: 'xname'
					},
					{
						name: '项目编码',
						value: 'fwcod'
					},
					{
						name: '项目名称',
						value: 'fwname'
					},
					{
						name: '售价按',
						value: 'xname'
					},
					{
						name: '售按价',
						value: 'fwprice'
					},
					{
						name: 'vip价',
						value: 'vipprice'
					}
				],
				xname: ''
			},
			methods: {
				qingkongtype() {
					this.xiangmutype = {
						xid: '',
						xname: '',
						xfid: 0
					}
				},
				xinzengfuji() {
					let _this = this;
					//alert(JSON.stringify(_this.xiangmutype))
					$.ajax({
						url: 'http://localhost:8080/api/ljl/weixiu/All/addweixiutypeF',
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.xiangmutype),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.qingkongtype();
							_this.weixiutypeinfo();
							_this.weixiuleibie = false;
						},
						error() {
							alert("未知错误！");
						}
					})
				},
				xinzengziji() {
					this.xinzengfuji();
					this.weixiuleibiezi = false;
				},
				weiliuleibiexinzeng() {
					let _this = this;
					this.weixiuleibie = true;
					/*$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiutypeMaxId`,
						function(data) {
							_this.xiangmutype.xid = data + 1;
						});*/
				},
				weixiuleibieziji() {
					let _this = this;
					this.weixiuleibiezi = true;
					/*$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiutypeMaxId`,
						function(data) {
							_this.xiangmutype.xid = data + 1;*/
					$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/selecttype/typefu`,
						function(rs) {
							_this.weixiutype = rs;
							//alert(JSON.stringify(_this.weixiutype))
						}
					);
					/*}
					);*/
				},
				chaxunxiangmu() {
					this.PageInfo(1, 5);
				},
				PageInfo(n, s) {
					let _this = this;
					//获取当前选中的节点id
					var chkIds1 = this.$refs.tree.getCheckedKeys().concat(this.$refs.tree.getHalfCheckedKeys());
					//获取当前选中节点的所有信息
					//var chkIds1 = this.$refs.tree.getCheckedNodes();
					//alert(JSON.stringify(chkIds1))
					$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiuxiangmu/${chkIds1}/${n}/${s}`,
						function(data) {
							_this.weixiu = data;
							//赋值给当前查询的集合父级售价（×）
							/*for(i = 0; i < _this.weixiu.list.length; i++) {
								if(_this.weixiu.list[i].xfid == 0) {
									_this.weixiu.list[i].xfid = _this.weixiu.list[i].xname;
								} else {
									$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/fuji/${_this.weixiu.list[i].xfid}`,
										function(rs) {
											//alert(JSON.stringify(rs))
											_this.weixiu.list[i].xfid = rs.xname;
										}
									);
								}
							}*/
							//alert(JSON.stringify(data.list))

						}
					);
				},
				change(num) {
					let _this = this;
					this.PageInfo(num, _this.weixiu.pageSize);
				},
				//pageSize选择事件
				sizec(size) {
					this.PageInfo(1, size);
				},
				/*bmxl() {
					indexVm.To('ui/ljl/weixiuadd.html');
				},*/
				/*bmxp(coding) {

					sessionStorage.setItem('xiu', coding)
					indexVm.To('ui/ljl/weixiupdate.html');

				},*/
				cx() {
					let _this = this;
					//alert(this.xname)
					$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/byname/${this.xname}/1/5`,
						function(data) {
							_this.weixiu = data;

						});
				},
				del(coding) {
					let _this = this;
					$.post(`http://localhost:8080/api/ljl/weixiu/All/delete/${coding}`,
						function(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							_this.PageInfo(1, 5);
						}
					);
				},
				addwx() {
					let _this = this;
					this.xinzengweixiu = true;
					setTimeout(
						function() {
							$("#cnt2").load("ui/ljl/weixiuadd.html");
						});
				},
				updatewx(fwcod) {
					//alert(id)
					sessionStorage.setItem('fwcod', fwcod);
					let _this = this;
					this.xiugaiweixiu = true;
					setTimeout(
						function() {
							$("#cnt2").load("ui/ljl/weixiupdate.html");
						});
				},
				/*init() {
					let _this = this;
					$.getJSON("http://localhost:8080/api/emps", function(data) {
						_this.wx = data;
					});
				},*/
				handleClose(done) {
					this.$confirm('是否关闭?')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				},
				weixiutypeinfo() {
					let _this = this;
					$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/type`,
						function(rs) {
							//_this.weixiutype = rs.list;
							//alert(JSON.stringify(_this.datas))
							//alert(JSON.stringify(rs.list))
							_this.datas = window.toTreeData(rs.list, "xid", "xfid", "xname");
							console.info(JSON.stringify(_this.datas));
						});
				}
			},
			mounted() {
				let _this = this;
				_this.weixiutypeinfo();
				//this.init();
				//this.datas = window.toTreeData(this.weixiutype, "xid", "xfid", "xname");
				//console.info(JSON.stringify(this.datas));
				//alert(this.datas)
			}
		});
	</script>

</html>