<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#weixiuadd {
				padding-left: 5px;
			}
			
			#tj {
				text-align: center;
				width: 100%;
			}
			
			#oo {
				text-align: center;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div id="weixiuadd">
			<el-row>
				<el-col :span="24">
						<el-form label-width="80px">
							<!--<tr>-->
							<!--<td>项目编码：</td>
							<td>
								<el-input style="width:150px" placeholder="请输入内容" v-model="weixiufuwu.fwcod"></el-input>
							</td>
							<br>
							<br>-->

							<el-row>
								<el-col :span="12">
									<el-button type="text">
										<el-form-item label="项目名称" prop="fwname">
											<el-input v-model="weixiufuwu.fwname" placeholder="请输入内容"></el-input>
										</el-form-item>
									</el-button>
								</el-col>
								<el-col :span="11">
									<el-form-item prop="xid" label="项目类别" style="margin-left: 40px;margin-top: 14px;">
										<el-select v-model="weixiufuwu.xid" placeholder="请选择">
											<el-option v-for="(t,i) in weixiutype" :value="t.xid">
												{{t.xname}}
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="12">
									<el-button type="text">
										<el-form-item label="标准价" prop="fwprice">
											<el-input v-model="weixiufuwu.fwprice" placeholder="请输入内容" v-on:keyup.enter="jisuanvip" @input="jisuanvip"></el-input>
										</el-form-item>
									</el-button>
								</el-col>
								<el-col :span="12">
									<el-button type="text">
										<el-form-item label="vip价" prop="vippric">
											<el-input v-model="weixiufuwu.vipprice"></el-input>
										</el-form-item>
									</el-button>
								</el-col>
							</el-row>
							<!--<tr>

								<td>标准价：</td>
								<td>
									<el-input style="width:150px" placeholder="请输入内容" v-model="weixiufuwu.fwprice" v-on:keyup.enter="jisuanvip" @input="jisuanvip"></el-input>
								</td>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<br>
								<br>
								<td>vipprice价：</td>
								<td>
									<el-input style="width:150px" placeholder="请输入内容" v-model="weixiufuwu.vipprice"></el-input>
								</td>
							</tr>-->

						</el-form>
					<div id="oo">
						<el-button style="width:150px" @click="add">保存</el-button>
						<el-button style="width:150px" @click="fh">返回</el-button>
					</div>
				</el-col>
			</el-row>
		</div>
	</body>

	<script>
		var weixiuadd = new Vue({
			el: '#weixiuadd',
			data: {
				weixiufuwu: {
					fwcod: 0,
					fwname: '',
					xid: '',
					fwprice: '',
					vipprice: 0
				},
				weixiutype: []
			},
			methods: {
				fh() {
					weixiu.xinzengweixiu = false;
				},
				jisuanvip() {
					//alert(1)
					this.weixiufuwu.vipprice = this.weixiufuwu.fwprice * 0.9;
				},
				add() {
					let _this = this;
					//alert(JSON.stringify(this.weixiufuwu))
					//console.log(_this.weixiufuwu);
					//return;
					jQuery.ajax({
						url: 'http://localhost:8080/api/ljl/weixiu/All/addweixiuxiangmu',
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.weixiufuwu),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							weixiu.xinzengweixiu = false;
							//weixiu.PageInfo(1, 5);
						},
						error() {
							alert("未知错误！");
						}
					})
				}
			},
			mounted() {
				let _this = this;
				/*$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiuxiangmuMaxId`,
					function(data) {
						_this.weixiufuwu.fwcod = data + 1;*/
				$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiuleibie/name`,
					function(rs) {
						_this.weixiutype = rs;
						//alert(JSON.stringify(_this.weixiutype))
					}
				);
				/*}
				);*/
			}
		});
	</script>

</html>