<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>项目维修</title>
		<style>
			#weixiu {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<div id="weixiu">
			<el-row>
				<el-col :span="24">
					<template>
						<el-row>
							<el><input type="text" v-model="projectChild" placeholder="请输入内容" style=" height:30px;" /></el>
							<el-button type="primary" plain @click="cx()">查询</el-button>
							<el-button type="primary" plain @click="addwx">项目类别增加</el-button>
							<el-button type="primary" plain @click="addwx">项目类别子级增加</el-button>
							<el-button type="primary" plain @click="addwx">维修项目增加</el-button>
							<el-button type="primary" plain>维修类别删除</el-button>
							<!--<el-button type="primary" plain @click="bmxl">增加</el-button>-->

							<el-button type="primary" plain>掉价</el-button>
							<el-button type="primary" plain>保存</el-button>
							<el-button type="primary" plain>导出</el-button>
						</el-row>
						<el-row>
							<el-col :span="6">
								<label>维修项目类别</label>
								<template>
									<el-tree :data="datas" show-checkbox node-key="id" ref="tree" @click="chaxunxiangmu" highlight-current :props="defaultProps">
									</el-tree>
								</template>
							</el-col>
							<el-col :span="18">

								<el-table :data="weixiu" border style="width: 100%">
									<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
										<template slot-scope="scope">
											<span v-if='temp.value!=0'>{{scope.row[temp.value]}}</span>
										</template>
									</el-table-column>
									<el-table-column fixed="right" label="操作" width="200px">
										<template slot-scope="scope">
											<!--<el-button size="small" @click="bmxp">编辑</el-button>-->
											<el-button size="small" @click="updatewx">编辑</el-button>
											<el-button size="small">删除</el-button>
										</template>
									</el-table-column>
								</el-table>
								<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="wx.total" :page-sizes="[1,2,3,4,5]" :page-size="wx.pageSize">

							</el-col>
						</el-row>
					</template>
				</el-col>
			</el-row>
			<el-dialog title="新增维修项目" width="850px" :visible.sync="xinzengweixiu" :before-close="handleClose">
				<div id="cnt2">

				</div>
			</el-dialog>
			<el-dialog title="修改维修项目" width="850px" :visible.sync="xiugaiweixiu" :before-close="handleClose">
				<div id="cnt2">

				</div>
			</el-dialog>
		</div>
	</body>
	<script>
		var weixiu = new Vue({
			el: '#weixiu',
			data: {
				wx: [],
				datas: [],
				xinzengweixiu: false,
				xiugaiweixiu:false,
				defaultProps: {
					children: 'children',
					label: 'label'
				},
				weixiutype:[{
					xid:'1',
					xname:'2',
					xfid:'0'
				}],
				weixiu: [{
					projectChild: '222',
					coding: '0',
					itemName: '222',
					priceType: '222',
					vIP: '222',
				}, {
					projectChild: '111',
					coding: '0',
					itemName: '111',
					priceType: '111',
					vIP: '111',
				}, {
					projectChild: '333',
					coding: '111',
					itemName: '333',
					priceType: '333',
					vIP: '333',
				}],
				stsy: [{
						name: '项目类别',
						value: 'projectChild'
					},
					{
						name: '项目编码',
						value: 'coding'
					},
					{
						name: '项目名称',
						value: 'itemName'
					},
					{
						name: '售按价',
						value: 'priceType'
					},
					{
						name: 'vip价',
						value: 'vIP'
					}

				],
				projectChild: ''
			},
			methods: {
				chaxunxiangmu(){
					alert(1)
				},
				bmxl() {
					indexVm.To('ui/ljl/weixiuadd.html');
				},
				bmxp(coding) {

					sessionStorage.setItem('xiu', coding)
					indexVm.To('ui/ljl/weixiupdate.html');

				},
				cx() {
					let _this = this;
					alert(this.projectChild)
					$.getJSON(`http://localhost:8080/api/emps/han/${this.projectChild}`, function(data) {
						_this.wx = data;

					});

				},
				sc(coding) {
					let _this = this;

					$.post(`http://localhost:8080/api/emps/shan/${coding}`, function(data) {
						alert("删除成功");
						indexVm.To('ui/ljl/weixiu.html');

					});

				},

				addwx() {
					let _this = this;
					this.xinzengweixiu = true;
					setTimeout(
						function() {
							$("#cnt2").load("ui/ljl/weixiuadd.html");
						});
				},
				
				updatewx() {
					let _this = this;
					this.xiugaiweixiu = true;
					setTimeout(
						function() {
							$("#cnt2").load("ui/ljl/weixiupdate.html");
						});
				},

				init() {
					let _this = this;
					$.getJSON("http://localhost:8080/api/emps", function(data) {
						_this.wx = data;

					});
				},

				handleClose(done) {
					this.$confirm('是否关闭?')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				}

			},
			mounted() {
				let _this = this;
				//this.init();
				$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/type`,
				function(rs){
					_this.weixiutype = rs.list;
					//alert(JSON.stringify(_this.datas))
					//alert(JSON.stringify(rs.list))
					_this.datas = window.toTreeData(rs.list, "xid", "xfid", "xname");
					console.info(JSON.stringify(_this.datas));
				});
				//this.datas = window.toTreeData(this.weixiutype, "xid", "xfid", "xname");
				//console.info(JSON.stringify(this.datas));
				//alert(this.datas)
			}

		});
	</script>

</html>