<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#weixiuadd {
				padding-left: 5px;
			}
			
			#tj {
				text-align: center;
				width: 100%;
			}
			
			#oo {
				text-align: center;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div id="weixiuadd">
			<el-row>
				<el-col :span="24">
					<el-form label-width="80px" :model="weixiufuwu" :rules="rules">

						<el-dialog  append-to-body="true" title="项目类别" :visible.sync="leibie2" style="width: 50%;margin-left: 400px;">
							<template>
								<el-table :data="weixiutype.list" border style="width: 100%">
									<el-table-column prop="xname" label="类别名称">
									</el-table-column>
									<el-table-column label="操作">
										<template slot-scope="scope">
											<el-button @click="check(scope.row)" type="text" size="small">选择</el-button>
										</template>
									</el-table-column>
								</el-table>
							</template>
							<div class="page">
								<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.weixiutype.pages*10">
								</el-pagination>
							</div>
						</el-dialog>

						<el-row>
							<el-col :span="12">
								<el-button type="text">
									<el-form-item label="项目名称" prop="fwname">
										<el-input v-model="weixiufuwu.fwname" placeholder="请输入内容"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<!--<el-col :span="11">
								<el-form-item prop="xid" label="项目类别" style="margin-left: 40px;margin-top: 14px;">
									<template>
										<el-select v-model="weixiufuwu.xid" placeholder="请选择">
											<el-option v-for="(t,i) in weixiutype" :key="t.xid" :label="t.xname" :value="t.xid">
											</el-option>
										</el-select>
									</template>
									<!--<el-select v-model="weixiufuwu.xid" placeholder="请选择">
										<el-option v-for="(t,i) in weixiutype" :value="t.xid">
											{{t.xname}}
										</el-option>
									</el-select>
								</el-form-item>
							</el-col>-->
							<el-col :span="12">
								<el-button type="text" @click="queryweixiuTypeList(1,3)">
									<el-form-item label="项目类别" prop="xname">
										<el-input v-model="xname"></el-input>
									</el-form-item>
								</el-button>
							</el-col>

						</el-row>
						<el-row>
							<el-col :span="12">
								<el-button type="text">
									<el-form-item label="标准价" prop="fwprice">
										<el-input v-model="weixiufuwu.fwprice" placeholder="请输入内容" v-on:keyup.enter="jisuanvip" @input="jisuanvip"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
							<el-col :span="12">
								<el-button type="text">
									<el-form-item label="vip价" prop="vippric">
										<el-input v-model="weixiufuwu.vipprice"></el-input>
									</el-form-item>
								</el-button>
							</el-col>
						</el-row>

					</el-form>
					<div id="oo">
						<el-button style="width:150px" @click="add">保存</el-button>
						<el-button style="width:150px" @click="fh">返回</el-button>
					</div>
				</el-col>
			</el-row>
		</div>
	</body>

	<script>
		var weixiuadd = new Vue({
			el: '#weixiuadd',
			data: {
				weixiufuwu: {
					fwcod: 0,
					fwname: '',
					xid: '',
					fwprice: '',
					vipprice: 0
				},
				xname:'',
				leibie2: false,
				weixiutype: [],
				rules:{
					fwname: [{
						required: true,
						message: '请输入项目名称',
						trigger: 'blur'
					}],
					fwprice: [{
						required: true,
						message: '请输入标准价',
						trigger: 'blur'
					}],
					vipprice: [{
						required: true,
						message: '请输入VIP价',
						trigger: 'blur'
					}],
					xid: [{
						required: true,
						message: '请选择类别',
						trigger: 'blur'
					}]
				}
			},
			methods: {
				check(row) {
					this.leibie2 = false;
					this.weixiufuwu.xid = row.xid;
					this.xname=row.xname;
				},
				queryweixiuTypeList(n, s) {
					let _this = this;
					_this.leibie2 = true;
					$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiuleibie/name/${n}/${s}`,
						function(rs) {
							_this.weixiutype = rs;
							//alert(JSON.stringify(_this.weixiutype))
						}
					);
				},
				prev2(cpage) {
					this.queryweixiuTypeList(cpage, 3);
				},
				/*下一页发动机查询*/
				next2(cpage) {
					this.queryweixiuTypeList(cpage, 3);
				},
				/*当前页发动机查询*/
				current2(cpage) {
					this.queryweixiuTypeList(cpage, 3);
				},
				fh() {
					weixiu.xinzengweixiu = false;
				},
				jisuanvip() {
					//alert(1)
					this.weixiufuwu.vipprice = this.weixiufuwu.fwprice * 0.9;
				},
				add() {
					let _this = this;
					//alert(JSON.stringify(this.weixiufuwu))
					//console.log(_this.weixiufuwu);
					//return;
					jQuery.ajax({
						url: 'http://localhost:8080/api/ljl/weixiu/All/addweixiuxiangmu',
						type: 'post',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(_this.weixiufuwu),
						success(data) {
							_this.$message({
								message: data.msg,
								type: 'success'
							});
							weixiu.xinzengweixiu = false;
							//weixiu.PageInfo(1, 5);
						},
						error() {
							alert("未知错误！");
						}
					})
				}
			},
			mounted() {
				let _this = this;
				/*$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiuxiangmuMaxId`,
					function(data) {
						_this.weixiufuwu.fwcod = data + 1;*/
				$.getJSON(`http://localhost:8080/api/ljl/weixiu/All/weixiuleibie/name`,
					function(rs) {
						_this.weixiutype = rs;
						//alert(JSON.stringify(_this.weixiutype))
					}
				);
				/*}
				);*/
			}
		});
	</script>

</html>