<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>项目维修</title>
		<style>
			#weixiu {
				padding-left: 5px;
			}
		</style>
	</head>

	<body>
		<div id="weixiu">
			<el-row>
				<el-col :span="24">
					<template>
						<el-row>
							<el><input type="text" v-model="projectChild" placeholder="请输入内容" style=" height:30px;" /></el>
							<el-button type="primary" plain @click="cx()">查询</el-button>
							<el-button type="primary" plain @click="bmxl">增加</el-button>

							<el-button type="primary" plain>掉价</el-button>
							<el-button type="primary" plain>保存</el-button>
							<el-button type="primary" plain>导出</el-button>
						</el-row>
						<el-row>
							<el-col :span="6">
								<el-table :data="wx" style="width: 100%">
									<el-table-column prop="a" label="项目类别">
									</el-table-column>
								</el-table>
							</el-col>
							<el-col :span="18">

								<el-table :data="wx" border style="width: 100%">
									<el-table-column v-for="(temp,index) in stsy" :label="temp.name" align="center" :resizable="false">
										<template slot-scope="scope">
											<span v-if='temp.value!=0'>{{scope.row[temp.value]}}</span>
										</template>
									</el-table-column>
									<el-table-column fixed="right" label="操作" width="200px">
										<template slot-scope="scope">
											<el-button size="small">编辑</el-button>
											<el-button size="small">删除</el-button>
										</template>
									</el-table-column>
								</el-table>
								<el-pagination background prev-text="上一页" next-text="下一页" @size-change="sizec" @current-change="change" layout="total,sizes,prev, pager, next, jumper" :total="wx.total" :page-sizes="[1,2,3,4,5]" :page-size="wx.pageSize">

							</el-col>
						</el-row>
					</template>
				</el-col>
			</el-row>
		</div>
	</body>
	<script>
		var weixiu = new Vue({
			el: '#weixiu',
			data: {
				wx: [],
				stsy: [{
						name: '项目类别',
						value: 'projectChild'
					},
					{
						name: '项目编码',
						value: 'coding'
					},
					{
						name: '项目名称',
						value: 'itemName'
					},
					{
						name: '售按价',
						value: 'priceType'
					},
					{
						name: 'vip价',
						value: 'vIP'
					}

				],
				projectChild: ''
			},
			methods: {
				bmxl() {
					indexVm.To('ui/ljl/weixiuadd.html');
				},
				bmxp(coding) {

					sessionStorage.setItem('xiu', coding)
					indexVm.To('ui/ljl/weixiupdate.html');

				},
				cx() {
					let _this = this;
					alert(this.projectChild)
					$.getJSON(`http://localhost:8080/api/emps/han/${this.projectChild}`, function(data) {
						_this.wx = data;

					});

				},
				sc(coding) {
					let _this = this;

					$.post(`http://localhost:8080/api/emps/shan/${coding}`, function(data) {
						alert("删除成功");
						indexVm.To('ui/ljl/weixiu.html');

					});

				},

				init() {
					let _this = this;
					$.getJSON("http://localhost:8080/api/emps", function(data) {
						_this.wx = data;

					});
				}

			},
			mounted() {
				this.init();
			}

		});
	</script>

</html>