<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
			}
			
			.bg-purple-dark {
				background: #FAF8F6;
			}
			
			.bg-purple {
				background: #FAF8F6;
			}
			
			.bg-purple-light {
				background: #FAF8F6;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FAF8F6;
			}
		</style>
	</head>

	<body>
		<div id="cheVm">

			<el-row>
				<el-col :span="12">
					<div class="grid-content bg-purple">
						<h1 style="margin-left: 10px;">       客户信息</h1>

					</div>
				</el-col>
				<p></p>
				<h></h>
				<el-dialog title="修改客户" :visible.sync="isShow3" width="30%">
					<el-form :model="xgkh" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="客户名称" prop="clientname">
							<el-input v-model="xgkh.kname"></el-input>
						</el-form-item>
						<el-form-item label="电话" prop="clientiphone">
							<el-input v-model="xgkh.kphone"></el-input>
						</el-form-item>
						<el-form-item label="客户地址" prop="clientaddress">
							<el-input v-model="xgkh.kaddress"></el-input>
						</el-form-item>
						<el-form-item label="是否会员">
							<el-col :span="8">
								<el-select v-model="xgkh.vipcode" placeholder="是否为会员" @change="queryVip">
									<el-option label="是" :value=1></el-option>
									<el-option label="不是" :value=0></el-option>
								</el-select>
							</el-col>
						</el-form-item>
						<el-form-item label="客户生日" required>
							<el-col :span="11">
								<el-form-item prop="clientbirthday">
									<el-date-picker type="date" placeholder="选择日期" v-model="xgkh.borndate" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>

						<el-form-item>
							<el-button type="primary" @click="update1">立即创建</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</el-form-item>
					</el-form>
				</el-dialog>
				<el-button type="primary" @click="addClient" plain>新增</el-button>
				<el-button type="primary" @click="add" plain>新增客户和车辆</el-button>
				<el-dialog title="新增客户" :visible.sync="isShow1" width="30%">
					<el-form :model="kehu" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="客户名称" prop="clientname">
							<el-input v-model="kehu.kname"></el-input>
						</el-form-item>
						<el-form-item label="电话" prop="clientiphone">
							<el-input v-model="kehu.kphone"></el-input>
						</el-form-item>
						<el-form-item label="客户地址" prop="clientaddress">
							<el-input v-model="kehu.kaddress"></el-input>
						</el-form-item>
						<el-form-item label="是否会员">
							<el-col :span="8">
								<el-select v-model="kehu.vipcode" placeholder="是否为会员" @change="queryVip">
									<el-option label="是" value="1"></el-option>
									<el-option label="不是" value="0"></el-option>
								</el-select>
							</el-col>
						</el-form-item>
						<el-form-item label="客户生日" required>
							<el-col :span="11">
								<el-form-item prop="clientbirthday">
									<el-date-picker type="date" placeholder="选择日期" v-model="kehu.borndate" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="addClient1">立即创建</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</el-form-item>
					</el-form>
				</el-dialog>
				<el-dialog title="新增会员卡" :visible.sync="isShow5" width="30%">
					<el-form :model="vipcard" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="会员账号">
							<el-input v-model="vipcard.vipcode" @input="repetition"></el-input>
						</el-form-item>
						<el-form-item label="会员密码">
							<el-input v-model="vipcard.vippwd"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="vipInsert">确定</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</el-form-item>
					</el-form>
				</el-dialog>
				<el-dialog title="新增客户和车辆" :visible.sync="isShow4" width="40%">
					<el-form :model="kehu" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="客户名称" prop="clientname">
							<el-input v-model="kehu.kname"></el-input>
						</el-form-item>
						<el-form-item label="电话" prop="clientiphone">
							<el-input v-model="kehu.kphone"></el-input>
						</el-form-item>
						<el-form-item label="客户地址" prop="clientaddress">
							<el-input v-model="kehu.kaddress"></el-input>
						</el-form-item>
						<el-form-item label="是否会员">
							<el-col :span="8">
								<el-select v-model="kehu.vipcode" placeholder="是否为会员" @change="queryVip">
									<el-option label="是" value="1"></el-option>
									<el-option label="不是" value="0"></el-option>
								</el-select>
							</el-col>
						</el-form-item>
						<el-form-item label="客户生日" required>
							<el-col :span="11">
								<el-form-item prop="clientbirthday">
									<el-date-picker type="date" placeholder="选择日期" v-model="kehu.borndate" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
					</el-form>
					<el-form :model="car" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="车牌" prop="name">
							<el-input v-model="car.carno"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 20px;">
								<el-button type="text">车辆品牌
									<el-input v-model="car.carpp"></el-input>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">车辆型号
									<el-input v-model="car.carxinghao"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶员" prop="name">
							<el-input v-model="car.driver"></el-input>
						</el-form-item>
						<el-form-item label="驾驶员电话" prop="name">
							<el-input v-model="car.driverphone"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10">
								<el-form-item label="车辆归属" prop="region">
									<el-select v-model="car.carguishu" placeholder="请选择车辆归属">
										<el-option label="私家车" value="私家车"></el-option>
										<el-option label="公用车" value="公用车"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>
						<el-form-item label="驾驶证到期日期" required>
							<el-col :span="11">
								<el-form-item prop="date1">
									<el-date-picker type="date" placeholder="选择日期" v-model="car.jszlostdate" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 20px;">
								<el-button type="text" @click="fadongji(1,3)">发动机
									<el-input v-model="car.fadongjiid"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="燃油类别" prop="name">
							<el-input v-model="car.ranyoutype"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="addkhwithcar">立即创建</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</el-form-item>
					</el-form>
				</el-dialog>
				<el-dialog title="发动机id" :visible.sync="isShow2" style="width: 50%;margin-left: 500px;">
					<template>
						<el-table :data="fadongjis.list" border style="width: 100%">
							<el-table-column fixed prop="fadongjiid" label="发动机id">
							</el-table-column>
							<el-table-column prop="fadongjiname" label="发动机名称">
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="scope">
									<el-button @click="check(scope.row.fadongjiid)" type="text" size="small">选择</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
					<div class="page">
						<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.fadongjis.pages*10">
						</el-pagination>
					</div>
				</el-dialog>
				<el-row>
					<el-col :span="24">
						<div class="grid-content bg-purple-dark">
							<template>
								<el-table :data="pageInfo.list" height="250" border style="width: 100%">
									<el-table-column fixed prop="kid" label="编号">
									</el-table-column>
									<el-table-column prop="kname" label="客户姓名">
									</el-table-column>
									<el-table-column prop="kaddress" label="详细地址">
									</el-table-column>
									<el-table-column prop="kphone" label="电话号码">
									</el-table-column>
									<el-table-column prop="borndate" label="出生日期">
									</el-table-column>
									<el-table-column label="操作">
										<template slot-scope="scope">
											<el-button type="text" @click="query(scope.row.kid)">查看</el-button>
											<el-button type="text" size="small" @click="update(scope.row.kid)">编辑</el-button>
											<el-button slot="reference" type="text" @click="del(scope.row.kid,scope.$index)">删除</el-button>
										</template>
									</el-table-column>
								</el-table>
							</template>
							<div class="page">
								<el-pagination layout="prev, pager, next" @current-change="current" @prev-click="prev" @next-click="next" :total="this.pageInfo.pages*10">
								</el-pagination>
							</div>
						</div>
					</el-col>
				</el-row>
				<template>
					<el-tabs v-model="activeName" type="border-card">
						<el-tab-pane label="车辆信息" name="first">
							<el-row>
								<el-col :span="24">
									<div class="grid-content bg-purple-dark">
										<template>
											<el-table :data="cl.list" border style="width: 100%" height="250">
												<el-table-column prop="carno" label="车牌">
												</el-table-column>
												<el-table-column prop="carpp" label="车辆品牌">
												</el-table-column>
												<el-table-column prop="carxinghao" label="车辆型号">
												</el-table-column>
												<el-table-column prop="driver" label="驾驶员">
												</el-table-column>
												<el-table-column prop="driverphone" label="电话">
												</el-table-column>
												<el-table-column prop="carguishu" label="归属">
												</el-table-column>
												<el-table-column prop="kname" label="客户名称">
												</el-table-column>
												<el-table-column prop="fadongjiname" label="发动机">
												</el-table-column>
											</el-table>
										</template>
										<div class="page">
											<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.cl.pages*10">
											</el-pagination>
										</div>
									</div>
								</el-col>
							</el-row>
						</el-tab-pane>
						<el-tab-pane label="历史消费" name="second">
							<el-row>
								<el-col :span="24">
									<div class="grid-content bg-purple-dark">
										<template>
											<el-table :data="xf.list" border style="width: 100%" height="250">
												<el-table-column prop="danjutype" label="单据类型">
												</el-table-column>
												<el-table-column prop="recordid" label="销售单号">
												</el-table-column>
												<el-table-column prop="carno" label="车牌号">
												</el-table-column>
												<el-table-column prop="yewutype" label="维修业务">
												</el-table-column>
												<el-table-column prop="recorddate" label="进厂时间">
												</el-table-column>
												<el-table-column prop="recorddate" label="完工时间">
												</el-table-column>
												<el-table-column prop="jsdate" label="结算时间">
												</el-table-column>
												<el-table-column prop="jsmoney" label="消费金额">
												</el-table-column>
											</el-table>
										</template>
										<div class="page">
											<el-pagination layout="prev, pager, next" @current-change="current3" @prev-click="prev3" @next-click="next3" :total="this.xf.pages*10">
											</el-pagination>
										</div>
									</div>
								</el-col>
							</el-row>
						</el-tab-pane>
				</template>
		</div>
	</body>
	<script>
		var cheVm = new Vue({
			el: '#cheVm',
			data: {
				activeName: 'first',
				fadongjis: {},
				car: {
					carpp: "",
					carxinghao: "",
					carno: "",
					driver: "",
					driverphone: "",
					carguishu: "",
					fadongjiid: "",
					jszlostdate: "",
					ranyoutype: "",
					kid: ""
				},
				pageInfo: {},
				kehu: {
					kname: "",
					kphone: "",
					vipcode: "",
					kaddress: "",
					borndate: ""
				},
				xgkh: {
					kid: "",
					kname: "",
					kphone: "",
					vipcode: "",
					kaddress: "",
					borndate: ""
				},
				vipcard: {
					vipcode: "",
					vippwd: ""
				},
				xf: {},
				cl: {},
				visible: false,
				isShow1: false,
				isShow2: false,
				isShow3: false,
				isShow4: false,
				isShow5: false,
				ruleForm: {
					name: '',
					region: '',
					date1: '',
					date2: '',
					delivery: false,
					type: [],
					resource: '',
					desc: ''
				},
				rules: {
					clientid: [{
						required: true,
						message: '请输入编号',
						trigger: 'blur'
					}, ],
					clientname: [{
							required: true,
							message: '请输入客户姓名',
							trigger: 'blur'
						},

					],
					clientiphone: [{
							required: true,
							message: '请输入客户电话',
							trigger: 'blur'
						},

					],
					clientaddress: [{
						required: true,
						message: '请输入地址',
						trigger: 'blur'
					}],
					clientbirthday: [{
						type: 'date',
						required: true,
						message: '请选择日期',
						trigger: 'blur'
					}],
					clientlb: [{
						type: 'array',
						required: true,
						message: '请至少选择一个',
						trigger: 'change'
					}]
				}
			},
			methods: {
				/*上一页消费记录查询*/
				prev3(cpage) {
					this.queryXF(cpage, this.xf.list[0].kid);
				},
				/*下一页消费记录查询*/
				next3(cpage) {
					this.queryXF(cpage, 3, this.xf.list[0].kid);
				},
				/*当前页消费记录查询*/
				current3(cpage) {
					this.queryXF(cpage, 3, this.xf.list[0].kid);
				},
				/*查询消费记录*/
				queryXF(pageNum, pageSize, id) {
					let _this = this; //非常重要
					$.getJSON(`http://127.0.0.1:8080/api/weixiu/${pageNum}/${pageSize}/${id}`,
						function(res) {
							_this.xf = res;
						})
				},
				/*上一页车辆查询*/
				prev2(cpage) {
					this.queryCl(cpage, this.cl.list[0].kid);
				},
				/*下一页车辆查询*/
				next2(cpage) {
					this.queryCl(cpage, 3, this.cl.list[0].kid);
				},
				/*当前页车辆查询*/
				current2(cpage) {
					this.queryCl(cpage, 3, this.cl.list[0].kid);
				},
				/*根据客户id查询车辆和消费记录*/
				query(id) {
					this.queryCl(1, 3, id);
					this.queryXF(1, 3, id);
				},
				/*查询车辆*/
				queryCl(pageNum, pageSize, id) {
					let _this = this; //非常重要
					$.getJSON(`http://127.0.0.1:8080/api/car/${pageNum}/${pageSize}/${id}`,
						function(res) {
							_this.cl = res;
						})
				},

				/*上一页发动机查询*/
				prev1(cpage) {
					this.fadongji(cpage, 3);
				},
				/*下一页发动机查询*/
				next1(cpage) {
					this.fadongji(cpage, 3);
				},
				/*当前页发动机查询*/
				current1(cpage) {
					this.fadongji(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check(id) {
					this.car.fadongjiid = id;
					this.isShow2 = false;
				},
				/*查询所有发动机*/
				fadongji(pageNum, pageSize) {
					let _this = this; //非常重要
					_this.isShow2 = true;
					$.getJSON(`http://127.0.0.1:8080/api/fadongji/${pageNum}/${pageSize}`,
						function(res) {
							_this.fadongjis = res;
						})
				},
				/*新增客户和车辆*/
				addkhwithcar() {
					this.isShow5 = false;
					let _this = this; //非常重要
					if(this.kehu.vipcode > 0) {
						_this.kehu.vipcode = _this.vipcard.vipcode;
					}
					$.ajax(`http://127.0.0.1:8080/api/kehu`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.kehu),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								$.getJSON(`http://127.0.0.1:8080/api/kehu`,
									function(res) {
										_this.car.kid = res.kid;
										$.ajax(`http://127.0.0.1:8080/api/car`, {
											type: "post",
											contentType: "application/json",
											data: JSON.stringify(_this.car),
											dataType: "json",
											success(res) {
												if(res.code == "200") {
													alert("新增成功");
													_this.isShow4 = false;
													_this.kehu = {
														kname: "",
														kphone: "",
														vipcode: "",
														kaddress: "",
														borndate: ""
													};
													_this.vipcard = {
														vipcode: "",
														vippwd: ""
													};
													_this.car = {
														carpp: "",
														carxinghao: "",
														carno: "",
														driver: "",
														driverphone: "",
														carguishu: "",
														fadongjiid: "",
														jszlostdate: "",
														ranyoutype: "",
														kid: ""
													}
												}
											}
										});
									});
							}
						}
					});
				},
				/*修改客户*/
				update1() {
					this.isShow3 = false;
					let _this = this; //非常重要
					if(this.xgkh.vipcode > 0) {
						_this.xgkh.vipcode = _this.vipcard.vipcode;
					}
					$.ajax(`http://127.0.0.1:8080/api/kehu`, {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.xgkh),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								alert('修改成功');
								_this.xgkh = {
									kid: "",
									kname: "",
									kphone: "",
									vipcode: "",
									kaddress: "",
									borndate: ""
								};
								_this.vipcard = {
									vipcode: "",
									vippwd: ""
								};
							}
						}
					});
				},
				/*显示修改客户的静态模态框*/
				update(id) {
					this.isShow3 = true;
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/kehu/${id}`,
						function(res) {
							if(res.vipcode > 0) {
								_this.vipcard.vipcode = res.vipcode;
								res.vipcode = 1;
							}
							_this.xgkh = res;
						})
				},
				/*分页查询*/
				page(pageNum, pageSize) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/kehu/${pageNum}/${pageSize}`,
						function(res) {
							_this.pageInfo = res;
						})
				},
				/*上一页客户查询*/
				prev(cpage) {
					this.page(cpage, 3);
				},
				/*下一页客户查询*/
				next(cpage) {
					this.page(cpage, 3);
				},
				/*当前页客户查询*/
				current(cpage) {
					this.page(cpage, 3);
				},
				/*显示新增模态框*/
				addClient() {
					this.isShow1 = true;
				},
				/*新增客户*/
				addClient1() {
					this.isShow1 = false;
					let _this = this; //非常重要
					if(this.kehu.vipcode > 0) {
						_this.kehu.vipcode = _this.vipcard.vipcode;
					}
					$.ajax(`http://127.0.0.1:8080/api/kehu`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.kehu),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								alert('新增成功');
								_this.kehu = {
									kname: "",
									kphone: "",
									vipcode: "",
									kaddress: "",
									borndate: ""
								};
								_this.vipcard = {
									vipcode: "",
									vippwd: ""
								};
							}
						}
					});
				},
				/*显示新增会员卡*/
				queryVip() {
					if(this.kehu.vipcode == 1) {
						this.isShow5 = true;
					}
				},
				/*查询会员卡号是否被使用*/
				repetition() {
					let vipcode = this.vipcard.vipcode;
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/vip/${vipcode}`,
						function(res) {
							if(res.code == 200) {
								alert("会员卡号已被使用");
								_this.vipcard.vipcode = "";
							}
						})
				},
				/*新增会员卡*/
				vipInsert() {
					this.isShow5 = false;
					let _this = this; //非常重要
					$.ajax(`http://127.0.0.1:8080/api/vip`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.vipcard),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								alert('保存成功');
							}
						}
					});
				},
				/*删除客户*/
				del(id, index) {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/kehu/${id}`, {
						type: 'delete',
						contentType: 'application/json',
						success(data) {
							if(data.code == 200) {
								alert("删除成功");
								_this.pageInfo.list.splice(index, 1);
								if(_this.pageInfo.list.length == 0) {
									_this.page(_this.pageInfo.prePage, 3);
								}
							}
						}
					});
				},
				/*重置*/
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				/*显示新增客户和车辆静态模态框*/
				add() {
					this.isShow4 = true;
				}
			},
			mounted() {
				this.page(1, 3);
			}
		});
	</script>

</html>