<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
			}
			
			.bg-purple-dark {
				background: #FAF8F6;
			}
			
			.bg-purple {
				background: #FAF8F6;
			}
			
			.bg-purple-light {
				background: #FAF8F6;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FAF8F6;
			}
		</style>
	</head>

	<body>
		<div id="che1Vm">
			<el-row>
				<el-col :span="12">
					<div class="grid-content bg-purple">
						<h1 style="margin-left: 10px;">       车辆信息</h1>

					</div>
					<p></p>
					<el-dialog title="车辆品牌" :visible.sync="isShow2">
						<template>
							<el-table :data="pp" border style="width: 100%">
								<el-table-column fixed prop="brandid" label="品牌id" width="150">
								</el-table-column>
								<el-table-column prop="brandname" label="品牌名称" width="120">
								</el-table-column>

								<el-table-column label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="xzpp(scope.row.brandid,scope.row.brandname)" type="text" size="small">选择</el-button>

									</template>
								</el-table-column>
							</el-table>
						</template>

					</el-dialog>

					<el-dialog title="车辆型号" :visible.sync="isShow3">
						<template>
							<el-table :data="cx1" border style="width: 100%">
								<el-table-column fixed prop="motorcycleid" label="车型id" width="150">
								</el-table-column>
								<el-table-column prop="motorcyclecxmc" label="车型名称" width="120">
								</el-table-column>
								<el-table-column label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="xzcx(scope.row.motorcycleid,scope.row.motorcyclecxmc)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>

					</el-dialog>

					<el-dialog title="客户" :visible.sync="isShow4">
						<template>
							<el-table :data="kh" border style="width: 100%">
								<el-table-column fixed prop="clientid" label="客户id" width="150">
								</el-table-column>
								<el-table-column prop="clientname" label="客户名称" width="120">
								</el-table-column>

								<el-table-column label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="xzkh(scope.row.clientid,scope.row.clientname)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>

					</el-dialog>

					<h></h>
				</el-col>
				<el-button type="primary" @click="add" plain>新增</el-button>

				<el-dialog title="提示" :visible.sync="isShow1" width="40%">
					<el-form :model="xzcl" ref="ruleForm" label-width="120px" class="demo-ruleForm">
						<el-form-item label="车牌" prop="name">
							<el-input v-model="xzcl.vehiclecp"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text" @click="isShow2 = true">车辆品牌
									<el-input v-model="xzcl.vehiclepp"></el-input>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text" @click="isShow3 = true">车辆型号
									<el-input v-model="xzcl.vehiclexh"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶员" prop="name">
							<el-input v-model="xzcl.vehiclejsy"></el-input>
						</el-form-item>
						<el-form-item label="驾驶员电话" prop="name">
							<el-input v-model="xzcl.vehicledh"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10">
								<el-form-item label="车辆归属" prop="region">
									<el-select v-model="xzcl.vehiclegs" placeholder="请选择活动区域">
										<el-option label="私家车" value="001"></el-option>
										<el-option label="公用车" value="002"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>
						<el-form-item label="发动机" prop="name">
							<el-input v-model="xzcl.vehiclefdj"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text" @click="isShow4 = true">客户名称
									<el-input v-model="xzcl.vehiclefname"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶证到期日期" required>
							<el-col :span="11">
								<el-form-item prop="date1">
									<el-date-picker type="date" placeholder="选择日期" v-model="xzcl.vehiclefdq" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item label="车架号" prop="name">
							<el-input v-model="xzcl.vehiclefcjh"></el-input>
						</el-form-item>
						<el-form-item label="发动机号" prop="name">
							<el-input v-model="xzcl.vehicleffdjh"></el-input>
						</el-form-item>
						<el-form-item label="载重" prop="name">
							<el-input v-model="xzcl.vehiclefzz"></el-input>
						</el-form-item>
						<el-form-item label="燃油类别" prop="name">
							<el-input v-model="xzcl.vehiclefrylb"></el-input>
						</el-form-item>
						<el-form-item label="车系" prop="name">
							<el-input v-model="xzcl.vehiclefcx"></el-input>
						</el-form-item>
					</el-form>
					<span slot="footer" class="dialog-footer">
                         <el-button>取 消</el-button>
                          <el-button type="primary" @click="qd">确 定</el-button>
                    </span>
				</el-dialog>

				<el-dialog title="提示" :visible.sync="isShow5" width="40%">
					<el-form :model="xzcl" ref="ruleForm" label-width="120px" class="demo-ruleForm">
						<el-form-item label="车牌" prop="name">
							<el-input v-model="xzcl.vehiclecp"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text" @click="isShow2 = true">车辆品牌
									<el-input v-model="xzcl.vehiclepp"></el-input>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text" @click="isShow3 = true">车辆型号
									<el-input v-model="xzcl.vehiclexh"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶员" prop="name">
							<el-input v-model="xzcl.vehiclejsy"></el-input>
						</el-form-item>
						<el-form-item label="驾驶员电话" prop="name">
							<el-input v-model="xzcl.vehicledh"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10">
								<el-form-item label="车辆归属" prop="region">
									<el-select v-model="xzcl.vehiclegs" placeholder="请选择活动区域">
										<el-option label="私家车" value="001"></el-option>
										<el-option label="公用车" value="002"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>
						<el-form-item label="发动机" prop="name">
							<el-input v-model="xzcl.vehiclefdj"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text" @click="isShow4 = true">客户名称
									<el-input v-model="xzcl.vehiclefname"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶证到期日期" required>
							<el-col :span="11">
								<el-form-item prop="date1">
									<el-date-picker type="date" placeholder="选择日期" v-model="xzcl.vehiclefdq" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-form-item label="车架号" prop="name">
							<el-input v-model="xzcl.vehiclefcjh"></el-input>
						</el-form-item>
						<el-form-item label="发动机号" prop="name">
							<el-input v-model="xzcl.vehicleffdjh"></el-input>
						</el-form-item>
						<el-form-item label="载重" prop="name">
							<el-input v-model="xzcl.vehiclefzz"></el-input>
						</el-form-item>
						<el-form-item label="燃油类别" prop="name">
							<el-input v-model="xzcl.vehiclefrylb"></el-input>
						</el-form-item>
						<el-form-item label="车系" prop="name">
							<el-input v-model="xzcl.vehiclefcx"></el-input>
						</el-form-item>
					</el-form>
					<span slot="footer" class="dialog-footer">
                         <el-button>取 消</el-button>
                          <el-button type="primary" @click="qd">确 定</el-button>
                    </span>
				</el-dialog>
				<template>
					<el-table :data="car" border style="width: 100%" height="250">
						<el-table-column fixed prop="vehiclecp" label="车牌">
						</el-table-column>
						<el-table-column prop="vehiclepp" label="车辆品牌">
						</el-table-column>
						<el-table-column prop="vehiclexh" label="车辆型号">
						</el-table-column>
						<el-table-column prop="vehiclejsy" label="驾驶员">
						</el-table-column>
						<el-table-column prop="vehicledh" label="电话">
						</el-table-column>
						<el-table-column prop="vehiclegs" label="归属">
						</el-table-column>
						<el-table-column prop="vehiclefname" label="客户名称">
						</el-table-column>
						<el-table-column prop="vehiclefdj" label="发动机">
						</el-table-column>
						<el-table-column prop="clientbz" label="邮编">
						</el-table-column>
						<el-table-column label="操作" width="150">
							<template slot-scope="scope">
								<el-button type="text" size="small" @click="update(scope.row.vehiclecp)">编辑</el-button>
								<el-button @click="del(scope.row.vehiclecp)" type="text" size="small">
									移除
								</el-button>
							</template>
						</el-table-column>
						</el-table-column>
					</el-table>
				</template>

			</el-row>
		</div>
	</body>
	<script>
		var che1Vm = new Vue({
			el: '#che1Vm',
			data: {
				car: [{
					vehiclecp: "qewq",
					vehiclepp: "企鹅舞",
					vehiclexh: "否都",
					vehiclejsy: "的说法是",
					vehicledh: "的说法是",
					vehiclegs: "撒发生",
					vehiclefdj: "001",
					vehiclefname: "撒发达",
					vehiclefdq: "分的高分",
					vehiclefcjh: "特工",
					vehicleffdjh: "符合规定",
					vehiclefzz: "恢复供电",
					vehiclefrylb: "的方式",
					vehiclefcx: "的符合规范",
					clientbz: "企鹅"
				}],
				cx1: [{
					motorcycleid: "1",
					motorcyclecxmc: "卡车"
				}, {
					motorcycleid: "2",
					motorcyclecxmc: "轿车"
				}],
				pp: [{
					brandid: "1",
					brandname: "烂破基尼"
				}, {
					brandid: "2",
					brandname: "爆屎结"
				}],
				kh: [{
					clientid: "1",
					clientname: "朱小鹏"
				}, {
					clientid: "2",
					clientname: "朱小月月鸟"
				}],
				ppid: "",
				cxid: "",
				khid: "",
				xzcl: {
					vehiclecp: "",
					vehiclepp: "",
					vehiclexh: "",
					vehiclejsy: "",
					vehicledh: "",
					vehiclegs: "",
					vehiclefdj: "001",
					vehiclefname: "",
					vehiclefdq: "",
					vehiclefcjh: "",
					vehicleffdjh: "",
					vehiclefzz: "",
					vehiclefrylb: "",
					vehiclefcx: ""
				},
				xzcl1: {
					vehiclecp: "",
					vehiclepp: "",
					vehiclexh: "",
					vehiclejsy: "",
					vehicledh: "",
					vehiclegs: "",
					vehiclefdj: "001",
					vehiclefname: "",
					vehiclefdq: "",
					vehiclefcjh: "",
					vehicleffdjh: "",
					vehiclefzz: "",
					vehiclefrylb: "",
					vehiclefcx: ""
				},
				isShow1: false,
				isShow2: false,
				isShow3: false,
				isShow4: false,
				isShow5: false
			},
			methods: {
				del(id) {},
				update(id) {
					this.isShow5 = true;
				},
				xzpp(id, name) {
					this.isShow2 = false;
					
				},
				xzcx(id, name) {
					this.isShow3 = false;
				},
				xzkh(id, name) {
					this.isShow4 = false;
				},
				add() {
					this.isShow1 = true;
				},
				qd() {}
			}
		});
	</script>

</html>