<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
			}
			
			.bg-purple-dark {
				background: #FAF8F6;
			}
			
			.bg-purple {
				background: #FAF8F6;
			}
			
			.bg-purple-light {
				background: #FAF8F6;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FAF8F6;
			}
		</style>
	</head>

	<body>
		<div id="che1Vm">
			<el-row>
				<el-col :span="12">
					<div class="grid-content bg-purple">
						<h1 style="margin-left: 10px;">       车辆信息</h1>

					</div>
					<p></p>
					<el-dialog title="发动机id" :visible.sync="isShow2" style="width: 50%;margin-left: 500px;">
						<template>
							<el-table :data="fadongjis.list" border style="width: 100%">
								<el-table-column fixed prop="fadongjiid" label="发动机id">
								</el-table-column>
								<el-table-column prop="fadongjiname" label="发动机名称">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="scope">
										<el-button @click="check(scope.row.fadongjiid,scope.row.fadongjiname)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current1" @prev-click="prev1" @next-click="next1" :total="this.fadongjis.pages*10">
							</el-pagination>
						</div>
					</el-dialog>
					<el-dialog title="客户" :visible.sync="isShow3" style="width: 50%;margin-left: 500px;">
						<template>
							<el-table :data="kh.list" border style="width: 100%">
								<el-table-column prop="kid" label="客户id">
								</el-table-column>
								<el-table-column prop="kname" label="客户名称">
								</el-table-column>
								<el-table-column label="操作" width="100">
									<template slot-scope="scope">
										<el-button @click="check1(scope.row.kid,scope.row.kname)" type="text" size="small">选择</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="page">
							<el-pagination layout="prev, pager, next" @current-change="current2" @prev-click="prev2" @next-click="next2" :total="this.kh.pages*10">
							</el-pagination>
						</div>
					</el-dialog>

					<h></h>
				</el-col>
				<el-button type="primary" @click="isShow1=true" plain>新增车辆</el-button>
				<el-dialog title="新增车辆" :visible.sync="isShow1" width="40%">
					<el-form :model="car" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="车牌" prop="name">
							<el-input v-model="car.carno"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 20px;">
								<el-button type="text">车辆品牌
									<el-input v-model="car.carpp"></el-input>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">车辆型号
									<el-input v-model="car.carxinghao"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶员" prop="name">
							<el-input v-model="car.driver"></el-input>
						</el-form-item>
						<el-form-item label="驾驶员电话" prop="name">
							<el-input v-model="car.driverphone"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10">
								<el-form-item label="车辆归属" prop="region">
									<el-select v-model="car.carguishu" placeholder="请选择车辆归属">
										<el-option label="私家车" value="私家车"></el-option>
										<el-option label="公用车" value="公用车"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>
						<el-form-item label="驾驶证到期日期" required>
							<el-col :span="11">
								<el-form-item prop="date1">
									<el-date-picker type="date" placeholder="选择日期" v-model="car.jszlostdate" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 20px;">
								<el-button type="text" @click="fadongji(1,3)">发动机
									<el-input v-model="fadongjiname"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="10" style="margin-left: 30px;">
								<el-button type="text" @click="client(1,3)">客户
									<el-input v-model="kname"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="燃油类别" prop="name">
							<el-input v-model="car.ranyoutype"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="addCar">立即创建</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</el-form-item>
				</el-dialog>

				<el-dialog title="修改车辆" :visible.sync="isShow4" width="40%">
					<el-form :model="car1" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="车牌" prop="name">
							<el-input v-model="car1.carno"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 20px;">
								<el-button type="text">车辆品牌
									<el-input v-model="car1.carpp"></el-input>
								</el-button>
							</el-col>
							<el-col :span="10" style="margin-left: 40px;">
								<el-button type="text">车辆型号
									<el-input v-model="car1.carxinghao"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="驾驶员" prop="name">
							<el-input v-model="car1.driver"></el-input>
						</el-form-item>
						<el-form-item label="驾驶员电话" prop="name">
							<el-input v-model="car1.driverphone"></el-input>
						</el-form-item>
						<el-row>
							<el-col :span="10">
								<el-form-item label="车辆归属" prop="region">
									<el-select v-model="car1.carguishu" placeholder="请选择车辆归属">
										<el-option label="私家车" value="私家车"></el-option>
										<el-option label="公用车" value="公用车"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
						</el-row>
						<el-form-item label="驾驶证到期日期" required>
							<el-col :span="11">
								<el-form-item prop="date1">
									<el-date-picker type="date" placeholder="选择日期" v-model="car1.jszlostdate" style="width: 100%;"></el-date-picker>
								</el-form-item>
							</el-col>
						</el-form-item>
						<el-row>
							<el-col :span="10" style="margin-left: 20px;">
								<el-button type="text" @click="fadongji(1,3)">发动机id
									<el-input v-model="car1.fadongjiid"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-row>
							<el-col :span="10" style="margin-left: 30px;">
								<el-button type="text" @click="client(1,3)">客户
									<el-input v-model="car1.kid"></el-input>
								</el-button>
							</el-col>
						</el-row>
						<el-form-item label="燃油类别" prop="name">
							<el-input v-model="car1.ranyoutype"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="updateCar">立即创建</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</el-form-item>
				</el-dialog>
				<template>
					<el-table :data="pageInfo.list" border style="width: 100%" height="250">
						<el-table-column prop="carno" label="车牌">
						</el-table-column>
						<el-table-column prop="carpp" label="车辆品牌">
						</el-table-column>
						<el-table-column prop="carxinghao" label="车辆型号">
						</el-table-column>
						<el-table-column prop="driver" label="驾驶员">
						</el-table-column>
						<el-table-column prop="driverphone" label="电话">
						</el-table-column>
						<el-table-column prop="carguishu" label="归属">
						</el-table-column>
						<el-table-column prop="kname" label="客户名称">
						</el-table-column>
						<el-table-column prop="fadongjiname" label="发动机">
						</el-table-column>
						<el-table-column label="操作" width="150">
							<template slot-scope="scope">
								<el-button type="text" size="small" @click="query(scope.row.kid,scope.row.carno)">查看</el-button>
								<el-button type="text" size="small" @click="queryCar(scope.row.carno)">编辑</el-button>
								<el-button @click="del(scope.row.carno)" type="text" size="small">
									移除
								</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
				<div class="page">
					<el-pagination layout="prev, pager, next" @current-change="current" @prev-click="prev" @next-click="next" :total="this.pageInfo.pages*10">
					</el-pagination>
				</div>
			</el-row>
			<template>
				<el-tabs v-model="activeName" type="border-card">
					<el-tab-pane label="客户信息" name="first">
						<el-row>
							<el-col :span="24">
								<div class="grid-content bg-purple-dark">
									<template>
										<el-table :data="kehu" border style="width: 100%" height="250">
											<el-table-column prop="kid" label="编号">
											</el-table-column>
											<el-table-column prop="kname" label="客户姓名">
											</el-table-column>
											<el-table-column prop="kaddress" label="详细地址">
											</el-table-column>
											<el-table-column prop="kphone" label="电话号码">
											</el-table-column>
											<el-table-column prop="borndate" label="出生日期">
											</el-table-column>
											<el-table-column prop="vip" label="用户类别">
												<template slot-scope="scope">{{ scope.row.vip==0?'一般用户':'会员' }}</template>
											</el-table-column>
											<el-table-column prop="vipcode" label="会员卡号">
											</el-table-column>
											<el-table-column prop="startdate" label="入会日期">
											</el-table-column>
										</el-table>
									</template>
								</div>
							</el-col>
						</el-row>
					</el-tab-pane>
					<el-tab-pane label="历史消费" name="second">
						<el-row>
							<el-col :span="24">
								<div class="grid-content bg-purple-dark">
									<template>
										<el-table :data="xf.list" border style="width: 100%" height="250">
											<el-table-column prop="danjutype" label="单据类型">
											</el-table-column>
											<el-table-column prop="recordid" label="销售单号">
											</el-table-column>
											<el-table-column prop="carno" label="车牌号">
											</el-table-column>
											<el-table-column prop="yewutype" label="维修业务">
											</el-table-column>
											<el-table-column prop="recorddate" label="进厂时间">
											</el-table-column>
											<el-table-column prop="recorddate" label="完工时间">
											</el-table-column>
											<el-table-column prop="jsdate" label="结算时间">
											</el-table-column>
											<el-table-column prop="jsmoney" label="消费金额">
											</el-table-column>
										</el-table>
									</template>
								</div>
								<div class="page">
									<el-pagination layout="prev, pager, next" @current-change="current3" @prev-click="prev3" @next-click="next3" :total="this.pageInfo.pages*10">
									</el-pagination>
								</div>
							</el-col>
						</el-row>
					</el-tab-pane>
			</template>
		</div>
	</body>
	<script>
		var che1Vm = new Vue({
			el: '#che1Vm',
			data: {
				activeName: 'first',
				fadongjiname: "",
				kname: "",
				xf: {},
				pageInfo: {},
				kehu: [],
				kh: {},
				fadongjis: {},
				car: {
					carpp: "",
					carxinghao: "",
					carno: "",
					driver: "",
					driverphone: "",
					carguishu: "",
					fadongjiid: "",
					jszlostdate: "",
					ranyoutype: "",
					kid: ""
				},
				car1: {
					carpp: "",
					carxinghao: "",
					carno: "",
					driver: "",
					driverphone: "",
					carguishu: "",
					fadongjiid: "",
					jszlostdate: "",
					ranyoutype: "",
					kid: ""
				},
				isShow1: false,
				isShow2: false,
				isShow3: false,
				isShow4: false
			},
			methods: {
				/*查询车辆*/
				queryCar(carno) {
					let _this = this;
					_this.isShow4 = true;
					$.getJSON(`http://127.0.0.1:8080/api/car/${carno}`,
						function(res) {
							_this.car1 = res;
						})
				},
				/*新增车辆*/
				addCar() {
					this.isShow1 = false;
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/car`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.car),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								alert("新增成功");
								_this.car = {
									carpp: "",
									carxinghao: "",
									carno: "",
									driver: "",
									driverphone: "",
									carguishu: "",
									fadongjiid: "",
									jszlostdate: "",
									ranyoutype: "",
									kid: ""
								}
							}
						}
					});
				},
				/*修改车辆*/
				updateCar() {
					this.isShow4 = false;
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/car`, {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.car1),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								alert("修改成功");
								_this.car1 = {
									carpp: "",
									carxinghao: "",
									carno: "",
									driver: "",
									driverphone: "",
									carguishu: "",
									fadongjiid: "",
									jszlostdate: "",
									ranyoutype: "",
									kid: ""
								}
							}
						}
					});
				},

				/*上一页客户查询*/
				prev2(cpage) {
					this.client(cpage, 3);
				},
				/*下一页客户查询*/
				next2(cpage) {
					this.client(cpage, 3);
				},
				/*当前页客户查询*/
				current2(cpage) {
					this.client(cpage, 3);
				},
				/*选择客户后回填数据*/
				check1(id, name) {
					this.car.kid = id;
					this.kname = name;
					this.isShow3 = false;
				},
				/*客户分页查询*/
				client(pageNum, pageSize) {
					let _this = this;
					_this.isShow3 = true;
					$.getJSON(`http://127.0.0.1:8080/api/kehu/${pageNum}/${pageSize}`,
						function(res) {
							_this.kh = res;
						})
				},
				/*上一页发动机查询*/
				prev1(cpage) {
					this.fadongji(cpage, 3);
				},
				/*下一页发动机查询*/
				next1(cpage) {
					this.fadongji(cpage, 3);
				},
				/*当前页发动机查询*/
				current1(cpage) {
					this.fadongji(cpage, 3);
				},
				/*选择发动机后回填数据*/
				check(id, name) {
					this.car.fadongjiid = id;
					this.fadongjiname = name;
					this.isShow2 = false;
				},
				/*查询所有发动机*/
				fadongji(pageNum, pageSize) {
					let _this = this; //非常重要
					_this.isShow2 = true;
					$.getJSON(`http://127.0.0.1:8080/api/fadongji/${pageNum}/${pageSize}`,
						function(res) {
							_this.fadongjis = res;
						})
				},
				/*点击查看*/
				query(id, carno) {
					this.queryKehu(id);
					this.queryXF(1, 3, carno);
				},
				/*根据id查询客户*/
				queryKehu(id) {
					let _this = this;
					_this.kehu = [];
					$.getJSON(`http://127.0.0.1:8080/api/kehu/vo/${id}`,
						function(res) {
							_this.kehu.push(res);
						})
				},
				/*上一页消费记录查询*/
				prev3(cpage) {
					this.queryXF(cpage, this.xf.list[0].carno);
				},
				/*下一页消费记录查询*/
				next3(cpage) {
					this.queryXF(cpage, 3, this.xf.list[0].carno);
				},
				/*当前页消费记录查询*/
				current3(cpage) {
					this.queryXF(cpage, 3, this.xf.list[0].carno);
				},
				/*查询消费记录*/
				queryXF(pageNum, pageSize, carno) {
					let _this = this; //非常重要
					$.getJSON(`http://127.0.0.1:8080/api/weixiu/car/${pageNum}/${pageSize}/${carno}`,
						function(res) {
							_this.xf = res;
						})
				},
				/*分页查询*/
				page(pageNum, pageSize) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/car/${pageNum}/${pageSize}`,
						function(res) {
							_this.pageInfo = res;
						})
				},
				/*上一页客户查询*/
				prev(cpage) {
					this.page(cpage, 3);
				},
				/*下一页客户查询*/
				next(cpage) {
					this.page(cpage, 3);
				},
				/*当前页客户查询*/
				current(cpage) {
					this.page(cpage, 3);
				},
				/*删除车辆*/
				del(carno) {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/car/${carno}`, {
						type: 'delete',
						contentType: 'application/json',
						success(data) {
							if(data.code == 200) {
								alert("删除成功");
								_this.page(_this.pageInfo.prePage, 3);
							}
						}
					});
				},
				/*重置*/
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
			},
			mounted() {
				this.page(1, 3);
			}
		});
	</script>

</html>