<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
			}
			
			.bg-purple-dark {
				background: #FAF8F6;
			}
			
			.bg-purple {
				background: #FAF8F6;
			}
			
			.bg-purple-light {
				background: #FAF8F6;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FAF8F6;
			}
			
			.demo-table-expand {
				font-size: 0;
			}
			
			.demo-table-expand label {
				width: 90px;
				color: #99a9bf;
			}
			
			.demo-table-expand .el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;
			}
		</style>
	</head>

	<body>
		<div id="JsVm">
			<el-row>
				<el-col :span="24">
					<div class="grid-content bg-purple-dark"></div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="5" style="margin-left: 600px;">
					<div>
						<el-form label-width="80px">
							<el-form-item label="销售单号">
								<el-input v-model="recordid"></el-input>
							</el-form-item>
						</el-form>
					</div>
				</el-col>
				<el-col :span="3">
					<div>
						<el-button type="primary" icon="el-icon-search" @click="queryrecordid">搜索</el-button>
					</div>
				</el-col>
				<el-col :span="4" style="margin-left: 200px;">
					<div>
						<el-form label-width="80px">
							<el-form-item label="结算状态">
								<el-select v-model="check" placeholder="请选择" @change="query">
									<el-option label="未结算" :value=0></el-option>
									<el-option label="已结算" :value=1></el-option>
								</el-select>
							</el-form-item>
						</el-form>
					</div>
				</el-col>
			</el-row>

			<template>
				<el-table :data="pageInfo.list" style="width: 100%">
					<el-table-column type="expand">
						<template slot-scope="props">
							<el-form label-position="left" inline class="demo-table-expand">
								<el-form-item label="销售单号">
									<span>{{ props.row.recordid }}</span>
								</el-form-item>
								<el-form-item label="单据类型">
									<span>{{ props.row.danjutype }}</span>
								</el-form-item>
								<el-form-item label="单据状态">
									<span v-if="props.row.status==1">已竣工</span>
									<span v-if="props.row.status!=1">未竣工<span>
								</el-form-item>
								<el-form-item label="结算方式">
									<span v-if="props.row.jstype==1">现金</span>
									<span v-if="props.row.jstype==2">银行卡<span>
								</el-form-item>
								<el-form-item label="结算状态">
									<span v-if="props.row.jsstatus==0">未结算</span>
									<span v-if="props.row.jsstatus!=0">已结算<span>
								</el-form-item>
								<el-form-item label="结算时间">
									<span>{{ props.row.jsdate }}</span>
								</el-form-item>
								<el-form-item label="结算金额">
									<span>{{ props.row.jsmoney }}</span>
								</el-form-item>
								<el-form-item label="业务类型">
									<span>{{ props.row.yewutype }}</span>
								</el-form-item>
								<el-form-item label="客户名称">
									<span>{{ props.row.kname }}</span>
								</el-form-item>
								<el-form-item label="维修班组">
									<span>{{ props.row.bzname }}</span>
								</el-form-item>
								<el-form-item label="车牌号">
									<span>{{ props.row.carno }}</span>
								</el-form-item>
								<el-button type="success" icon="el-icon-check" @click="js1(props.row.rorder)" circle v-if="props.row.jsstatus==0">结算</el-button>
							</el-form>
							<el-button type="text" @click="cx1( props.row.rorder)">费用明细</el-button>
							<el-dialog title="提示" :visible.sync="isShow1" width="30%" :before-close="handleClose">
								<h4 class="modal-title">费用明细</h4>
								<small class="font-bold">销售单号:{{props.row.rorder}}</small>
								<h5 class="font-bold">客户名：{{props.row.khname}} 客户级别：{{vip}} 客户折扣：{{vipzk}}</h5>
								<p class="font-bold">车牌号码&nbsp;&nbsp;&nbsp;&nbsp;{{props.row.carHno}}</p>
								<p class="font-bold">该小组维修 工时费:{{gsf}}</p>
								<p class="font-bold">当前消耗工时:&nbsp;&nbsp;&nbsp;{{gs}}</p>
								<p class="font-bold">共消费&nbsp;&nbsp;&nbsp;{{gxf}}</p>
								<p style="color: #999999; size: 5px;">计算方式：(小组工时费×共消耗工时)×客户折扣</p>
								<p></p>
								<span slot="footer" class="dialog-footer">
                          <el-button @click="isShow1 = false">取 消</el-button>
                     <el-button type="primary" @click="isShow1 = false">确 定</el-button>
                          </span>
							</el-dialog>
						</template>
					</el-table-column>
					<el-table-column label="销售单号" prop="recordid">
					</el-table-column>
					<el-table-column label="进厂时间" prop="recorddate">
					</el-table-column>
					<el-table-column label="完工时间" prop="yujidate">
					</el-table-column>
					<el-table-column label="车牌号" prop="carno">
					</el-table-column>
					<el-table-column label="结算状态" prop="jsstatus">
						<template slot-scope="scope">{{ scope.row.jsstatus==0?'未结算':'已结算' }}</template>
					</el-table-column>
				</el-table>
			</template>

			<div class="page">
				<el-pagination layout="prev, pager, next" @current-change="current" @prev-click="prev" @next-click="next" :total="this.pageInfo.pages*10">
				</el-pagination>
			</div>
		</div>

	</body>
	<script>
		function getNow(s) {
			return s < 10 ? '0' + s : s;
		}
		var JsVm = new Vue({
			el: '#JsVm',
			data: {
				check: 0,
				pageInfo: {},
				recordid:"",
				isShow1: false,
				vip: "会员",
				vipzk: "23121",
				gsf: "12",
				gs: "21",
				gxf: "323"
			},
			methods: {
				/*根据销售单号查询*/
				queryrecordid() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/weixiu/${this.recordid}`,
						function(res) {
							_this.pageInfo = res;
						})
				},
				/*分页查询*/
				page(pageNum, pageSize, status) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/weixiu/status/${pageNum}/${pageSize}/${status}`,
						function(res) {
							_this.pageInfo = res;
						})
				},
				/*上一页维修查询*/
				prev(cpage) {
					this.page(cpage, 3, this.check);
				},
				/*下一页维修查询*/
				next(cpage) {
					this.page(cpage, 3, this.check);
				},
				/*当前页维修查询*/
				current(cpage) {
					this.page(cpage, 3, this.check);
				},
				/*下拉框切换*/
				query() {
					this.page(1, 3, this.check);
				},
				cx1(id) {
					this.isShow1 = true
				},
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				}
			},
			mounted() {
				this.page(1, 3, 0);
			}
		});
	</script>

</html>