<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			.el-row {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.el-col {
				border-radius: 4px;
			}
			
			.bg-purple-dark {
				background: #FAF8F6;
			}
			
			.bg-purple {
				background: #FAF8F6;
			}
			
			.bg-purple-light {
				background: #FAF8F6;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FAF8F6;
			}
			
			.demo-table-expand {
				font-size: 0;
			}
			
			.demo-table-expand label {
				width: 90px;
				color: #99a9bf;
			}
			
			.demo-table-expand .el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;
			}
		</style>
	</head>

	<body>
		<div id="JsVm">
			<el-row>
				<el-col :span="24">
					<div class="grid-content bg-purple-dark"></div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="5" style="margin-left: 600px;">
					<div>
						<el-form label-width="80px">
							<el-form-item label="销售单号">
								<el-input v-model="recordid"></el-input>
							</el-form-item>
						</el-form>
					</div>
				</el-col>
				<el-col :span="3">
					<div>
						<el-button type="primary" icon="el-icon-search" @click="queryrecordid">搜索</el-button>
					</div>
				</el-col>
				<el-col :span="4" style="margin-left: 200px;">
					<div>
						<el-form label-width="80px">
							<el-form-item label="结算状态">
								<el-select v-model="check" placeholder="请选择" @change="query">
									<el-option label="未结算" :value=0></el-option>
									<el-option label="已结算" :value=1></el-option>
								</el-select>
							</el-form-item>
						</el-form>
					</div>
				</el-col>
			</el-row>
			<el-dialog title="登录会员" :visible.sync="isShow2" style="width: 1000px;margin-left: 500px;">
				<el-form ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<el-form-item label="会员账号" prop="clientid">
						<el-input v-model="vipcode" @blur="repetition"></el-input>
					</el-form-item>
					<el-form-item label="账号密码" prop="clientiphone">
						<el-input v-model="vippwd"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="loging">登录</el-button>
						<el-button @click="isShow2 = false">重置</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			<el-dialog title="会员信息" :visible.sync="isShow3" width=" 30%">
				<el-form ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<!--<el-row>
						<el-col :span="8">-->
					<p class="font-bold">vip卡号:&nbsp;&nbsp;&nbsp;&nbsp;{{vip.vipcode}}</p>
					<p class="font-bold">vip折扣:{{vip.vipdiscount}}</p>
					<p class="font-bold">积分:&nbsp;&nbsp;&nbsp;{{vip.jifen}}</p>
					<p class="font-bold">vip创建时间:&nbsp;&nbsp;&nbsp;{{vip.startdate}}</p>
					<h4 class="font-bold">折后价:&nbsp;&nbsp;&nbsp;{{jsmoney}}</h4>
					<el-form-item>
						<el-button type="primary" @click="show">确认</el-button>
						<el-button @click="isShow3 = false">取消</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			<el-dialog title="支付方式" :visible.sync="isShow4" width=" 30%">
				<el-form ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<template>
						<el-radio v-model="radio" label="1">现金</el-radio>
						<el-radio v-model="radio" label="2">银行卡</el-radio>
					</template>
					</p>
					<el-form-item style="margin-left: 100px;">
						<el-button type="primary" @click="insertjs">确认</el-button>
						<el-button @click="isShow4= false">取消</el-button>
					</el-form-item>
				</el-form>
			</el-dialog>
			<template>
				<el-table :data="pageInfo.list" style="width: 100%" @expand-change="expandChange">
					<el-table-column type="expand">
						<template slot-scope="props">
							<el-form label-position="left" inline class="demo-table-expand">
								<el-form-item label="销售单号">
									<span>{{ props.row.recordid }}</span>
								</el-form-item>
								<el-form-item label="单据类型">
									<span>{{ props.row.danjutype }}</span>
								</el-form-item>
								<el-form-item label="单据状态">
									<span v-if="props.row.status==1">已竣工</span>
									<span v-if="props.row.status!=1">未竣工<span>
								</el-form-item>
								<el-form-item label="结算方式">
									<span v-if="props.row.jstype==1">现金</span>
									<span v-if="props.row.jstype==2">银行卡<span>
								</el-form-item>
								<el-form-item label="结算状态">
									<span v-if="props.row.jsstatus==0">未结算</span>
									<span v-if="props.row.jsstatus!=0">已结算<span>
								</el-form-item>
								<el-form-item label="结算时间">
									<span>{{ props.row.jsdate }}</span>
								</el-form-item>
								<el-form-item label="结算金额">
									<span>{{ props.row.jsmoney }}</span>
								</el-form-item>
								<el-form-item label="业务类型">
									<span>{{ props.row.yewutype }}</span>
								</el-form-item>
								<el-form-item label="客户名称">
									<span>{{ props.row.kname }}</span>
								</el-form-item>
								<el-form-item label="维修班组">
									<span>{{ props.row.bzname }}</span>
								</el-form-item>
								<el-form-item label="车牌号">
									<span>{{ props.row.carno }}</span>
								</el-form-item>
								<el-button type="success" icon="el-icon-check" @click="js(props.row.recordid)" circle v-if="props.row.jsstatus==0">结算</el-button>
							</el-form>
							<el-button type="text" @click="isShow1 = true">费用明细</el-button>
							<el-dialog title="提示" :visible.sync="isShow1" width="30%" :before-close="handleClose">
								<h4 class="modal-title">费用明细</h4>
								<h5 class="font-bold">销售单号:{{props.row.recordid}}</h5>
								<h5 class="font-bold">客户名：{{props.row.kname}}&nbsp;&nbsp;<span v-if="props.row.jsstatus==1">客户级别：{{viptype}} 客户折扣：{{vipdiscount}}</span></h5>
								<p class="font-bold">车牌号码&nbsp;&nbsp;&nbsp;&nbsp;{{props.row.carno}}</p>
								<p>
									<el-table :data="prices" style="">
										<el-table-column label="该小组维修工时费" prop="bzcost">
										</el-table-column>
										<el-table-column label="当前消耗工时" prop="bztime">
										</el-table-column>
										<el-table-column label="人工费" prop="rgfei">
										</el-table-column>
										<el-table-column label="救援费" prop="jiuyuanfy">
										</el-table-column>
										<el-table-column label="维修项目总消费" prop="xmfei">
										</el-table-column>
										<el-table-column label="共消费" prop="sum">
										</el-table-column>
									</el-table>
								</p>
								<!--	<p class="font-bold">救援费:{{props.row.jiuyuanfy}}</p>
								<p class="font-bold">该小组维修 工时费:{{props.row.bzcost}}</p>
								<p class="font-bold">当前消耗工时:&nbsp;&nbsp;&nbsp;{{props.row.bztime}}</p>
								<p class="font-bold">人工费:&nbsp;&nbsp;&nbsp;{{rgfei}}</p>
								<p class="font-bold">维修项目总消费:&nbsp;&nbsp;&nbsp;{{xmfei}}</p>
								<p class="font-bold">共消费&nbsp;&nbsp;&nbsp;{{props.row.jsmoney}}</p>-->
								<p style="color: #999999; size: 5px;">计算方式：(人工费(小组工时费×共消耗工时)+维修业务费用+救援费)<span v-if="props.row.jsstatus==1">×会员折扣</span></p>
								<p>
									<el-table :data="fw" style="">
										<el-table-column label="销售单号" prop="recordid">
										</el-table-column>
										<el-table-column label="项目编号" prop="fwcod">
										</el-table-column>
										<el-table-column label="项目名称" prop="fwname">
										</el-table-column>
										<el-table-column label="项目价格" prop="fwprice">
										</el-table-column>
									</el-table>
								</p>
								<span slot="footer" class="dialog-footer">
                          <el-button @click="isShow1 = false">取 消</el-button>
                     <el-button type="primary" @click="isShow1 = false">确 定</el-button>
                          </span>
							</el-dialog>
						</template>
					</el-table-column>
					<el-table-column label="销售单号" prop="recordid">
					</el-table-column>
					<el-table-column label="进厂时间" prop="recorddate">
					</el-table-column>
					<el-table-column label="完工时间" prop="shijidate">
					</el-table-column>
					<el-table-column label="车牌号" prop="carno">
					</el-table-column>
					<el-table-column label="结算状态" prop="jsstatus">
						<template slot-scope="scope">{{ scope.row.jsstatus==0?'未结算':'已结算' }}</template>
					</el-table-column>
				</el-table>
			</template>

			<div class="page">
				<el-pagination layout="prev, pager, next" @current-change="current" @prev-click="prev" @next-click="next" :total="this.pageInfo.pages*10">
				</el-pagination>
			</div>
		</div>
	</body>
	<script>
		function getNow(s) {
			return s < 10 ? '0' + s : s;
		}
		var JsVm = new Vue({
			el: '#JsVm',
			data: {
				radio: "",
				prices: [],
				jsrecord: {
					recordid: "",
					jstype: "",
					jsmoney: ""
				},
				weixiu: {
					recordid: "",
					jsstatus: "1"
				},
				vip: {
					vipcode: "",
					vipdiscount: "",
					jifen: "",
					startdate: ""
				},
				vipcode: "",
				vippwd: "",
				check: 0,
				pageInfo: {},
				jsmoney: "",
				rgfei: "",
				xmfei: "",
				fw: [],
				viptype: "不是会员",
				vipdiscount: "0",
				recordid: "",
				isShow1: false,
				isShow2: false,
				isShow3: false,
				isShow4: false
			},
			methods: {
				show() {
					this.isShow3 = false;
					this.isShow4 = true;
				},
				/*新增结算*/
				insertjs() {
					this.jsrecord.jstype = this.radio;
					this.jsrecord.jsmoney = this.jsmoney;
					let _this = this;
					let jf = parseInt(_this.jsrecord.jsmoney * 0.01);
					_this.vip.jifen = jf + _this.vip.jifen;
					if(jf > 1000) {
						_this.vip.vipdiscount = "0.90";
					} else if(jf > 5000) {
						_this.vip.vipdiscount = "0.85";
					} else if(jf > 15000) {
						_this.vip.vipdiscount = "0.80";
					} else if(jf > 35000) {
						_this.vip.vipdiscount = "0.75";
					} else if(jf > 50000) {
						_this.vip.vipdiscount = "0.7";
					}
					$.ajax(`http://127.0.0.1:8080/api/js`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(_this.jsrecord),
						dataType: "json",
						success(res) {
							if(res.code == "200") {
								alert('保存成功');
								_this.jsrecord = {
									recordid: "",
									jstype: "",
									jsmoney: ""
								}
								_this.isShow4 = false;
								/*修改维修表结算状态*/
								$.ajax(`http://127.0.0.1:8080/api/weixiu`, {
									type: "put",
									contentType: "application/json",
									data: JSON.stringify(_this.weixiu),
									dataType: "json",
									success(res) {
										if(res.code == "200") {
											_this.page(1, 3, 0);
											_this.weixiu = {
												recordid: "",
												jsstatus: "1"
											};
										}
									}
								});
								/*修改vip表积分*/
								$.ajax(`http://127.0.0.1:8080/api/vip`, {
									type: "put",
									contentType: "application/json",
									data: JSON.stringify(_this.vip),
									dataType: "json",
									success(res) {
										if(res.code == "200") {
											_this.vip = {
												vipcode: "",
												vipdiscount: "",
												jifen: "",
												startdate: ""
											};
										}
									}
								});
							}
						}
					});
				},
				/*查询会员卡号是否存在*/
				repetition() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/vip/${this.vipcode}`,
						function(res) {
							if(res.code != 200) {
								alert("会员卡号不存在");
								_this.vipcode = "";
							}
						})
				},
				/*登入会员*/
				loging() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/vip/login/${this.vipcode}/${this.vippwd}`,
						function(res) {
							if(res.code == 200) {
								_this.isShow2 = false;
								_this.vipcode = "";
								_this.vippwd = "";
								alert("登录成功");
								_this.vip = res.data;
								_this.jsmoney = _this.jsmoney * res.data.vipdiscount;
								/*$.getJSON(`http://127.0.0.1:8080/api/vip/getSessionVip`,
									function(res) {});*/
								_this.isShow3 = true;
							}
						})
				},
				js(recordid) {
					let _this = this;
					if(confirm("是否有会员卡")) {
						_this.isShow2 = true;
						_this.vipcode = "";
						_this.vippwd = "";
					} else {
						_this.isShow4 = true;
					}
				},
				/*表格展开查询*/
				expandChange(row, expanded) {
					/*判断是否表格展开时*/
					if(expanded.length > 0) {
						let _this = this;
						this.jsrecord.recordid = row.recordid;
						this.weixiu.recordid = row.recordid;
						this.prices = [];
						if(row.jsstatus == 1) {
							_this.viptype = "不是会员";
							_this.vipdiscount = "0";
							$.getJSON(`http://127.0.0.1:8080/api/vip/kh/${row.kid}`,
								function(res) {
									_this.vipdiscount = res.vipdiscount;
									if(res.vipdiscount >= 0) {
										_this.viptype = "普通会员";
									}
								});
						}
						$.getJSON(`http://127.0.0.1:8080/api/fuwu/${row.recordid}`,
							function(res) {
								_this.fw = res;
								/*维修项目总价*/
								let sumfw = 0;
								_this.fw.forEach((item, i) => {
									sumfw += item.fwprice;
								})
								_this.xmfei = sumfw;
								/*人工费*/
								let sumren = row.bzcost * row.bztime;
								_this.rgfei = sumren;
								/*共消费*/
								let sum = sumfw + sumren + row.jiuyuanfy;
								/*回填数据*/
								if(row.jsstatus == 0) {
									row.jsmoney = sum;
									_this.jsmoney = row.jsmoney;
								}
								let price = {};
								price["bztime"] = row.bztime;
								price["bzcost"] = row.bzcost;
								price["jiuyuanfy"] = row.jiuyuanfy;
								price["rgfei"] = sumren;
								price["xmfei"] = sumfw;
								if(row.jsstatus == 0) {
									price["sum"] = sum;
								}
								if(row.jsstatus == 1) {
									price["sum"] = row.jsmoney;
								}
								_this.prices.push(price);
							})
					}
				},
				/*根据销售单号查询*/
				queryrecordid() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/weixiu/${this.recordid}`,
						function(res) {
							_this.pageInfo = res;
						})
				},
				/*分页查询*/
				page(pageNum, pageSize, status) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/weixiu/status/${pageNum}/${pageSize}/${status}`,
						function(res) {
							_this.pageInfo = res;
						})
				},
				/*上一页维修查询*/
				prev(cpage) {
					this.page(cpage, 3, this.check);
				},
				/*下一页维修查询*/
				next(cpage) {
					this.page(cpage, 3, this.check);
				},
				/*当前页维修查询*/
				current(cpage) {
					this.page(cpage, 3, this.check);
				},
				/*下拉框切换*/
				query() {
					this.page(1, 3, this.check);
				},
				/*重置*/
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				}
			},
			mounted() {
				this.page(1, 3, 0);
			}
		});
	</script>

</html>